<template>
	<view >
		<view class="pages u-skeleton " style="">
			<view style="padding: 20rpx;">
				<view class="u-flex " >
					<view class="u-flex-1 u-flex-y boxs boxs1" style="margin-right:20rpx ;" @click="_href('/pages/features/inventoryWarn/inventoryWarn')"> 
						<image src="../../../static/img/kc_yj.png" mode="scaleToFill" class="menus"></image>
						<text>库存预警</text>
					</view>
					<view class="u-flex-1 u-flex-y boxs boxs2" style="margin-right:20rpx ;" @click="_href('/pages/features/deliveryHistory/deliveryHistory')">
						<image src="../../../static/img/kc_jl.png" mode="scaleToFill" class="menus"></image>
						<text>发货列表</text>
					</view>
					<view class="u-flex-1 u-flex-y boxs boxs3"   @click="_href('/pages/features/inventoryHistory/inventoryHistory')">
						<image src="../../../static/img/kc_mx.png" mode="scaleToFill" class="menus"></image>
						<text>库存明细</text>
					</view>
				</view>
			</view>
			
			<u-sticky :offset-top="0" :h5-nav-height="0" ref="sticky" :enable="true">
				<view class="u-skeleton-rect" style="width: 100%;">
					<u-tabs :list="tabs"  active-color="#333" bar-active-color="#EC6633" :is-scroll="true" :current="currentTab"
					 @change="change"></u-tabs>
				</view>
			</u-sticky>

			<view class="cm_full u-flex-y" v-if="lists.length<=0 && loadStatus!='loading'">
				<u-empty mode="order"></u-empty>
			</view>
			<view class="listItems" v-else>
				<block v-for="(item,index) in  lists" :key="index">
					<view class="cm_bdb" style="background-color: #fff;padding-bottom: 20rpx;">				
						<view class="itemBox u-flex u-col-top">
							<image :src="item.goods_main_img" mode="aspectFill" class="itemPic"></image>
							<view class="u-flex-1" style="width: 62%;">
								<view class="cm_title u-font-32 cm_ellipsis2"> {{item.goods_title}}</view>
								<!-- <view class="cm_time">{{item.goods_title}}</view> -->
								<view class=" itemBody">
									<text class="cm_time " >{{item.skus_difference}}</text>
									<view class="u-flex-1"> 统一零售价：￥{{item.alone_price}}</view>
									<!-- <text class="cm_time" style="color:#D8392F;font-size: 32rpx;">库存: <text class="cm_price">{{item.stock_count}}</text> </text> -->
								</view>	
								
							</view>
						</view>
						
						<view class="u-flex " style="padding: 0 20rpx ;">
							<text :style="{color:item.stock_count>5?'#007AFF':'#D8392F'}">当前库存：{{item.stock_count}}件</text>
							<view class="u-flex-1"></view>
							<u-button  :plain="true"  @click="_href(`/pages/features/inventoryHistory/inventoryHistory?code=${item.store_code}`)" shape="circle" size="mini">库存明细</u-button>
							<view style="width: 20rpx;"></view>
							<u-button type="warning" @click="_href(`/pages/features/delivery/delivery?code=${item.store_code}`)" shape="circle" size="mini">发货</u-button>
						</view>
					</view>
				</block>
				

				<view class="u-flex" style="height: 80rpx;">
					<u-loadmore :status="loadStatus" />
				</view>
			</view>

			<u-top-tips ref="uTips" :z-index="10100" :navbar-height="0"></u-top-tips>
			<u-toast ref="uToast" />
			<view class="footer">
				<u-button shape="circle" @click="toBuy" :custom-style="{width:'100%'}" size="medium" type="primary">补货</u-button>
			</view>
			
		</view>
		<u-skeleton :loading="pageLoading" :animation="true" bgColor="#FFF"></u-skeleton>
	</view>
</template>

<script>
	const global_Class_zdjy = uni.getStorageSync('global_Class_zdjy')
	export default {
		data() {
			return {
				baseKey: 'StoreList',
				hasRow: 'Rows',
				formParams: {
					"class_code": "", //
					"pageIndex": 1, //页
					"pageSize": 100, //条
				},
				classList: [],
				tabs: [],
				commentList: [],
				onBottom: true,
				onTop: true,
				show: false,
				currentVuale: '',
				currentTab: 0
			};
		},
		onHide(){
			// this.$refs.sticky.disconnectObserver('contentObserver')
		},
		filters: {
			time(val) {

				return val.split(' ')[0]
			},
			study(val) {
				// console.log(val)
				let s = parseInt(val);
				return s
			}
		},
		onLoad(options) {
			let that = this
			uni.$on('refreshStore',()=>{
				that._loadData('refresh')
			});
			// let classList = [...global_Class_zdjy]
			//  classList.unshift({
			// 	class_code: "",
			// 	class_descript: "",
			// 	class_logo: "",
			// 	class_name: "全部",
			// 	list: []
			// })	
			let c = [{
				class_code: "",
				class_descript: "",
				class_logo: "",
				class_name: "全部",
				list: []
			}]
			// debugger
			this.classList = c.concat(global_Class_zdjy)  
			
		},
		onShow(){
			let a = [];
			this.classList.map(item => {
				a.push({
						name: item.class_name,
						value: item.class_code
				})
			})
			this.tabs = [...a]
			console.log(this.tabs)
			this.formParams.class_code = a[0].value
			this._loadData('refresh')
		},
		methods: {
			toBuy(){
				if(this.currentTab==0){
					this._href('/pages/features/classifyIn/classifyIn')
				}else{
					let item = this.classList[this.currentTab]
					this._href(`/pages/features/products/products?code=${item.class_code}&title=${item.class_name}`)
				}
				
				
			},
			change(index) {
				this.currentTab = index;
				this.formParams.class_code = this.classList[index].class_code;
				this.lists = [];
				this._loadData('refresh')
			},

			
		}
	};
</script>

<style lang="scss" scoped>
	.pages {
		padding-bottom: 108rpx;

		.header {
			position: fixed;
			left: 0;
			top: 0;
			width: 100vw;
			z-index: 10;
		}
		.boxs{
			border-radius: 12rpx;
			// background-color: #fff;
			// margin-bottom: 20rpx;
			height: 170rpx;
		}
		.boxs1{
			background: linear-gradient(90deg,#ED753B,#F19C5A);
			color: #fff;
		}
		.boxs2{
			background: linear-gradient(90deg,#4B4D4F,#797977);
			color: #fff;
		}
		.boxs3{
			background: linear-gradient(90deg,#5578FC,#6E97FC);
			color: #fff;
		}
		.menus{
			width: 60rpx;
			height: 60rpx;
		}
		.listItems {
			// padding: 20rpx;
			// height: 10000rpx;
			width: 100%;
			.itemBox{
				background-color: #fff;
				// border-radius: 12rpx;
				padding: 20rpx;
				.itemPic{
					width: 180rpx;
					height: 180rpx;
					border-radius: 12rpx;
					margin-right:24rpx ;
				}
				.itemBody{
					height: 74rpx;
				}
			}

		}
		.footer{
			height: 88rpx;
			position: fixed;
			left: 0;
			bottom: 0;
			width: 100%;
			padding: 0 30rpx;
			z-index: 100;
		}
	}
</style>
