<template>
	<view class="pages">
		<u-notice-bar mode="horizontal" :is-circular="false" :list="list"></u-notice-bar>
		<view style="padding: 20rpx;">
			<view class="boxs">
				<u-form :model="form" ref="uForm" label-width="150">	
					<u-form-item label="手机号码"  >
						<!-- <u-input v-model="form.mobile" /> -->
						<text>{{userInfo.consumer_mobile | encryptPhone}}</text>
					</u-form-item>
					<u-form-item label="验证码" prop="vilidate">
						<u-input v-model="form.vilidate" />
						<view slot="right">
							<u-button size="mini" slot="right" shape="circle" type="primary" @click="getCode">{{codeText}}</u-button>
						</view>
					</u-form-item>
					<view class="passBox">
						<view style="margin-bottom: 20rpx;">支付密码</view>
						<u-message-input :maxlength="6" :focus="false" :breathe="false" @change="syncPass" @finish="finishPass"></u-message-input>
					</view>
				</u-form>
			</view>
			<u-verification-code ref="uCode" @change="codeChange"></u-verification-code>
		</view>
		<view style="margin-top: 72rpx;padding: 0 20rpx;">
			<u-button shape="circle" @click="submit" :custom-style="{width:'100%'}" size="medium" type="primary">立即绑定</u-button>
		</view>
		<u-top-tips ref="uTips" :z-index="10100" :navbar-height="0"></u-top-tips>
		<u-toast ref="uToast" />
	</view>
</template>

<script>
	export default {
		data() {
			return {
				form: {
					   "pay_password": "",
					     "vilidate": "",
				},
				codeText: '',
				list: ['请安全保管好你的支付密码'],
				rules: {

					vilidate: [{
						required: true,
						min: 6,
						max:6,
						message: '请输入6位验证码',
						// 可以单个或者同时写两个触发验证方式 
						trigger: ['blur'],
					}]
				}
			}
		},
		filters:{
			encryptPhone(val){
				return val.replace(/(\d{3})\d*(\d{4})/,"$1****$2")
			}
		},
		onReady() {
			this.$refs.uForm.setRules(this.rules);

		},
		methods: {
			syncPass(value){
				console.log(value)
				this.form.pay_password = value
			},
			finishPass(){
				this.submit() 
			},
			submit() {
				let  that = this
				if(!this.form.pay_password || this.form.pay_password.length<6){
					this.$refs.uToast.show({
						title: '请输入6位支付密码',
						type: 'error',
						position: 'bottom'
					})
					return
				}
				this.$refs.uForm.validate(valid => {
					if (valid) {
						console.log('验证通过');
						that.setPass()
					} else {
						console.log('验证失败');
					}
				});
			},
			async setPass(){
				let that = this
				try {
					uni.showLoading()
					let res = await this.$api.SettingPayPassword(this.form);
					uni.hideLoading();
					if (res.Success) {
						that.$store.dispatch('refreshUser');
						that.$refs.uToast.show({
							title: '设置成功',
							type: 'success',
							position: 'bottom',
							back:true
						})
					} else {
						that.$refs.uToast.show({
							title: res.Msg,
							type: 'error',
							position: 'bottom',
							back:true
						})
					}
				} catch (err) {
					console.log('请求结果false : ' + err)
							
				}
			},
			codeChange(text) {
				this.codeText = text;
			},
			async getCode() {
				let that = this
				if (this.$refs.uCode.canGetCode) {
					// 模拟向后端请求验证码
					let data = {
						mobile: this.userInfo.consumer_mobile,
						type: 6 //1-注册 2-登陆 3-找回密码 6-修改支付密码 9-修改手机号
					};
					try {
						uni.showLoading({
							title: '正在获取验证码'
						})
						let res = await this.$api.getVerificateCode(data);
						uni.hideLoading();
						if (res.Success) {
							that.$refs.uCode.start();
							that.$refs.uTips.show({
								title: '验证码发送成功',
								type: 'success',
								duration: '1000'
							})
						} else {
							uni.showToast({
								icon: 'none',
								title: res.Msg ? res.Msg : '发送失败',
							});
						}
					} catch (err) {
						console.log('请求结果false : ' + err)
			
					}
			
				} else {
					this.$u.toast('倒计时结束后再发送');
				}
			}
		}
	}
</script>

<style lang="scss" scoped>
	.pages {
		.boxs {
			background-color: #fff;
			border-radius: 12rpx;
			padding: 0 20rpx;
			.passBox{
				padding: 30rpx 0;
			}
		}
	}
</style>
