<template>
	<view class="pages">
		<view class="header u-flex-y u-col-top ">
			<!-- <view class="u-flex-y u-col-top u-flex-1"> -->
				<u-count-to :start-val="0" :end-val="userInfo.consumer_blance" font-size="64" :decimals="2" color="#fff"></u-count-to>
				<view class="text">可提现金额(元)</view>
			<!-- </view> -->
			<!-- <navigator url="../withdrawHistory/withdrawHistory" style="color: #fff;">提现记录</navigator> -->
			<!-- <u-icon name="arrow-right" :size="30" color="#fff"></u-icon> -->
		</view>

		<view class="boxs">
			<view class="cells u-flex" @click="show = true">
				<view class="cm_title u-flex-1 u-text-left">提现到</view>
				<text class="u-font-26">{{currentWay.text?currentWay.text:'未设置'}}</text>
				<u-icon name="arrow-right" color="#999"></u-icon>
			</view>
			<u-action-sheet :safe-area-inset-bottom="true" :list="options" v-model="show" @click="_payWays"></u-action-sheet>
			<u-line></u-line>
			<view class="cells u-flex ">
				<view class="cm_title u-flex-1 u-text-left">账号信息</view>
				<text class="" style="color: #FF7047;" @click="updated">修改信息</text>
			</view>

			<view class="cell u-flex " v-if="currentWay.value==0">
				<view class=" label">真实姓名</view>
				<text class=" u-flex-1 u-text-left">{{userInfo.consumer_name}}</text>
			</view>
			<view class="cell u-flex " v-if="currentWay.value==1">
				<view class=" label">支付宝账号</view>
				<text class=" u-flex-1 u-text-left">{{userInfo.alipay_account}}</text>
			</view>
			<view class="cell u-flex " v-else>
				<view class=" label">微信账号</view>
				<text class=" u-flex-1 u-text-left">{{userInfo.weixin_account}}</text>
			</view>
		</view>
		<view class="boxs">
			<view class="cells u-flex ">
				<view class="cm_title u-flex-1 u-text-left">提现金额</view>
			</view>
			<view class=" u-flex ">
				<u-input class="u-flex-1 u-text-left" :value="amount" type="number" @input="syncValue" placeholder="请输入提现金额"></u-input>

				<!-- <input class="u-flex-1 u-text-left" :value="amount" type="number" @input="syncValue" placeholder="请输入提现金额" /> -->
				<text class="  u-text-left" style="color: #FF7047;" @click="all">全部提现</text>
			</view>
			<u-line></u-line>
			<view class=" u-flex " style="height: 80rpx;">
				<text style="font-size: 26rpx;">注：最低提现额度为<text style="color: #F96034;">100</text>元且为<text style="color: #F96034;">100</text>元的整数倍</text>
				<view class="u-flex-1"></view>
			</view>
		</view>
		<view style="margin-top: 72rpx;padding: 0 20rpx;">
			<u-button shape="circle" @click="next" :custom-style="{width:'100%'}" size="medium" type="warning">立即提现</u-button>
		</view>

		<u-mask :show="show2" @click="show2 = false">
			<view class="warp">
				<view class="rect u-flex-y" @click.stop>
					<view class="u-flex top">
						<view class="cm_title">身份验证</view>
						<view class="u-flex-1"></view>
						<navigator v-if="ifPayPass==0" style="color:#1192E0" url="/pages/role/payPassUpdated/payPassUpdated">设置支付密码</navigator>
						<text v-if="ifPayPass==1 && validateType==0" style="color:#1192E0" @click="validateType=1">支付密码校验</text>
						<text v-if="ifPayPass==1 && validateType==1" style="color:#1192E0" @click="validateType=0">验证码校验</text>

						<u-icon name="arrow-right" color="#1192E0"></u-icon>
					</view>

					<view class="center">
						<view class="cm_time u-text-center">{{validateType==1?'请输入支付密码':'请输入手机验证码'}}</view>
						<view class="animated fadeIn" v-if="validateType==1" style="padding-top: 30rpx;">
							<u-message-input :maxlength="6" :focus="false" :breathe="false" ref="message" @change="syncPass" @finish="finishPass"></u-message-input>
						</view>
						<view class="animated fadeIn" v-else>
							<u-form :model="form" ref="uForm" label-width="150">
								<u-form-item label="手机号码">
									<text>{{userInfo.consumer_mobile | encryptPhone}}</text>
								</u-form-item>
								<u-form-item label="验证码" prop="validate">
									<u-input v-model="validate" />
									<view slot="right">
										<u-button size="mini" slot="right" shape="circle" type="primary" @click="getCode">{{codeText}}</u-button>
									</view>
								</u-form-item>						
							</u-form>
						</view>
					</view>
					<u-verification-code ref="uCode" @change="codeChange"></u-verification-code>
					<u-button shape="circle" :custom-style="{width:'100%'}" @click="submit" size="medium" type="primary">立即提现</u-button>
					<!-- <view class="cm_time" style="font-size: 24rpx;">{{currentMsg.mark}}</view> -->
				</view>
			</view>
		</u-mask>
		<u-top-tips ref="uTips" :z-index="10100" :navbar-height="0"></u-top-tips>
		<u-toast ref="uToast" />
	</view>
</template>

<script>
	export default {
		data() {
			return {
				options: [],
				show: false,
				show2: false,
				currentWay: '',
				current: 0,
				amount: '',
				syncLock: false,
				form: {
					"cash_type": 1, //提现类型0-银行卡 1-支付宝 2-微信
					"pay_password": "",
					"apply_money": 0,
					"vilidate": "" //当传off时代表关闭该功能
				},
				validate: '',
				
				codeText: '获取验证码',
				ifPayPass: 0,
				validateType: 0,
				pay_password: '',
				timer:null
			};
		},
		filters: {
			encryptPhone(val) {
				return val.replace(/(\d{3})\d*(\d{4})/, "$1****$2")
			}
		},
		onShow() {
			this.ifPayPass = this.userInfo.is_password;
			if (this.ifPayPass == 1) {
				this.validateType = 1
			}
			this.show = false
			this.show2 = false
			let wxAccount = this.userInfo.weixin_account;
			let aliAccount = this.userInfo.alipay_account;

			if (!aliAccount) {
				uni.showModal({
					title: '小提示提醒您',
					content: '你还没有设置提现账户，立即前往设置',
					confirmText: '立即前往',
					success(e) {
						if (e.confirm) {
							uni.redirectTo({
								url: '/pages/features/set/set'
							})
						} else {
							uni.navigateBack({

							})
						}
					}
				})
				return;
			}
			let a = []
			if (aliAccount) a.push({
				text: '支付宝',
				value: '1'
			});
			// if (wxAccount) a.push({
			// 	text: '微信',
			// 	value: '2'
			// });

			if (a.length) {
				this.currentWay = a[0];
				this.options = [...a]
			}

		},
		methods: {
			syncPass(value) {
				// console.log(value)
				this.pay_password = value
			},
			finishPass() {
				this.submit()
				
			},
			next() {
				
				if (!this.amount ) {
					this.$refs.uTips.show({
						title: '请输入提现金额',
						type: 'error',
						duration: '1000'
					})
					return
				}
				// else if (0<this.amount<99) {
				// 	debugger
				// 	this.$refs.uTips.show({
				// 		title: '提现金额必须100元以上',
				// 		type: 'error',
				// 		duration: '1000'
				// 	})
				// 	return
				// }
				this.show2 = true
			},
			// 选支付方法
			_payWays(e) {
				console.log(e);
				this.current = e
				this.currentWay = this.options[e]
			},
			// 修改信息
			updated() {
				if (this.currentWay.value == 0) {
					uni.navigateTo({
						url: '/pages/role/bundingZFB/bundingZFB'
					})
				} else {
					uni.navigateTo({
						url: '/pages/features/set/set'
					})
				}
			},
			// 验证码
			codeChange(text) {
				this.codeText = text;
			},		
			async getCode() {
				let that = this
				if (this.$refs.uCode.canGetCode) {
					// 模拟向后端请求验证码
					let data = {
						mobile: this.userInfo.consumer_mobile,
						type: 7 //1-注册 2-登陆 3-找回密码 6-修改支付密码 9-修改手机号
					};
					try {
						uni.showLoading({
							title: '正在获取验证码'
						})
						let res = await this.$api.getVerificateCode(data);
						uni.hideLoading();
						if (res.Success) {
							that.$refs.uCode.start();
							that.$refs.uTips.show({
								title: '验证码发送成功',
								type: 'success',
								duration: '1000'
							})
						} else {
							uni.showToast({
								icon: 'none',
								title: res.Msg ? res.Msg : '发送失败',
							});
						}
					} catch (err) {
						console.log('请求结果false : ' + err)

					}

				} else {
					this.$u.toast('倒计时结束后再发送');
				}
			},
			// 初始化
			_reset(){
				let that = this
				this.show2 = false;
				this.validate = ''
				this.pay_password = ''
				
				if(this.validateType==0){
					that.$refs.uCode.reset()	
				}else{
					that.$refs.message.reset()
				}
				
				// debugger
				// this.$nextTick(function(){
					
				// })
			
				
			},
			// 提现
			async submit() {
				let that = this;
				if (this.validateType == 0) {
					// 手机验证码验证
					if (!this.validate) {
						that.$refs.uTips.show({
							title: '请输入验证码',
							type: 'error',
							duration: '1000'
						})
						return
					}
				} else {
					if (!this.pay_password || this.pay_password.lengh < 6) {
						that.$refs.uTips.show({
							title: '请输入6位有效的支付密码',
							type: 'error',
							duration: '1000'
						})
						return
					}
				}
				try {
					let data = {
						"cash_type":1, //提现类型0-银行卡 1-支付宝 2-微信
						"pay_password": "off",
						"apply_money": this.amount,
						"vilidate": "off" //当传off时代表关闭该功能
					}
					if(this.validateType == 0){
						data.vilidate = this.validate
					}else{
						data.pay_password = this.pay_password
					}
					that._reset()
					// console.log(data)
					that.$ui.showloading()
					let res = await that.$api.SubmitCash(data)
					that.$ui.hideloading()
					if (res.Success) {
						that.$store.dispatch('refreshUser')
	
						that.$refs.uToast.show({
							title: '提现成功',
							type: 'success',
							position: 'bottom',
							back: true
						})
						
					} else {
						// that.$ui.toast(res.Msg)
						that.$refs.uTips.show({
							title: res.Msg,
							type: 'error',
							duration: '1000'
						})
					}
					// console.log( '请求结果success : ' + JSON.stringify(res))
				} catch (err) {
					console.log('请求结果false : ' + err)
					that.loading = false
				}
			},
			all() {
				this.amount = this.userInfo.consumer_blance
			},
			// 矫正金额
			syncValue(e) {
				let that = this
				this.amount = e
				if (this.syncLock) {
					this.timer = null
					clearTimeout(this.timer)
					return;
				} else {
					this.syncLock = true
					let a = Number(e)
					if (a > this.userInfo.consumer_blance) {
						// console.log(a)
						a = this.userInfo.consumer_blance;

						that.$refs.uTips.show({
							title: '超过最大金额',
							type: 'warning',
							duration: '1000'
						})
					}
					this.timer = setTimeout(() => {
						that.syncLock = false
						if (a) {
							that.amount = Number(a.toFixed(2))
						} else {
							that.amount = ''
						}
						console.log(that.amount)
					}, 100)

				}

			},
		}
	}
</script>

<style lang="scss" scoped>
	.pages {
		.header {
			height: 192rpx;
			background-color: #B9956B;
			padding: 0 40rpx;

			.text {
				color: #fff;
			}
		}

		.boxs {
			background-color: #fff;
			margin-bottom: 20rpx;
			padding: 0 30rpx;

			.cell {
				line-height: 1;
				padding-bottom: 40rpx;

				.label {
					width: 150rpx;
				}
			}

			.cells {
				min-height: 112rpx;

				.cm_title {
					font-weight: 600;
				}
			}

		}

		.warp {
			display: flex;
			align-items: flex-end;
			justify-content: center;
			height: 100vh;
			width: 100vw;
		}

		.rect {
			width: 100vw;
			// height: 460rpx;
			background-color: #fff;
			border-radius: 14rpx 14rpx 0 0;
			padding: 40rpx;

			.top {
				height: 60rpx;
				line-height: 60rpx;
				width: 100%;
				margin-bottom: 20rpx;
			}

			.center {
				min-height: 160rpx;
				width: 100%;
				margin-bottom: 40rpx;
			}

			.InputBox {
				width: 100%;
				height: 72rpx;
				margin: 48rpx 0;
				background-color: #f4f4f4;
				border-radius: 12rpx;
				padding: 0 20rpx;
			}

			.cm_time {
				margin-top: 20rpx;
			}
		}
	}
</style>
