<template>
	<view class="pages">
		<view class="header" v-if="hasLogin">
			<view class="conmuerBox u-flex">
				<u-avatar :src="userInfo.consumer_head"></u-avatar>
				<view class="u-flex-1" style="margin-left: 24rpx;">
					<view class="title u-font-28 ">{{userInfo.consumer_nick_name?userInfo.consumer_nick_name:'未设置名称'}}</view>
					<view class="text u-font-24">{{userInfo.consumer_mobile}}</view>
				</view>
				<navigator class="actions u-font-26" url="../../features/healthMsg/healthMsg">填写健康信息</navigator>
			</view>
		</view>
		<view class="header" v-else>
			<view class="conmuerBox u-flex">
				<view style="font-size: 44rpx;color: #fff;">未登录</view>
				<view class="u-flex-1"></view>
				<u-button size="mini" shape="circle" type="primary" @click="_login">立即登录</u-button>
				<u-icon name="arrow-right" color="#fff"></u-icon>
			</view>
		</view>
		<view style="padding: 0 20rpx;">
			<view class="bars">
				<u-row>
					<u-col span="5">
						<view class="u-flex-y">
							<u-circle-progress active-color="#2979ff" :width="180" :percent="hasLogin&&health.health_score?health.health_score:0">
								<view class="u-progress-content">
									<view class="u-flex">
										<u-count-to :start-val="0" :end-val="hasLogin&&health.health_score?health.health_score:0" :font-size="36"></u-count-to>
										<text class="u-font-22">分</text>
									</view>
									<text class="find">健康评分</text>
								</view>
							</u-circle-progress>
							<view class="u-font-24" v-if="hasLogin">健康状态：{{health.health_score | healthText}}</view>
							<view class="u-font-24" v-else>健康状态: --</view>
							
						</view>
					</u-col>
					<u-col span="7">
						<view class="u-flex">
							<view class="subBars u-flex-y">
								<u-count-to :start-val="0" :end-val="hasLogin&&health.health_height?health.health_height:0" :font-size="34"></u-count-to>
								<view class="cm_text u-text-center u-font-20">身高（/cm）</view>
							</view>
							<view class="subBars u-flex-y">
								<u-count-to :start-val="0" :end-val="hasLogin&&health.health_weight?health.health_weight:0" :font-size="34"></u-count-to>
								<view class=" cm_text u-text-center u-font-20">体重（/kg）</view>
							</view>
						</view>
						<view class="u-flex">
							<view class="subBars u-flex-y" style="margin-top: 12rpx;">
								<view class="" style="font-size:34rpx ;">
									{{hasLogin&&health.health_blood?health.health_blood:0}}
								</view>
								<!-- <u-count-to :start-val="0" :end-val="hasLogin&&health.health_blood?health.health_blood:0" :font-size="34"></u-count-to> -->
								<view class="cm_text u-text-center u-font-20">血压（mmHg）</view>
							</view>
							<view class="subBars u-flex-y" style="margin-top: 12rpx;">
								<u-count-to :start-val="0" :end-val="hasLogin&&health.health_sugar?health.health_sugar:0" :font-size="34"></u-count-to>
								<view class="cm_text u-text-center u-font-20">血糖（mmol/L）</view>
							</view>
						</view>

					</u-col>
				</u-row>
			</view>

		</view>

		<view style="padding: 0 20rpx;">
			<view class="title">我的记录</view>
			<u-grid :col="4" :border="false">
				<u-grid-item @click="_auth_href('/pages/features/healthReports/healthReports?tabs=0')" >					
					<u-avatar src="../../../static/img/jk_tz.png" :size="90"></u-avatar>
					<view class="grid-text u-font-24">身高/体重</view>
				</u-grid-item>
				<u-grid-item @click="_auth_href('/pages/features/healthReports/healthReports?tabs=1')">
					<u-avatar src="../../../static/img/jk_xy.png" :size="90"></u-avatar>
					<view class="grid-text u-font-24">血压记录</view>
				</u-grid-item>
				<u-grid-item @click="_auth_href('/pages/features/healthReports/healthReports?tabs=2')">
					<u-avatar src="../../../static/img/jk_xt.png" :size="90"></u-avatar>
					<view class="grid-text u-font-24">血糖记录</view>
				</u-grid-item>			
				<u-grid-item @click="_auth_href('/pages/features/healthReports/healthReports?tabs=3')">
					<u-avatar src="../../../static/img/jk_yy.png" :size="90"></u-avatar>
					<view class="grid-text u-font-24">用药记录</view>
				</u-grid-item>
			</u-grid>
		</view>
		<view style="padding: 0 20rpx;">
			<view class="u-flex" style="margin-top: 48rpx;">
				<view class="title">中旦商城</view>
				<view class="u-flex-1"></view>
				<navigator class="cm_time" url="/pages/features/classifyIn/classifyIn">全部分类</navigator> 
				<u-icon name="arrow-right" :size="24" color="#999"></u-icon>
			</view>
			
			<view style="margin-top: 40rpx;">
				<block v-for="(item,index) in lists" :key="index">
					<view class="itemsBox" @click="_config_href(item)">
						<image :src="item.Img" mode="widthFix" class="contain"></image>
						<!-- {{item.Img}} -->
					</view>
				</block>	
			</view>
		</view>
	</view>
</template>

<script>
	export default {
		data() {
			return {
				baseKey: 'GetHealth',
				hasRow:'list',
				health: {}
			};
		},
		watch:{
			hasLogin(val){
				if(val){
					this._loadData('refresh')
				}
			}
		},
		onLoad() {
			if(this.hasLogin){
				this._loadData('refresh')
			}
			let  that = this
			uni.$on('refreshHealth',()=>{
				that._loadData('refresh')
			})
		},
		onPullDownRefresh() {
			if(this.hasLogin){
				this._loadData('refresh')
			}
			uni.stopPullDownRefresh()
		},
		filters: {
			healthText(val) {
				let text = ''
				val = parseInt(val)
				
				if(val>=90){
					text="健康"
				}else if(val>=80){
					text="良好"
				}else if(val>=60){
					text="欠佳"
				}else{
					text="亚健康"
				}
				// console.log(text)
				return text
			}
		},
		methods: {
			
			loadDataComplete(bool,data) {
				if(bool){
					// debugger
					this.health = data.healthReport
				}
				
			}
		}
	}
</script>

<style lang="scss" scoped>
	.pages {
		background-color: #fff;

		.header {
			width: 100%;
			height: 260rpx;
			background: linear-gradient(to top, #54ABF6, #248EE9);
			padding: 26rpx 20rpx 32rpx 53rpx;

			.conmuerBox {
				.title {
					color: #fff;
					margin: 0;
				}

				.text {
					color: #fff;
					margin: 0;
				}

				.actions {
					height: 46rpx;
					line-height: 46rpx;
					border-radius: 23rpx;
					background-color: #EE7E33;
					color: #fff;
					padding: 0 20rpx;
				}
			}
		}

		.bars {
			width: 100%;
			height: 248rpx;
			margin-top: -124rpx;
			border-radius: 12rpx;
			background-color: #EAF2FF;
			padding: 16rpx 20rpx;

			.subBars {
				width: 180rpx;
				height: 100rpx;
				border-radius: 12rpx;
				overflow: hidden;
				margin-left: 12rpx;
				background-color: #fff;
				text-align: center;
			}

			.find {
				height: 20rpx;
				line-height: 20rpx;
				padding: 0 8rpx;
				border-radius: 12rpx;
				color: #fff;
				background: #45B6F1;
				font-size: 16rpx;
			}

			.u-grid-item-box {
				padding: 0 !important;
			}
		}

		.title {
			font-size: 30rpx;
			font-weight: 600;
			
		}

		.itemsBox {
			width: 100%;
			margin-bottom: 10rpx;
		}
	}
</style>
