<template>
	<view class="pages">
		<!-- tab -->
		<u-sticky :offset-top="0" :h5-nav-height="0">
			<u-tabs :list="tabs" :is-scroll="false" bg-color="#fff" :current="current" @change="change"></u-tabs>
		</u-sticky>
		<!-- 切换内容 -->
		<view class="content">
			
			
				<!-- <view class="u-flex items">
					<image src="../../../static/img/xx_kc.png" mode="aspectFill" class="itemIcon"></image>
					<view class="u-flex-1 itemContent u-flex-y ">
						<view class="u-flex" style="margin-bottom:20rpx;width: 100%;">
							<view class="u-flex-1 cm_title">
								库存不足
							</view>
							<text class="cm_time u-text-left">2018-3-12</text>
						</view>
						<view class="cm_text" style="width: 100%;">你收到的上皮库存量已经不足</view>
					</view>
				</view>
				<view class="u-flex items">
					<image src="../../../static/img/xx_sy.png" mode="aspectFill" class="itemIcon"></image>
					<view class="u-flex-1 itemContent u-flex-y ">
						<view class="u-flex" style="margin-bottom:20rpx;width: 100%;">
							<view class="u-flex-1 cm_title">
								库存不足
							</view>
							<text class="cm_time u-text-left">2018-3-12</text>
						</view>
						<view class="cm_text" style="width: 100%;">你收到的上皮库存量已经不足</view>
					</view>
				</view>
				<view class="u-flex items">
					<image src="../../../static/img/xx_wl.png" mode="aspectFill" class="itemIcon"></image>
					<view class="u-flex-1 itemContent u-flex-y ">
						<view class="u-flex" style="margin-bottom:20rpx;width: 100%;">
							<view class="u-flex-1 cm_title">
								库存不足
							</view>
							<text class="cm_time u-text-left">2018-3-12</text>
						</view>
						<view class="cm_text" style="width: 100%;">你收到的上皮库存量已经不足</view>
					</view>
				</view> -->
				<!-- <u-loadmore :status="status" /> -->
				<view class="cm_full u-flex-y">
					<u-empty  mode="message"></u-empty>
				</view>
			
		</view>
		

	</view>
</template>

<script>
	// import uCharts from '../../../js_sdk/u-charts/u-charts/u-charts.js';
	// import Province from '../../../province.js';
	var _self;
	var canvaMap = null;
	export default {
		data() {
			return {
				cWidth: '',
				cHeight: '',
				pixelRatio: 1,
				serverData: '',
				load: false,
				tabs: [{
					name: '系统消息'
				}, {
					name: '我的消息'
				}],
				list:[],
				current: 0,
				status:'loadmore'  //通过status设置组件的状态，加载前值为loadmore，加载中为loading，没有数据为nomore
			}
		},
		onLoad() {


		},
		methods: {
			change(index) {
				this.current = index;
				let that = this
				
			},
			
		},
	}
</script>

<style lang="scss" scoped>
	.pages {
		.content{
			margin-top: 20rpx;
			
			.items{
				width: 100vw;
				padding: 0 20rpx;
				background-color: #fff;
				min-height: 172rpx;
				.itemIcon{
					width: 100rpx;
					height: 100rpx;
					border-radius: 50%;
					margin-right: 24rpx;
					
				}
				.itemContent{
					min-height: 172rpx;
					border-bottom: 1rpx solid #e5e5e5;
				}
				&:last-child{
					.itemContent{
						border-bottom: none
					}		
				}
			}
			
		}
		
	}

	
</style>
