<template>
	<view class="pages">
		<view class="header u-flex-y">
			<u-avatar src="../../../static/sy/logo.png" :size="180" mode="square"></u-avatar>
		</view>

		<view class="box">
			<u-form :model="loginParams" ref="uForm" label-width="50">
				<!-- <view class="inputs u-flex" title="">
					<text class="cm_text">邀请人：</text>
					<text class="u-flex-1 cm_text">{{invideMsg.consumer_nick_name?invideMsg.consumer_nick_name:'暂无邀请人'}}</text>
					<u-avatar v-if="invideMsg.consumer_head" :src="invideMsg.consumer_head" :size="60"></u-avatar>
				</view> -->
				<view class="inputs u-flex">
					<image src="../../../static/sy/ic_sj.png" class="icons" mode="scaleToFill"></image>
					<view class="u-flex-1" >
						<u-form-item   prop="mobile" :border-bottom="false">
							<u-input v-model="loginParams.mobile" placeholder="请输入手机号码" @focus="_lock" @blur="_unlock" />						
						</u-form-item>
					</view>
				</view>
				<view class="inputs u-flex">
					<image src="../../../static/sy/ic_yz.png" class="icons" mode="scaleToFill"></image>
					<view class="u-flex-1" >
						<u-form-item   prop="vilidate" :border-bottom="false">
							<u-input v-model="loginParams.vilidate" placeholder="请输入验证码" @focus="_lock" @blur="_unlock" />
							<view v-slot="right">
								<u-button size="mini" slot="right" shape="circle" type="primary" @click="getCode">{{codeText}}</u-button>
							</view>
						</u-form-item>
					</view>
				</view>
			</u-form>
			<u-verification-code ref="uCode" @change="codeChange"></u-verification-code>		
			<u-button shape="circle" @click="submit" :custom-style="{width:'100%',marginBottom:'32rpx'}" type="primary">立即登录</u-button>			
			<view class="u-flex" style="margin-bottom: 72rpx;">
				<navigator style="color:#007AFF" open-type="redirect" url="/pages/role/register/register"> 新用户注册</navigator>
			</view> 
			<!-- 	<view class="u-text-center">
				<navigator url="../mmLogin/mmLogin" open-type="redirect">密码登录</navigator>
			</view> -->

			<view class="footer cm_text u-flex" v-if="!lock">
				<text>注册登录代表您已同意中旦大学平台</text>
				<navigator url="../../features/aboutUs/aboutUs" style="color: #2F96F3;">《用户协议、隐私政策》</navigator>
			</view>
		</view>
		<u-top-tips ref="uTips" :navbar-height="0"></u-top-tips>
		<u-toast ref="uToast" />
	</view>
</template>

<script>
	import SET from '@/SET.js';
	export default {
		data() {
			return {
				loginParams: {
					"mobile": "", //手机号
					"vilidate": "", //验证码
					"openId": "", //openid
					"wx_code_type": 0, //0-公众号 1-小程序(不传默认为0)
				},
				invideMsg: '',
				codeText: '',
				rules: {
					mobile: [{
							required: true,
							message: '请输入电话',
							// 可以单个或者同时写两个触发验证方式 
							trigger: ['blur'],
						},
						{
							validator: (rule, value, callback) => {
								return this.$u.test.mobile(value);
							},
							message: '请输入正确的电话号码',
							trigger: ['blur'],
						}
					],
					vilidate: [{
							required: true,

							message: '请输入有效验证码',
							// 可以单个或者同时写两个触发验证方式 
							trigger: ['blur'],
						},
						{
							min: 6,
							message: '长度在6位以上',
							trigger: ['blur'],
						},
					]
				}
			};
		},
		onReady() {
			this.$refs.uForm.setRules(this.rules);
		},
		onLoad() {
			let that = this
			const inviCode = uni.getStorageSync('inviCode')		
			const opId = uni.getStorageSync(SET.opIdName)
			// const wxaccount = uni.getStorageSync('zdjy_miniAccount');
			this.loginParams.openId = opId;

			
			// #ifdef H5
				this.loginParams.wx_code_type = 0;				
			// #endif
			// #ifdef MP
				this.loginParams.wx_code_type = 1;
			// #endif
			
			if (inviCode) {
				this.loginParams.invitation = inviCode
				this.$nextTick(function() {
					that.$refs.uTips.show({
						title: `发现邀请码：${inviCode}`,
						type: 'primary',
						duration: '1000'
					})
					that.loadInvide(inviCode)
				})

			}

			
		},
		methods: {
			async loadInvide(inviCode) {
				let that = this
				try {
					that.$ui.showloading()
					let res = await this.$api.GetParentInfo({
						invitation: inviCode
					});
					that.$ui.hideloading()
					console.log(res)
					if (res.Success) {
						that.invideMsg = res.Data

					} else {
						this.$refs.uToast.show({
							title: res.Msg ? res.Msg : '未找到邀请人',
							type: 'error',
							position: 'bottom'
						})
					}
				} catch (err) {
					that.$ui.hideloading()
					console.log('请求结果false : ' + err)

				}
			},
			_nav() {
				uni.redirectTo({
					url: '../mmLogin/mmLogin'
				})
			},
			submit() {
				// debugger
				let that = this
				this.$refs.uForm.validate(async valid => {
					if (valid) {
						try {
							that.$ui.showloading()
							let res = await this.$api.MobileToken(that.loginParams);
							that.$ui.hideloading()
							// console.log(res)
							if (res.Success) {
								uni.setStorageSync(SET.tokenName, res.Data)
								that.$store.commit('userLogin');
								that.$store.dispatch('refreshUser')
								this.$refs.uToast.show({
									title: '登陆成功',
									type: 'success',
									position: 'bottom',
									back: true
								})

							} else {
								this.$refs.uToast.show({
									title: res.Msg ? res.Msg : '登录失败',
									type: 'error',
									position: 'bottom',
									callback(){
										// uni.showModal({
										// 	title:'立即注册新会员?',
										// 	success(res) {
										// 		if(res.confirm){
										// 			that.autoRegiste();
										// 		}
										// 	}
										// })
										// that.autoRegiste();
									}
								})
								
							}
						} catch (err) {
							that.$ui.hideloading()
							console.log('请求结果false : ' + err)

						}
					} else {
						that.$refs.uTips.show({
							title: '请完善表单信息',
							type: 'warning',
							duration: '1000'
						})
					}
				});
			},
			
			codeChange(text) {
				this.codeText = text;
			},
			async getCode() {
				let that = this
				if (this.$refs.uCode.canGetCode) {
					// 模拟向后端请求验证码
					uni.showLoading({
						title: '正在获取验证码'
					})
					if (!this.loginParams.mobile || !this.$u.test.mobile(this.loginParams.mobile)) {
						// this.$ui.toast('请输入正确的手机号码')
						this.$refs.uToast.show({
							title: '请输入正确的手机号码',
							type: 'warning',
							position: 'bottom'
						})
						uni.hideLoading()
						return;
					}
					let data = {
						mobile: this.loginParams.mobile,
						type: 2 //1,注册 2,登录 3,找回 4.银行卡 8-提现
					};
					try {
						let res = await this.$api.getVerificateCode(data);

						if (res.Success) {
							that.$refs.uCode.start();
							uni.hideLoading();
							that.$refs.uCode.start();
							that.$refs.uTips.show({
								title: '验证码发送成功',
								type: 'success',
								duration: '1000'
							})
						} else {
							uni.showToast({
								icon: 'none',
								title: res.Msg ? res.Msg : '发送失败',
							});
						}
					} catch (err) {
						console.log('请求结果false : ' + err)

					}

				} else {
					this.$u.toast('倒计时结束后再发送');
				}
			}
		}
	}
</script>

<style lang="scss" scoped>
	.pages {
		background-color: #fff;
		width: 100vw;
		height: 100vh;
		.invideBox {
			height: 88rpx;
			line-height: 88rpx;
			border-radius: 156rpx;
			margin-bottom: 40rpx;
			background-color: #f1f1f1;
		}

		.header {
			height: 500rpx;
			width: 100vw;
		}

		.box {
			padding: 0 50rpx;

		}

		.inputs {
			height: 88rpx;
			// line-height: 88rpx;
			border-radius: 44rpx;
			background-color: #F7F7F7;
			margin-bottom: 36rpx;
			padding: 0 20rpx;
			position: relative!important;
		}

		.icons {
			width: 36rpx;
			height: 36rpx;
			margin-right: 10rpx;
			margin-left: 10rpx;
		}

		.footer {
			position: fixed;
			left: 0;
			bottom: 32rpx;
			width: 100vw;
			font-size: 22rpx;
		}
		
	}
	// .u-form-item{
	// 	position: relative!important;
	// }
	.u-form-item__message{
		font-size: 13px;
		line-height: 13px;
		color: #fa3534;
		margin-top: 6px;
		position: absolute!important;
		bottom: -10px;
		left: 0;
	}.u-form-item__message{
		font-size: 13px;
		line-height: 13px;
		color: #fa3534;
		margin-top: 6px;
		position: absolute!important;
		bottom: -10px;
		left: 0;
	}
</style>
