<template>
	<view>
		<view class="pages u-skeleton">
			<view class="page-section swiper u-skeleton-rect">
				<swiper class="swiper" :indicator-dots="true" :autoplay="true">
					<block v-for="(item, index) in banners" :key="index">
						<swiper-item>
							<image :src="item" mode="aspectFill" lazy-load="true" class="swiper-item uni-bg-red" style="width: 100%;height: 100%;"></image>
						</swiper-item>
					</block>
				</swiper>
			</view>

			<view class="boxs box1">
				<view class="u-flex titleBox u-skeleton-fillet" >
					<text class="cm_price">￥{{ goods.goods_price }}</text>
					<text class="cm_price_delete " >￥{{ goods.goods_original_price }}</text>
					<view class="u-flex-1"></view>
				</view>
				<view class="cm_title u-skeleton-fillet">
					{{ goods.goods_title }}
				</view>
				<view class="logoBox u-flex  flex_center u-skeleton-fillet">
					<u-avatar :src="shopInfo.shop_logo" :size="60"></u-avatar>
					<view class=" cm_title   name" >{{shopInfo.shop_name}}</view>
					<view class="blank "></view>
					<view class="u-flex-1"></view>
				</view>
			</view>

			<view class="boxs box4">
				<view class="u-flex cells u-skeleton-fillet" style="margin-top: 20rpx;">
					<view class="u-flex-1 cm_des">发货地</view>
					<u-icon name="position-fill" color="#333" :size="16" style="margin-right: 4rpx;"></u-icon>
					<text class="" v-if="shopInfo.shipments_address">{{shopInfo.shipments_address.area}}</text>
				</view>
				<view class="u-flex cells ">
					<view class="u-flex-1 u-flex u-skeleton-rect">
						<u-icon name="checkmark-circle " color="#EC6D43 " :size="36"></u-icon>
						<text class="cm_des" style="margin-left: 8rpx;">上市公司</text>
					</view>
					<view class="u-flex-1 u-flex u-skeleton-rect">
					    <u-icon name="checkmark-circle " color="#EC6D43 " :size="36"></u-icon>
						<text class="cm_des" style="margin-left: 8rpx;">正品保障</text>
					</view>
					<view class="u-flex-1 u-flex u-skeleton-rect">
						<u-icon name="checkmark-circle " color="#EC6D43 " :size="36"></u-icon>
						<text class="cm_des" style="margin-left: 8rpx;">全国联保</text>
					</view>
					<view class="u-flex-1 u-flex u-skeleton-rect">
						<u-icon name="checkmark-circle " color="#EC6D43 " :size="36"></u-icon>
						<text class="cm_des" style="margin-left: 8rpx;">7天退换</text>
					</view>
				</view>
			</view>
			<!-- <view class="boxs box3">
				<view class="picBox flex  flex_center">
					<u-avatar :src="shopInfo.shop_logo" :size="100"></u-avatar>
					<view class="u-flex-1 u-skeleton-fillet">
						<view class=" cm_title   name">{{ shopInfo.shop_name }}</view>
					</view>
					<navigator url="/pages/main/main" open-type="switchTab" class="cm_des">进店逛逛</navigator>
					<u-icon name="arrowright" color="#999" :size="16"></u-icon>
				</view>
			</view> -->

			<view class="commonTit u-flex u-skeleton-fillet">
				<view class="blank"></view>
				<view class="cm_title">商品详情</view>
				<view class="blank"></view>
			</view>
			<view class="richBox u-skeleton-rect">
				<rich-text :nodes="goods.goods_details"></rich-text>
			</view>
			<view class="footer  u-skeleton-rect" >
				<view class="u-flex" style="padding: 10rpx 24rpx;">
					<view class=" u-flex-y mes u-skeleton-circle" @click="_phone">
						<u-icon name="chat " color="#333 " :size="44"></u-icon>
						<text class="cm_des ">客服</text>
					</view>
					<!-- <view class="flex  flex_y flex_center mes" @click="cart">
						<u-icon name="chat " color="#333 " :size="44"></u-icon>
						<text class="cm_des ">购物车</text>
					</view> -->
					<view class="btnBox u-flex-1 u-skeleton-fillet" style="margin-left: 20rpx;">
						<button class="btns hot" @click="_next">立即购买</button>					
					</view>
					<!-- <view class=" btnBox u-flex" style="margin-left: 20rpx;"> -->
						<!-- <button class="btns" @click="_next" :disabled="goods.project_status != 1">加入购物车</button> -->
						<!-- <view class="btns hot flex flex_y flex_center" v-if="goods.is_activity==1?true:false" @click="_next">
							<view class="cm_t_20">马上抢</view>
							<view class="" style="margin-top: 8rpx;">折后￥{{goods.project_raise_price}}</view>
						</view> -->
						<!-- <button class="btns sure" @click="_next">立即购买</button>
					</view> -->
				</view>

			</view>

			<!-- <u-modal :show="modal" @click="handleClick" @cancel="hide" :content="content" :maskClosable="false" color="#333"
			 :size="32"></u-modal> -->
			<xhStoreParamsSKU 
			:platform="platform" ref="params" 
			:preImg="banners[0]" 
			:title="goods.goods_title" 
			:specifications="specifications"
			 :difference="skuList"
			 :defaultstock="goods.default_stock" 
			 :defaultprice="goods.default_price"
			
			 :ifActive="true"
			 @creatOrder="creatOrder"
			 @addCard="addCard"
			  :singlePro="false"
			  ></xhStoreParamsSKU>
			<!-- <image src="../../../static/img/ic_xq_zd.png" mode="aspectFill" class="backBtn animated slideInUp" @click="_backTop"></image> -->
			<view class="asideBar u-flex animated slideInUp" @click="home">
				<u-icon name="home" :size="20" color="#fff"></u-icon>
			</view>
		</view>
		<u-skeleton :loading="pageLoading" :animation="true" bgColor="#FFF"></u-skeleton>
	</view>
</template>

<script>

	import tuiNumberbox from '@/components/numberbox/numberbox';
	
	const global_Set_zdjy = uni.getStorageSync('global_Set_zdjy');
	import xhStoreParamsSKU from '@/components/xhStoreParamsSKU/xhStoreParamsSKU';
	import {
		mapState,
		mapMutations
	} from 'vuex';
	// import bestPaymentPassword from '@/components/best-payment-password/best-payment-password.vue';
	export default {
		data() {
			return {
				pageLoading:true,
				list: [],
				index: 1,
				business: {
					shipments_address: ''
				},
				
				auction: '',
				skeletonShow: true,
				formParams: {
					goods_code: ''
				},
				phoneNum: global_Set_zdjy.customer_mobile,
				showAll: false,
				modal: false,
				time: null,
				
				goods: '',
				banners: [],
				shopInfo:'',
				skuList: [],
				specifications: [],
				
				showModalStatus: false,
		
				endTime: '',
				platform: 'android',
				activityInfo: '' //限时购信息
			};
		},
	
		components: {
			// tuiSkeleton,
			// tuiCountdown,
			// // bestPaymentPassword,
			// CountCalc,
			tuiNumberbox,
			xhStoreParamsSKU
		},
		onLoad(options) {
			this.formParams.goods_code = options.code;

			this._loadData('refresh');

		},
		onUnload() {
			// alert(2)
			clearInterval(this.time);
			this.time = null;
		},
		computed: {
			...mapState(['hasLogin', 'ifx']),
			accountInfo() {
				return this.$store.state.accountInfo;
			},
			restTimeValied() {
				let t = this.endTime
				// console.log(t)
				if (!t) {
					return false
				}
				let s = new Date(t).getTime()

				let n = new Date().getTime();
				// console.log(s)
				let date = s - n;

				let days = date / 1000 / 60 / 60 / 24;
				let daysRound = Math.floor(days);
				let hours = date / 1000 / 60 / 60 - (24 * daysRound);
				let hoursRound = Math.floor(hours);
				let minutes = date / 1000 / 60 - (24 * 60 * daysRound) - (60 * hoursRound);
				let minutesRound = Math.floor(minutes);
				let seconds = date / 1000 - (24 * 60 * 60 * daysRound) - (60 * 60 * hoursRound) - (60 * minutesRound);
				let secondsRound = Math.floor(seconds);
				let time = "倒计时" + (daysRound + "天" + hoursRound + "时" + minutesRound + "分" + secondsRound + "秒");

				let obj = {
					d: parseInt(daysRound),
					h: parseInt(hoursRound),
					m: parseInt(minutesRound),
					s: parseInt(secondsRound)
				}
				console.log(obj);
				return obj
			}
		},
		methods: {
	
			_phone() {
				// 客服热线
				uni.showModal({
					title: '提示',
					content: '是否确定拨打商家电话',
					success: function(res) {
						if (res.confirm) {
							uni.makePhoneCall({
								phoneNumber: global_Set_zdjy.customer_mobile //仅为示例
							});
						} else if (res.cancel) {
							console.log('用户点击取消');
						}
					}
				});
			},
			_backTop() {
				uni.pageScrollTo({
					scrollTop: 0,
					duration: 100
				});
			},
			_none() {},
			_toggleModal() {
				this.showModalStatus = !this.showModalStatus;
			},
			addCard(data) {
				this._addCard(data);
			},
			creatOrder(data) {
				this._buy(data);
			},
			// 显示参数框
			_next() {
				if (!this.hasLogin) {
					if (this.ifWx) {
						// debugger
						uni.navigateTo({
							url: '/pages/role/wxLogin/wxLogin'
						})
					} else {
						uni.navigateTo({
							url: '/pages/role/yzmLogin/yzmLogin'
						})
					}
					return;
				}
				this.$refs.params.show();
			},
			// 关闭
			hideModal() {
				this.showModalStatus = false;
			},
			// 加载
			async _loadData(type, callback) {
				let that = this;
				try {
					let res = await this.$api.GetGoodsInfo(this.formParams);
					console.log(res)
					if (res.Success) {
						that.goods = res.Data.goods;
						that.shopInfo = res.Data.ShopInfo;
						
						that.banners = res.Data.goods.goods_main_img.split(',');
						that.details_img = res.Data.goods.goods_details;
						// that.service1 = res.Data.projectService1;
						// that.service2 = res.Data.projectService2;
						// that.service3 = res.Data.projectService3;

						that.skuList = res.Data.skuList;
						that.specifications = res.Data.specList;
						if (that.goods.is_activity == 1) {
							that.activityInfo = res.Data.activityInfo;
							that.endTime = res.Data.activityInfo.end_date
						}
						// setTimeout(() => {
						if (that.skeletonShow) {
							that.pageLoading = false;
						}

						// }, 1000);
					} else {
						that.$ui.toast(res.Msg);
					}
					that.pageLoading = false;
				} catch (err) {
					console.log('请求结果false : ' + err);
					that.pageLoading = false;
				}
				if (callback) callback();
			},
			// 购买
			_buy(data) {
				console.log(222, data);
				if (!this.hasLogin) {
					// this.content = '请您先登录';
					// this.action = 'login'; ///features/authentication/authentication'
					// this.modal = true;
					// return;
				} else {
					let d = {
						id: data.id ? data.id : '',
						difference: data.difference ? data.difference.join(',') : '',
						price: data.sellprice ? data.sellprice : '',
						origin: data.origin ? data.origin : '',
						stock: data.stock ? data.stock : ''
					};
					let cardData = {
						shop_name: this.shopInfo.shop_name,
						shop_logo: this.shopInfo.shop_logo,
						project_code: this.formParams.goods_code,
						project_name: this.goods.goods_title,
						project_img: this.banners[0],
						is_ems: this.goods.is_ems,
						project_parameter_type: 1,
						project_spec: d,
						project_price: this.goods.goods_original_price,
						project_raise_price: this.goods.goods_price,
						project_num: data.selectNum,
						project_service1: data.goods_service_code.serve1,
						project_service2: data.goods_service_code.serve2,
						project_service3: data.goods_service_code.serve3
					};
					// this.$store.commit('creatOrder', [cardData]);
					uni.setStorageSync('creatOrder', [cardData])
					uni.navigateTo({
						url: '/pages/features/createOrder/createOrder?type=0'
					});
					// }
				}
			},

			// 加入购物车
			async _addCard(data) {
				console.log(111, data);
				// if(!data.id){
				// 	this.$ui.toast('请选择规格')
				// 	return
				// }
				let that = this;
				let agr = {
					// project_code:
					project_code: this.formParams.project_code,
					parameter_code: data.id ? data.id : '', //商品id
					project_num: data.selectNum,
					project_service1: data.goods_service_code.serve1.service_code,
					project_service2: data.goods_service_code.serve2.service_code,
					project_service3: data.goods_service_code.serve3.service_code
				};
				// console.log(agr)
				try {
					// this.$ui.showloading();
					let res = await this.$api.cardAdd(agr);
					// this.$ui.hideloading();
					if (res.Success) {
						// uni.$emit('refresh_user');
						uni.$emit('refresh_cart');
						that.$ui.toast('已成功添加至购物车');
						// setTimeout(function() {
						// 	uni.redirectTo({
						// 		url: '/pages/features/auction/auction?current=1'
						// 	});
						// }, 1000);
					} else {
						that.$ui.toast(res.Msg);
					}
				} catch (err) {
					console.log('请求结果false : ' + err);
				}
			},

			// 取消支付
			cancelPass() {
				this.payFlag = false;
			},
			// 确认密码
			checkPwd(e) {
				if (!e) {
					that.$ui.toast('取消购买');
					return;
				}
				// alert(e)
				// this._addPrize(e);
				// this.payFlag = false;
			},
			handleClick(e) {
				let index = e.index;
				if (index === 0) {
					// this.tui.toast("你点击了取消按钮")
				} else {
					switch (this.action) {
						case 'login':
							uni.navigateTo({
								url: '/pages/role/pLogin/pLogin'
							});
							break;
						case 'authentication':
							uni.navigateTo({
								url: '/pages/features/authentication/authentication'
							});
							break;
						case 'payPass':
							uni.navigateTo({
								url: '/pages/user/setPayPass/setPayPass'
							});
							break;
						default:
							break;
					}
				}
				this.modal = false;
			}
			// 参与加价
			// async _addPrize(e) {
			// 	let that = this;
			// 	let data = {
			// 		project_code: this.formParams.project_code,
			// 		project_price: this.goods.project_price,
			// 		pay_password: e
			// 	};
			// 	// console.log(data)
			// 	try {
			// 		this.$ui.showloading();
			// 		let res = await this.$api.doAuction(data);
			// 		this.$ui.hideloading();
			// 		if (res.Success) {
			// 			that.$ui.toast('加价成功');
			// 			uni.$emit('refresh_main');
			// 			setTimeout(function() {
			// 				uni.redirectTo({
			// 					url: '/pages/features/auction/auction?current=1'
			// 				});
			// 			}, 1000);
			// 		} else {
			// 			that.$ui.toast(res.Msg);
			// 		}
			// 	} catch (err) {
			// 		console.log('请求结果false : ' + err);
			// 	}
			// }
		}
	};
</script>

<style lang="scss" scoped>
	.pages {
		padding-bottom: 100rpx;
		overflow: hidden;

		.swiper {
			height: 774rpx;
			position: relative;

			.bar {
				position: absolute;
				width: 100%;
				height: 120rpx;
				// line-height: 120rpx;
				background: #DD3A30;
				color: #fff;
				left: 0;
				bottom: 0;
				z-index: 10;
				padding: 0 20rpx;
				box-sizing: border-box;
				border: none;

				.acountTit {
					width: 100%;

				}

				.acountConten {
					width: 100%;

					.price {
						font-size: 36rpx;
						position: relative;
						text-indent: 20rpx;
						margin-right: 20rpx;

						&::after {
							content: '￥';
							position: absolute;
							left: -26rpx;
							font-size: 20rpx;
							bottom: 0;
							color: #fff;

						}
					}

					.delete {
						margin-top: 4rpx;
						font-size: 24rpx;
						text-decoration: line-through;
					}
				}

				.aside {
					position: absolute;
					right: 0;
					top: 0;
					height: 120rpx;
					padding: 0 40rpx 0 60rpx;
					// background: url(../../../static/img/right.png) left top/cover no-repeat;
					color: #ED754B;
				}
			}
		}

		.timeBox {
			line-height: 70rpx;
			height: 70rpx;
			text-align: center;
			color: #fff;
			background: #d12020;
			font-size: 26rpx;

			.statusBox {
				width: 300rpx;
				height: 100%;
				// background: url(../../../static/img/bg.png);
				background-size: 100% 100%;
				background-repeat: no-repeat;
			}
		}

		.boxs {
			background: #fff;

			margin-bottom: 16rpx;
		}

		.box1 {
			padding: 36rpx 20rpx;

			.titleBox {
				margin-top: 12rpx;
				margin-bottom: 16rpx;

				.cm_prize {
					font-size: 40rpx;
					color: #e02e24;
					font-weight: 600;
				}
			}

			.cm_title {
				line-height: 1.2;
				font-size: 30rpx;

				.tags {
					background: linear-gradient(to right, #EE7E33, #EA3333);
					;
					color: #fff;
					padding: 0 8rpx;
					border-radius: 4rpx;
					font-size: 20rpx;
					line-height: 28rpx;
					height: 28rpx;
					margin-right: 10rpx;
				}
			}

			.msgBar {
				margin-top: 24rpx;
				margin-bottom: 4rpx;
				// justify-content: flex-start;
				width: 100%;
				height: 80rpx;
				background: #f8f8f8;
				border-radius: 16rpx;

				.testTags {
					font-size: 24rpx;
					color: #666;
				}

				.blank {
					width: 4rpx;
					height: 26rpx;
					background: #666;
					margin: 0 24rpx;
				}
			}

			.logoBox {
				height: 80rpx;
				line-height: 80rpx;
				border-radius: 6rpx;
				background: #F2E5DA;
				color: #642704;
				padding: 0 20rpx;
				margin-top: 20rpx;

				.name {
					color: #642704;
					margin-left: 20rpx;
				}

				.blank {
					width: 4rpx;
					height: 24rpx;
					background: #642704;
					margin: 0 20rpx;
				}
			}
		}

		.box2 {
			padding: 0 20rpx;

			.titleBar {
				line-height: 66rpx;
				height: 66rpx;
			}

			.cells {
				height: 72rpx;
				line-height: 72rpx;
			}

			.prizeBox {
				.prizeItems {
					background: #f8f8f8;
					border-radius: 10rpx;
					margin-top: 16rpx;
					height: 122rpx;
					overflow: hidden;

					.avatar {
						width: 90rpx;
						height: 90rpx;
						border-radius: 50%;
						margin-right: 16rpx;
						margin-left: 16rpx;
					}

					.name {
						line-height: 1.5;
						font-size: 28rpx;
						color: #333;
						font-weight: 600;
					}

					.mark {
						height: 122rpx;
						width: 122rpx;
						text-align: center;
						line-height: 122rpx;
						background: #dedede;
						color: #999;
						font-size: 30rpx;
						margin-left: 32rpx;
					}
				}

				.active {
					.mark {
						background: var(--cl_primary);
						color: #333;
					}
				}
			}
		}

		.box4 {
			padding: 0 20rpx;

			.cells {
				height: 72rpx;
				line-height: 72rpx;
			}
		}

		.box3 {
			margin-bottom: 0;
			padding: 30rpx 20rpx;

			.picBox {
				width: 100%;
				height: 90rpx;
				line-height: 90rpx;

				// margin-bottom: 20rpx;
				.avatar {
					width: 90rpx;
					height: 90rpx;
					border-radius: 50%;
					margin-right: 20rpx;
					overflow: hidden;

					img {
						width: 90rpx;
						height: 90rpx;
					}
				}

				.name {
					// margin-bottom: 16rpx;
				}

				.jd {
					width: 152rpx;
					line-height: 58rpx;
					height: 58rpx;
					border: none;
					background: var(--cl_primary);
					color: #fff;
					text-align: center;
					padding: 0;
					font-size: 26rpx;
					border-radius: 29rpx;
				}
			}

			.scoreBox {
				padding: 24rpx 0 8rpx 0;
				border-top: 1rpx solid #e5e5e5;

				.score {
					margin-left: 10rpx;
					color: #d12020;
				}
			}
		}

		.commonTit {
			width: 100%;
			height: 80rpx;
			line-height: 80rpx;

			.blank {
				width: 40rpx;
				height: 4rpx;
				background: #333;
				margin: 0 12rpx;
			}
		}

		.footer {
			width: 100%;
			// height: 200rpx;

			background: #fff;
			position: fixed;
			left: 0;
			bottom: 0;

			padding-bottom: env(safe-area-inset-bottom);

			.mes {
				width: 100rpx;

			}

			.cm_des {
				font-size: 20rpx;
			}
		}
	}

	.mask-screen {
		width: 100%;
		height: 100vh;
		position: fixed;
		top: 0;
		left: 0;
		background: rgba(0, 0, 0, 0.5);
		// opacity: 0.5;
		overflow: hidden;
		z-index: 10;

		.region-box {
			width: 100%;
			overflow: hidden;
			position: absolute;
			bottom: 0;
			left: 0;
			z-index: 20;
			background: #fff;
			padding: 8rpx 50rpx;
			box-sizing: border-box;
			border-radius: 20rpx 20rpx 0 0;

			.cm_title {
				margin-top: 24rpx;
			}

			.cm_des {
				line-height: 2;
				padding: 26rpx 0;
			}

			.btns {
				width: 100%;
				height: 80rpx;
				line-height: 80rpx;
				background: #ddb152;
				color: #fff;
				border-radius: 40rpx;
			}
		}
	}

	.btnBox {
		// width: 80%;
		height: 80rpx;
		border-radius: 40rpx;
		line-height: 80rpx;
		overflow: hidden;
		background: #d1a320;
		color: #fff;
		box-shadow: none;

		.btns {
			width: 100%;
			height: 80rpx;
			line-height: 80rpx;
			background: #007AFF;
			color: #fff;
			font-size: 30rpx;
			// border-radius: 0 !important;
			border-radius: 40rpx;
		}
	}

	.backBtn {
		position: fixed;
		right: 40rpx;
		bottom: 138rpx;
		width: 90rpx;
		height: 90rpx;
		border-radius: 50%;
	}

	.asideBar {
		width: 90rpx;
		height: 90rpx;
		border-radius: 50%;
		background: var(--cl_primary);
		position: fixed;
		right: 40rpx;
		bottom: 238rpx;
		// z-index: 50;
	}

	.asideBar2 {
		width: 90rpx;
		height: 90rpx;
		border-radius: 50%;
		background: #fff;
		border: 4rpx solid var(--cl_primary);
		color: var(--cl_primary);
		position: fixed;
		right: 40rpx;
		bottom: 338rpx;
	}

	.btns.sure {
		background: #007AFF
	}

	.btns.hot {
		background-color: #E93F37;
	}

	.btns[disabled="true"] {
		// color: red;
		background-color: #d6d293;
	}

	.sure[disabled="true"] {
		// color: red;
		background-color: #8aacad;
	}

	.richBox {
		width: 100%;
		// .imgsize{
		// 	width: 100%!important;
		// 	height: auto;
		// 	// width: 750rpx!important;
		// }
	}
	
	/*底部抽屉样式 start*/
</style>
