<template>
	<view class="pages">
		<view class="header">
			<u-tabs :list="tabs" :is-scroll="false" :current="currentTab" @change="change"></u-tabs>
		</view>
		<view class="content animated fadeIn" v-if="currentTab==0">
			<view class="cm_full u-flex-y" v-if="lists.length<=0 && loadStatus!='loading'">
				<u-empty mode="list"></u-empty>
			</view>
			<view v-else>
				<block v-for="(item,index) in lists" :key="index">
					<view class="panel" >
						<view class="conmuerBox u-flex" >
							<u-avatar :src="item.article_head" :size="60"></u-avatar>
							<view class="u-flex-1" style="margin-left: 24rpx;">
								<view class="title u-font-26 cm_ellipsis" style="width: 60vw;">{{item.article_title}}</view>
								<view class="cm_text u-font-24 cm_ellipsis" style="width: 60vw;">{{item.article_short_title}}</view>
							</view>
							<!-- <navigator class="actions u-font-26" url="../../features/healthMsg/healthMsg">分享</navigator> -->
							<text class="actions u-font-26" @click="share(item)">分享</text>
						</view>
						<!-- <view>努力是人生的一种精神状态, 往往最美的不是风景</view> -->
						<rich-text :nodes="item.article_intro"></rich-text>
						<u-grid :col="3" :border="false" @click="_href(item)">
							<u-grid-item v-for="(it,ids) in item.article_imgs" :key="ids">
								<image :src="it" mode="aspectFill" class="panelPics"></image>
							</u-grid-item>
						</u-grid>
						<u-line></u-line>
						<view class="u-flex footer">
							<!-- <view class="u-flex-1 u-flex">
								<u-icon name="star"></u-icon>
								<text style="margin:10rpx">收藏</text>
							</view> -->
							<view class="u-flex-1 u-flex" hover-class="hover" @click="copy(item)">
								<u-icon name="order"></u-icon>
								<text style="margin:10rpx">复制文案</text>
							</view>
							<view class="u-flex-1 u-flex" hover-class="hover" @click="_save(item)">
								<u-icon name="download"></u-icon>
								<text style="margin:10rpx">保存图片</text>
							</view>
						</view>
					</view>
				</block>
			</view>
		</view>
		<view style="padding:32rpx 20rpx;" class="animated fadeIn" v-else>
			<view class="content content2">
				<view class="u-flex header">
					<text class="subtabs " :class="{active:sort==0?true:false}" @click="_sort(0)">最新</text>
					<text class="subtabs" :class="{active:sort==1?true:false}" @click="_sort(1)">最热</text>
					<text class="u-flex-1"></text>
				</view>
				<view class="cm_full u-flex-y" v-if="lists.length<=0 && loadStatus=='noMore'">
					<u-empty mode="list"></u-empty>
				</view>
				<view v-else>
					<block v-for="(item,index) in lists" :key="index">
						<view class="itemsBox u-flex" @click="_href(item)">
							<view class="u-flex-1 u-flex-y u-col-top" style="height: 146rpx;">
								<view class="cm_title ">{{item.article_title}}</view>
								<view class="u-flex-1"></view>
								<view class="cm_time ">
									{{item.article_wacth}}阅读 {{item.create_time}}
								</view>
							</view>
							<image :src="item.article_imgs[0]" mode="aspectFill" class="itemPic"></image>
						</view>
					</block>
				</view>
			</view>
		</view>
		<view class="u-flex-y" style="height: 80rpx;">
			<u-loadmore :status="loadStatus"  />
		</view>
		<u-top-tips ref="uTips" :navbar-height="0"></u-top-tips>
		<u-toast ref="uToast" />
		<u-mask :show="show" @click="show = false">
			<view class="warp">
				<view class="rect u-flex-y" @click.stop>
					<view class="maskHeader">
						文案已复制
					</view>
					<view class="u-flex-1 u-flex-y" style="padding: 40rpx 0;">
						<view>点击图片放大</view>
						<view>长按图片保存本地</view>
						<view>文案自动复制</view>
						<view>点击右上角<text style="color: red;">“...”</text></view>
						<view>选择<text style="color: red;">“发送给朋友”</text></view>
						<view>或者<text style="color: red;">“发送到朋友圈”</text></view>
						<view>完成分享</view>
					</view>
		
				</view>
			</view>
		</u-mask>
		
	</view>
</template>

<script>
	// #ifdef H5
	import h5Copy from '@/js_sdk/junyi-h5-copy/junyi-h5-copy.js'
	// #endif

	export default {
		data() {
			return {
				baseKey: 'ArticleList',
				hasRow: 'Rows',
				src: '',
				formParams: {
					"type": "0", //0 朋友圈 1能力提升
					"sort": "0", //0 最新 1最热
					"pageIndex": 1, //页
					"pageSize": 10, //条
				},
				tabs: [{
					name: '朋友圈'
				}, {
					name: '能力提升'
				}],
				currentTab: 0,
				sort: 0,
				onTop: true,
				onBottom: true,
				show:false,
				shareMsg:{
					title: '',
					sub_title: '',
					image: '',
					price: ''
				}
			};
		},
		onLoad() {
			this._loadData('refresh')
		},
	
		methods: {
			_save(item){
				// #ifdef H5
					this._href(item )
				// #endif
			
				// #ifdef MP
					uni.saveImageToPhotosAlbum({
					            filePath: item.article_imgs,
					            success: function () {
					                console.log('save success');
					            }
					        });
				// #endif
			},
			share(item){
				// #ifdef H5
					this.copy(item)
					this.show=true
				// #endif
				// #ifdef MP
					// this.shareMsg = {
					// 	title: `分享好友，马桶免费拿`,
					// 	path: `/pages/index/index`,
					// 	imageUrl: '/static/share.jpg'
					// };
					// this.text = global_Set_jll.activity_constraint;
				// #endif
			},
			_href(item ){
				let type = item.article_type;
				if(type==1){
					// #ifdef H5
						window.open(item.wx_article_url)
						
					// #endif
					// #ifdef MP
						uni.setStorageSync('ys',item.wx_article_url);
						uni.navigateTo({
							url:'/pages/features/webview/webview'
						})
					// #endif
				}else{
					
					uni.previewImage({
						urls:item.article_imgs
					})
				}
			},
			_sort(index) {
				this.sort = index;
				this.formParams.sort = index;
				this.lists = [];
				this._loadData('refresh')
			},
			change(index) {
				this.currentTab = index;
				this.formParams.type = index;
				this.lists = [];
				this._loadData('refresh')
			},
			copy(item) {
				let that = this
				let content = item.article_intro
				// #ifdef H5
					const result = h5Copy(content)
					if (result === false) {
						that.$refs.uToast.show({
							title: '复制失败',
							type: 'error',
							position: 'bottom'
						})
					} else {
						that.$refs.uToast.show({
							title: '复制成功',
							type: 'success',
							position: 'bottom'
						})
					}
				// #endif
				// #ifdef MP
					uni.setClipboardData({
						data:content,
						success() {
							that.$refs.uToast.show({
								title: '复制成功',
								type: 'success',
								position: 'bottom'
							})
						},
						fail() {
							that.$refs.uToast.show({
								title: '复制失败',
								type: 'error',
								position: 'bottom'
							})
						}
					})
				// #endif
			},
		}
	}
</script>

<style lang="scss" scoped>
	@import "/common/animate.css";

	.pages {
		padding-top: 88rpx;

		.header {
			position: fixed;
			left: 0;
			top: 0;
			width: 100vw;
			z-index: 10;
		}

		.content {
			padding: 20rpx;

			.panel {
				background-color: #fff;
				border-radius: 16rpx;
				padding: 20rpx;

				.panelPics {
					width: 214rpx;
					height: 240rpx;
				}

				.conmuerBox {
					height: 100rpx;
					width: 100%;
					margin-bottom: 20rpx;

					.cm_text {
						font-size: 22rpx;
						margin-top: 10rpx;
					}

					.actions {
						height: 46rpx;
						line-height: 46rpx;
						border-radius: 23rpx;
						background-color: #2F96F3;
						color: #fff;
						padding: 0 20rpx;
					}

				}

				.footer {
					padding-top: 20rpx;
				}
			}
		}

		.content2 {
			background-color: #fff;
			border-radius: 16rpx;
			overflow: hidden;

			.header {
				position: relative;
				margin-bottom: 12rpx;
			}

			.subtabs {
				font-size: 26rpx;
				color: #999;
				padding: 0 20rpx;
			}

			.active {
				font-size: 32rpx;
				color: #333;
				font-weight: 600;
			}

			.itemsBox {
				padding: 26rpx 0;
				background-color: #fff;
				border-bottom: 1rpx solid #e5e5e5;

				.itemPic {
					width: 208rpx;
					height: 156rpx;
					margin-left: 26rpx;
				}
			}
		}
	}
	.warp {
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		height: 100%;
	
		.rect {
			width: 90vw;
			// height: 790rpx;
			border-radius: 12rpx;
			overflow: hidden;
			background-color: #fff;
	
			.maskHeader {
				width: 100%;
				background: linear-gradient(to top, #248EE9, #54ABF6);
				padding: 32rpx 53rpx;
				color: #fff;
				font-size: 30rpx;
				text-align: center;
			}
	
			.maskPic {
				width: 476rpx;
				height: 476rpx;
				margin: 30rpx auto;
			}
		}
	}
</style>
