<template>
	<view class="pages">
		<view class="cm_full u-flex-y" v-if="lists.length<=0 && loadStatus!='loading'">
			<u-empty mode="list"></u-empty>
		</view>
		<!--  -->
		<view class="listItems" v-else>
			<block v-for="(item,index) in  lists" :key="index">
				<view class="itemBox "  >
					<view class="u-flex header">
						<view class="u-flex-1 ">{{item.stock_type==1?'出货':'进货'}}时间：{{item.create_time}}</view>
						<view class="stip" :style="{background:item.stock_type==0?'#2F96F3':'#EC6D43'}">{{item.stock_type | stock_typeFilter}}</view>
						<!-- 0-进货 1-出货 -->
					</view>
					<u-line></u-line>
					<view class="u-flex u-col-top body">
						<image :src="item.goods_main_img" mode="aspectFill" class="itemPic"></image>
						<view class="u-flex-1" style="width: 62%;">
							<view class="cm_title u-font-32 cm_ellipsis2"> {{item.goods_title}}</view>
							<view class="u-flex itemBody">
								<text class="cm_time ">{{item.skus_difference}}</text>
								<view class="u-flex-1"> </view>
								<u-icon name="plus" color="#2D9E6E" v-if="item.stock_type==0"></u-icon>
								<u-icon name="minus" color="#FA3534" v-else></u-icon>
								<text class="cm_price " :style="{color:item.stock_type==0?'#2D9E6E':'#EC6D43'}">{{item.change_stock_count}}件</text>
								
								
							</view>
							<view class="u-flex ">
								<view class="prize" style="font-size: 32rpx;color: #007AFF;">当前库存: <text class="cm_price" style="color: #007AFF;">{{item.stock_count}}</text></view>
								<view class="u-flex-1"></view>
								<!-- <u-button type="error" @click="_href(`/pages/features/delivery/delivery?code=${item.store_code}`)" shape="circle"
								 size="mini">发货</u-button> -->
							</view>
						</view>
					</view>
					<u-line v-if="item.stock_type==1"></u-line>
					<view class="u-flex footer" v-if="item.stock_type==1">
						<view class="u-flex-1"></view>
						<u-button class="default" size="mini "   @click="_href('/pages/features/deliveryDetail/deliveryDetail?code='+ item.busi_code)"  shape="circle">查看详情</u-button>
					</view>
					
					
					
				</view>
			</block>


			<view class="u-flex" style="height: 80rpx;">
				<u-loadmore :status="loadStatus" />
			</view>
		</view>



		<u-top-tips ref="uTips" :z-index="10100" :navbar-height="0"></u-top-tips>
		<u-toast ref="uToast" />
	</view>
</template>

<script>
	export default {
		data() {
			return {
				baseKey: 'StoreDetailList',
				hasRow: 'Rows',
				formParams: {
					"store_code":"",//库存编码
					"pageIndex": 1, //页
					"pageSize": 10, //条
				},

				commentList: [],
				onBottom: true,
				onTop: true,
				show: false,
				currentVuale: ''
			};
		},
		onLoad(options) {
			if(options.code){
				this.formParams.store_code = options.code
			}
			this._loadData('refresh')
		},
		methods: {

		}
	};
</script>

<style lang="scss" scoped>
	.pages {
		.listItems {
			// padding: 20rpx;
			// height: 10000rpx;
			width: 100%;
			padding: 20rpx;
			.itemBox{
				background-color: #fff;
				border-radius: 12rpx;
				padding:0 20rpx;
				margin-bottom: 20rpx;
				.header{
					height: 84rpx;
					position: relative;
					.stip{
						position: absolute;
						right: -20rpx;
						height:40rpx ;
						color: #fff;
						font-size: 24rpx;
						padding: 0 20rpx;
						border-radius: 20rpx 0 0 20rpx;
						top: 22rpx;
					}
				}
				.footer{
					height: 84rpx;
				}
				.body{
					padding: 20rpx 0;
				}
				.itemPic{
					width: 180rpx;
					height: 180rpx;
					border-radius: 12rpx;
					margin-right:24rpx ;
				}
				.itemBody{
					height: 74rpx;
				}
			}
		
		}
	}
</style>
