<template>
	<view>
		<view class="pages u-skeleton">
			<view class="bgbox u-skeleton-rect">
				<view>{{item.order_status | orderStatusFilter}}</view>
				<text style="font-size: 24rpx;font-weight: 400;">
					{{statusText}}
				</text>
			</view>

			<view class="orderItemsBox ">
				<view class="cm_bdb flex  flex_center proItemTop" @click="_hrefStore(item.shop_id)">
					<u-avatar :src="item.shop_logo" class="u-skeleton-circle" :size="46"></u-avatar>
					
					<view class="cm_title f1 u-skeleton-fillet" style="margin-left: 10rpx;">{{ item.shop_name }}</view>
					<!-- <Icon name="arrowright" :size="16"></Icon> -->
					<u-icon name="arrow-right" :size="16"></u-icon>
				</view>
				<block v-for="(it, ind) in item.goods_list" :key="ind">
					<view class="picBox u-skeleton-fillet">
						<view class=" flex  flex_center " style="align-items: flex-start;" @click="_hrefPro(it.project_code)">
							<!-- <view class="picBox flex  flex_center" >						 -->
							<image :src="it.skus_img" mode="aspectFill" class="avatar" lazy-load="true"></image>					
							<view class="f1 u-flex u-col-top " style="height: 180rpx;">
								<view class="u-flex-1">
									<view class="    name cm_ellipsis2 text" >{{ it.goods_title }}</view>
									<view class=" cm_time  cm_ellipsis2 text"  >{{ it.skus_name }}</view>
								</view>
								<view class="u-flex-y u-row-right" style="align-items: flex-end;margin-left: 20rpx;">
									<text class="cm_title name text"><text style="font-size: 18rpx;">￥</text>{{ it.alone_price }}</text>
									<view class="u-flex text" style="height: 40rpx;" >
										<u-icon name="close" :size="24" color="#999"></u-icon>
										<view class="cm_time u-font-24">{{ it.goods_num }}</view>
									</view>	
								</view>
							</view>
							
							<!-- </view> -->
						</view>
						<view class="flex flex_center contentBox cm_bdt">
							<view class="f1"></view>
							<u-button  size="mini" shape="circle"  @click="_refund(it)" v-if=" item.order_status!=0 && it.is_refund==0">退货退款</u-button>
							<text style="color: #E56D00;" @click="_refundDetail(it)" v-if=" item.order_status!=0 && it.is_refund!=0">{{it.is_refund | is_refundFilter}}</text>
						</view>
					</view>
				</block>

			</view>

			<view class="orderItemsBox u-skeleton-fillet " @click="call">
				<view class="flex flex_center">
					<!-- <image src="../../../../static/img/phone.png" mode="widthFix" class="call"></image> -->
					<u-icon name="phone" :size="30" color="#1192E0"></u-icon>
					<text>联系卖家</text>
				</view>
			</view>

			<view class="orderItemsBox u-skeleton-fillet " style="padding: 0;">
				<u-cell-group>
					<u-cell-item title="商品金额" :arrow="false" :value="`￥${item.goods_total_price}`" :border-bottom="false"></u-cell-item>
					<u-cell-item title="运费" :arrow="false" :value="`￥${item.is_ems?'￥'+item.is_ems:0 }`" :border-bottom="false"></u-cell-item>
					<!-- <u-cell-item title="服务费用" :arrow="false" :value="`￥${0}`" :border-bottom="false"></u-cell-item> -->
					<u-cell-item title="实付款"  :arrow="false" :value="`￥${item.pay_price}`" :border-bottom="false"></u-cell-item>
				<!-- 	<u-cell-item title="商品金额" :arrow="false" :value="allPrize" :border-bottom="false"></u-cell-item>
					<u-cell-item title="商品金额" :arrow="false" :value="allPrize" :border-bottom="false"></u-cell-item> -->
				</u-cell-group>
				
			</view>

			<view class="orderItemsBox  " style="padding: 0;">
				<view class="cm_title t u-skeleton-fillet flex flex_center">
					<text>订单详情</text>
					<text class="f1"></text>
					<u-button  size="mini" shape="circle"  @click="_copy(item.order_code)">复制</u-button>
				</view>
				<view class="  u-skeleton-fillet">
					<u-cell-group>
						<u-cell-item title="订单编号" :arrow="false" :value="`${item.order_code}`" :border-bottom="false"></u-cell-item>
						<u-cell-item title="创建时间" :arrow="false" :value="`${item.create_time }`" :border-bottom="false"></u-cell-item>
						<u-cell-item title="支付时间" :arrow="false" v-if="item.pay_time" :value="`${item.pay_time }`" :border-bottom="false"></u-cell-item>
						<u-cell-item title="支付方式" v-if="item.order_status!=0" :arrow="false" :value="item.payType | payTypeFilter" :border-bottom="false"></u-cell-item>
						<u-cell-item title="快递单号" v-if="item.ems_code"  :arrow="false" :value="`${item.ems_code}`" :border-bottom="false"></u-cell-item>
					<!-- 	<u-cell-item title="商品金额" :arrow="false" :value="allPrize" :border-bottom="false"></u-cell-item>
						<u-cell-item title="商品金额" :arrow="false" :value="allPrize" :border-bottom="false"></u-cell-item> -->
					</u-cell-group>

				</view>
			</view>


			<!-- <view class=" u-skeleton-fillet" style="margin-top: 72rpx;padding: 0 20rpx;">
				<u-button type="primary" shape="circle" :loading="loading1" @click="_readyToPay" v-if="item.order_status==0">立即付款</u-button>
			</view>
			<view class=" u-skeleton-fillet" style="margin-top: 20rpx;padding: 0 20rpx;">
				<u-button type="primary" plain shape="circle" :loading="loading2" @click="cancelOrder" v-if="item.order_status==0">取消订单</u-button>
			</view> -->
			<view class="footer savebottom " v-if="item.order_status!=5">
				<view class="flex flex_center" style="height: 100rpx;">
					<view class="f1"></view>
					<u-button type="error" class="btns" size="mini"  shape="circle" @click="_readyToPay" v-if="item.order_status==0">立即付款</u-button>
					<u-button type="error" class="btns" size="mini" plain shape="circle" @click="cancelOrder" v-if="item.order_status==0">取消订单</u-button>
					<!-- <u-button type="error" class="btns"  shape="circle" v-if="item.order_status == 1" @click="prompt(item.order_code)">提醒发货</u-button> -->
					<u-button type="error" class="btns" size="mini" shape="circle" v-if="item.order_status == 2" @click="sure(item.order_code)">确认收货</u-button>
					<!-- <u-button type="error" class="btns" shape="circle" plain v-if="item.order_status == 2" @click="scan(item.order_code)">查看物流</u-button> -->
				</view>
			</view>

			<u-top-tips ref="uTips" :navbar-height="0"></u-top-tips>
			<u-toast ref="uToast" />	
			<PayPanel ref="payPanel" :oderId="oderId" :amout="item.pay_price" @success="success" @cancel="cancel"></PayPanel>
		</view>
		<u-skeleton :loading="pageLoading" :animation="true" bgColor="#FFF"></u-skeleton>
	</view>
</template>

<script>
	// import tuiSkeleton from '@/components/u-skeleton/u-skeleton';
	// import tuiListView from '@/components/list-view/list-view';
	// import tuiListCell from '@/components/list-cell/list-cell';
	import Utils from '@/common/utils.js';
	import PayPanel from '@/components/PayPanel/PayPanel';
	// #ifdef H5
	import h5Copy from '@/js_sdk/junyi-h5-copy/junyi-h5-copy.js'
	// #endif
	
	const global_Set_zdjy = uni.getStorageSync('global_Set_zdjy');
	export default {
		data() {
			return {
				item: '',
				loading1: false,
				loading2: false,
				detailParams: {
					"order_code": "",
					"ems_code": "",
				},
				oderId: "",
				// 支付参数
				payParams: {
					pay_type: 0, //1-支付宝 2-微信
					pay_source: 0, //0-定额充值 1-聚友手续费 2-粉丝手续费 3-VIP手续费
					order_num: '' //订单号
				},
				pageLoading: true,
				phoneNum: global_Set_zdjy.customer_mobile,
			};
		},
		onLoad(options) {
			this.detailParams.order_code = options.code;
			this.payParams.order_num = options.code;

			let that = this
			uni.$on('refresh_orderDetail', () => {
				that.loadData()
			})
		},
		onShow() {
			this.loadData()
		},
		computed: {
			statusText() {
				let t = ''
				switch (parseInt(this.item.order_status)) {
					case 0:
						t = '请你尽快完成订单付款'
						break;
					case 1:
						t = '卖家将在48小时内发货'
						break;
					case 2:
						t = '商品已经在运送途中,请保持手机畅通'
						break;
					case 3:
						t = '您已确认签收货物'
						break;
					case 4:
						t = '等待商家退款'
						break;
					case 5:
						t = '交易已成功'
						break;
					default:
						t = '交易已关闭'
						break;
				}
				return t
			}
		},
		components: {
			// tuiListCell,
			// tuiSkeleton, 
			// tuiListView,
			PayPanel
		},
		methods: {
			// 发起退款
			async sure(code) {
				let that = this;
				try {
					// this.$ui.showloading();	
					let data = {
						order_code: code
					}
					let res = await this.$api.Receiving(data, false);
					// this.$ui.hideloading();
					if (res.Success) {

						that.$ui.toast('收货成功')
						setTimeout(() => {
							that.loadData()
						}, 1000)
					} else {
						that.$ui.toast(res.Msg)
					}
					if (callback) callback();
				} catch (err) {
					console.log('请求结果false : ' + err);
				}
			},
			async prompt(code) {
				let that = this;
				try {
					let data = {
						order_code: code
					};
					this.$ui.showloading();
					let res = await this.$api.Prompt(data);
					this.$ui.hideloading();
					if (res.Success) {
						this.$refs.uToast.show({
							title: '提醒发货成功',
							type: 'success',
							position: 'bottom'
						})
						that.refresh();
					} else {
						that.$ui.toast(res.Msg);
					}
				} catch (err) {
					console.log('请求结果false : ' + err);
				}
			},
			// 查看物流
			scan(code) {
				uni.navigateTo({
					url: '/pages/features/ems/ems?orderCode=' + code
				});
			},
			call() {
				let  that = this
				
				uni.makePhoneCall({
					phoneNumber: that.phoneNum //仅为示例
				});
				// debugger
			},
			_copy(str) {
				let that = this
				let content = str // 复制内容，必须字符串，数字需要转换为字符串
				// #ifdef H5
					const result = h5Copy(content)
					if (result === false) {
						that.$refs.uToast.show({
							title: '复制失败',
							type: 'error',
							position: 'bottom'
						})
					} else {
						that.$refs.uToast.show({
							title: '复制成功',
							type: 'success',
							position: 'bottom'
						})
					}
				// #endif
				// #ifdef MP
					uni.setClipboardData({
						data:content,
						success() {
							that.$refs.uToast.show({
								title: '复制成功',
								type: 'success',
								position: 'bottom'
							})
						},
						fail() {
							that.$refs.uToast.show({
								title: '复制失败',
								type: 'error',
								position: 'bottom'
							})
						}
					})
				// #endif
				
			},
			_refundDetail(item) {
				if(!item.refund_code)return;
				uni.navigateTo({
					url: '/pages/features/refundDetail/refundDetail?code=' + item.refund_code
				})
			},
			_hrefStore(code) {
				uni.switchTab({
					url: '/pages/main/main'
				})
			},
			_hrefPro(code) {
				uni.navigateTo({
					url: '/pages/main/details/details?code=' + code
				})
			},
			// 发起退款
			_refund(item) {

				item.shop_name = this.item.shop_name
				item.shop_logo = this.item.shop_logo
				item.shop_id = this.item.shop_id
				uni.setStorageSync('refundPro',item) 
				uni.navigateTo({
					url: '/pages/features/refundApply/refundApply'
				})
				// if (this.item.order_status == 0) {
				// 	return
				// }
				// if (this.item.order_status == 1) {
				// 	// 还未发货					
				// 	uni.navigateTo({
				// 		url: '/pages/features/refundApply/refundApply?type=0'
				// 	})
				// } else {
				// 	uni.navigateTo({
				// 		url: '/pages/features/refundAction/refundAction'
				// 	})
				// }

			},
			imageLoad(index) {
				this.$set(this.item, 'load', true);
			},
			loadError(index) {
				// console.log('图片未找到');
				this.item.project_img = '/static/img/noPic.jpg';
			},
			async loadData(callback) {
				let that = this;
				try {
					// this.$ui.showloading();
					let data = {
						order_code: this.detailParams.order_code
					}
					let res = await this.$api.getOrderDetail(data, false);
					// this.$ui.hideloading();

					// console.log(res)
					if (res.Success) {
						if (res.Data) {
							that.item = res.Data;
							that.detailParams.ems_code = res.Data.ems_code
							that.oderId = res.Data.order_code
							// alert(that.oderId)
						}
						that.pageLoading = false
					} else {
						that.$ui.toast(res.Msg)
					}
					if (callback) callback();
				} catch (err) {
					console.log('请求结果false : ' + err);
				}
			},
			_readyToPay() {
				let that = this;
				this.$refs.payPanel._show()
			},

			// 取消订单
			async cancelOrder() {
				let that = this;
				try {
					that.$ui.showloading()
					let res = await this.$api.CancelOrder({
						order_code: that.payParams.order_num
					});
					that.$ui.hideloading()
					if (res.Success) {

						that.$ui.toast('取消成功')
						setTimeout(() => {
							uni.$emit('refresh_order')
							uni.navigateBack({})
						}, 500)
					} else {
						that.$ui.toast(res.Msg)
					}
				} catch (err) {
					console.log('请求结果false : ' + err);
				}


			},
			// 支付接口
			success() {
				// alert('支付接口')
				uni.redirectTo({
					url: '/pages/features/inventory/inventory'
				});
			},
			cancel() {
				uni.redirectTo({
					url: '/pages/features/inventory/inventory'
				});
			}
		}
	}
</script>

<style lang="scss" scoped>
	.pages {
		padding: 20rpx;
		position: relative;
		padding-top: 160rpx;
		padding-bottom: 90rpx;

		.bgbox {
			font-size: 40rpx;
			text-align: left;
			// padding: 40rpx 0;
			background: $uni-color-error;
			color: #fff;
			font-weight: 600;
			position: absolute;
			left: 0;
			top: 0;
			z-index: 0;
			width: 100%;
			height: 260rpx;
			// line-height: 300rpx;

			padding: 20rpx 40rpx;
			padding-top: 60rpx;

			&.text-red {
				color: red
			}

		}

		.proItemsBox {
			border-radius: 12rpx;
			overflow: hidden;
			position: relative;
			z-index: 1;
			.call {
				width: 50rpx;
				height: 50rpx;
				margin-right: 20rpx;
			}
		}

		.addressBox {
			// margin-top: 160rpx;
			z-index: 1;
			position: relative;
			text-align: left;

			.icon {
				width: 50rpx;
				height: 50rpx;
				margin-right: 26rpx;
			}

			.cm_title {
				margin-bottom: 10rpx;
			}

			.cm_text {
				text-align: left;
				color: #999;
				margin-right: 20rpx;
			}
		}

		.shopIcon {
			width: 36rpx;
			height: 36rpx;
			border-radius: 50%;
			margin-right: 8rpx;
		}

		.contentBox {
			padding: 10rpx 0;
			margin-top: 20rpx;
		}

		.buyer {
			padding: 10rpx 0;
		}

		.t {
			padding: 20rpx 32rpx;
		}

		.u-line-cell {
			width: 100%;
		}

		.u-title {
			width: 110rpx;
			margin-right: 20rpx;
			text-align: left;
		}

		.footer {
			position: fixed;
			left: 0;
			bottom: 0;
			// height: 100rpx;
			background: #fff;
			border-top: 1rpx solid #f2f2f2;
			width: 100%;
			padding: 0 20rpx;
			z-index: 100;

			.btns {
				margin-left: 20rpx;
			}
		}
	}
</style>
