<template>
	<view class="pages">
		<view class="boxs u-flex ">
			<view class="biaoBox u-flex ">
				<view class="zhen abs" :style="{'transform':`rotate( 0deg)`}"> -- </view>
				<view class=" zhen weighMsg u-flex u-flex-y">
					<view>sdf</view>
					<u-count-to :start-val="30" :end-val="500" color="#fff"></u-count-to>
					<view>sdf</view>
				</view>
			</view>
		</view>
	</view>
</template>

<script>
	export default {
		data() {
			return {
				
			};
		}
	}
</script>

<style lang="scss" scoped>
	.pages{
		.boxs{
			width: 100vw;
			.biaoBox{
				width: 400rpx;
				height: 400rpx;
				background-color: red;
				position: relative;
				.zhen{
					width: 200rpx;
					height: 200rpx;
					border-radius: 50%;
					line-height: 200rpx;
					text-align: center;			
					color: #fff;
				}
				.abs{
					position: absolute;
					left: 50%;
					top: 50%;
					z-index: 0;
					margin-left: -100rpx;
					margin-top: -100rpx;
					transition: all 2.5s cubic-bezier(.96,1.75,.38,.8);
					background-color: #007AFF;
					
				}
				.weighMsg{
					color: #fff;
					line-height: 1.2;
					position: relative;
					z-index: 10;
				}
				
			}
		}
		
	}
</style>
