<template>
	<view class="pages">
		<view class="boxs">
			<u-cell-group>
				<u-cell-item title="头像" arrow-direction="right" :border-bottom="true" @click="updat(0)">
					<u-avatar :src="userInfo.consumer_head" :size="64"></u-avatar>
				</u-cell-item>
				<u-cell-item title="昵称" @click="updat(1)" arrow-direction="right" :value="userInfo.consumer_nick_name"
				 :border-bottom="true"></u-cell-item>
				<u-cell-item title="微信号" @click="updat(2)" arrow-direction="right" :value="userInfo.weixin_account?userInfo.weixin_account:'未设置'" :border-bottom="true"></u-cell-item>
			</u-cell-group>
		</view>

		<view class="boxs">
			<u-cell-group>
				<!-- <u-cell-item title="修改登录密码" @click="_href('/pages/role/loginPassUpdated/loginPassUpdated')" arrow-direction="right"
				 :border-bottom="true"></u-cell-item> -->
				<u-cell-item title="修改支付密码" @click="_href('/pages/role/payPassUpdated/payPassUpdated')" arrow-direction="right" :value="userInfo.is_password==1?'已设置':'未设置'"
				 :border-bottom="true"></u-cell-item>
				<u-cell-item title="修改手机号" @click="_href('/pages/role/bunding/bunding')" arrow-direction="right" :value="userInfo.consumer_mobile"
				 :border-bottom="true"></u-cell-item>
				<u-cell-item title="绑定支付宝"  @click="_href('/pages/role/bundingZFB/bundingZFB')" arrow-direction="right"
				:value="userInfo.alipay_account?userInfo.alipay_account:'未设置'" :border-bottom="true"></u-cell-item>
			</u-cell-group>
		</view>

		<view class="boxs">
			<u-cell-group>
				<u-cell-item title="仅在WIFI下观看" :arrow="false" :border-bottom="true">
					<u-switch slot="right-icon" v-model="checked" @change="_change"></u-switch>
				</u-cell-item>
				<u-cell-item title="关于" arrow-direction="right" :border-bottom="true"></u-cell-item>
			</u-cell-group>
		</view>
		<view style="padding:  40rpx;">
			<u-button shape="circle" @click="loginOut" :custom-style="{marginTop:'32rpx'}" type="primary">退出账户</u-button>
		</view>


		<u-top-tips ref="uTips" :z-index="10100" :navbar-height="0"></u-top-tips>
		<u-toast ref="uToast" />

		<u-mask :show="show" @click="show = false">
			<view class="warp">
				<view class="rect u-flex-y" @click.stop>
					<view class="cm_title">{{currentMsg.title}}</view>
					<view class="cm_time" style="font-size: 24rpx;">{{currentMsg.content}}</view>
					<input placeholder="请输入内容" v-model="currentVuale" type="text" class="InputBox"  :border="false" />
					<u-button shape="circle" :custom-style="{width:'100%'}" @click="submit" size="medium" type="primary">立即修改</u-button>
					<view class="cm_time" style="font-size: 24rpx;">{{currentMsg.mark}}</view>
				</view>
			</view>
		</u-mask>

	</view>
</template>

<script>
	export default {
		data() {
			return {
				src: 'https://cdn.uviewui.com/uview/swiper/3.jpg',
				show: false,
				value: '',
				checked: false,
				defaultForm: {
					"consumer_nick_name": "",
					"consumer_head": "",
					"alipay_account": "",
					"weixin_account": "",
				},
				currentMsg: {
					title: '修改微信号',
					content: '请填写正确微信号',
					mark: '可在设置里修改微信号'
				},
				current: 0,
				currentVuale:''
			};
		},
		onLoad(){
			this.checked = uni.getStorageSync('onlyWifi')?true:false
		},
		methods: {
			_change(e){
				// console.log(e)
				uni.setStorageSync('onlyWifi',e)
			},
			updat(k) {
				let that = this;
				this.current=k;
				this.currentVuale = ''
				switch (k) {
					case 0:
						// 头像
						this.chooseImg()
						break;
					case 1:
						// 昵称
						
						this.currentMsg = {
							title: '修改昵称',
							content: '请填写正确昵称',
							mark: '可在设置里修改昵称'
						}
						this.currentVuale = this.userInfo.consumer_nick_name
						this.show = true
						break;
					case 2:
					this.currentMsg = {
						title: '修改微信',
						content: '请填写正确的微信账号',
						mark: '可在设置里修改微信账号'
					}
					this.currentVuale = this.userInfo.weixin_account
					this.show = true
						break;
					case 3:
						break;
					default:
						break;
				}
			},
			// 确认选择
			submit(){
				let  that = this;
				if(this.current==1 && !this.currentVuale){
					this.$refs.uToast.show({
						title: '请输入正确的昵称',
						type: 'error',
						position: 'bottom'
					})
					return;
				}
				if(this.current==2 && !this.currentVuale){
					this.$refs.uToast.show({
						title: '请输入正确的微信号码',
						type: 'error',
						position: 'bottom'
					})
					return;
				}
				let obj = this.current==1?{
					'consumer_nick_name':this.currentVuale
				}:{
					'weixin_account':this.currentVuale
				};
				// debugger
				this.updatedUser(obj) 
				this.show = false
			},
			loginOut() {
				this.$store.commit('userLoginOut');
				this.$refs.uToast.show({
					title: '您已安全退出',
					type: 'error',
					position: 'bottom',
					// back:true
				})
				this.$ui.showloading()
				setTimeout(() => {
					this.$ui.hideloading()
					uni.navigateBack({

					})
				}, 1000)
			},
			// 选择图片
			chooseImg() {
				let that = this
				uni.chooseImage({
					count: 1, //默认9
					sizeType: ['original', 'compressed'], //可以指定是原图还是压缩图，默认二者都有
					// sourceType: ['album'], //从相册选择
					success: function(res) {
						console.log(JSON.stringify(res.tempFilePaths));
						that._upload(res.tempFilePaths)
							.then((src) => {
								that.updatedUser({
									consumer_head: src
								})
							})
							.catch(err => {
								that.$refs.uToast.show({
									title: '上传失败' + err,
									type: 'error',
									position: 'bottom'
								})
							})
					}
				})
			},
			// 更新信息列表
			async updatedUser(obj) {
				let that = this
				let data = Object.assign(this.defaultForm, obj)
				try {
					that.$ui.showloading()
					let res = await this.$api.PerfectInfo(data);
					that.$ui.hideloading()
					if (res.Success) {
						// throw new Error('res.Msg')
						that.$refs.uTips.show({
							title: '更新成功',
							type: 'success'
						})
						that.$store.dispatch('refreshUser')
					} else {
						throw new Error(res.Msg)
					}
				} catch (err) {
					// console.log(err)
					that.$refs.uTips.show({
						title: err,
						type: 'error'
					})

				}
				// debugger
			}
		}
	}
</script>

<style lang="scss" scoped>
	.pages {
		.boxs {
			margin-bottom: 20rpx;
			background: #fff;
		}

		.warp {
			display: flex;
			align-items: center;
			justify-content: center;
			height: 100vh;
			width: 100vw;
		}

		.rect {
			width: 460rpx;
			height: 460rpx;
			background-color: #fff;
			border-radius: 14rpx;
			padding: 40rpx;

			.InputBox {
				width: 100%;
				height: 72rpx;
				margin: 48rpx 0;
				background-color: #f4f4f4;
				border-radius: 12rpx;
				padding: 0 20rpx;
			}

			.cm_time {
				margin-top: 20rpx;
			}
		}
	}
</style>
