<template>
	<view class="pages">
		<view class="header u-flex" style="top: 0">
			<u-search placeholder="请输入课程名称" :focus="true" v-model="formParams.key" @search="search" @custom="search"></u-search>
		</view>
		<view class="cm_full u-flex-y" v-if="lists.length<=0 && loadStatus!='loading'">
			<u-empty mode="list"></u-empty>
		</view>
		<view v-else class="hotItemBar u-flex">
			<block v-for="(it,ids) in  lists" :key="ids">
				<view class="u-flex items" @click="_href('/pages/features/audioDetail/audioDetail?code='+ it.catalogue_code)">
					<image class="clasPic" :src="it.course_main_img" mode="aspectFill"></image>
					<view class="u-flex-1  u-flex-y u-col-top" style="height: 240rpx;">
						<view class=" cm_title">{{ it.course_title}}</view>
						<view class="text">{{ it.course_short_title}}</view>
						<view class="text tigs">{{ it.course_teacher}}</view>
						<view class="text">已更新至{{ it.catalogue_count}}节</view>
						<view class="u-flex-1"> </view>
					</view>
				</view>
				<!-- </u-col> -->
			</block>

			<view class="u-flex" style="height: 80rpx;width: 100%;">
				<u-loadmore :status="loadStatus" />
			</view>
		</view>

	</view>
</template>

<script>
	import xhFilterTab from '@/components/xhFilterTab/xhFilterTab';
	// import tuiSticky from '@/components/sticky/sticky';
	// import tuiTips from '@/components/extend/tips/tips';
	// import tuiTabs from '@/components/tui-tabs/tui-tabs';
	export default {
		components: {
			xhFilterTab
		},
		data() {
			return {
				baseKey: 'GetClassGoods',
				hasRow: 'Rows',


				formParams: {
					"key": "",
					"type": "0", //0-最新 1-综合 2-热销 3-价格 
					"sort": "asc", //asc-升序 desc-降序 
					"class_code": "",
					"pageIndex": 1,
					"pageSize": 10,
				},

				currentTab: 0,

			};
		},

		onLoad(options) {
			// console.log(options)
			// type==1 精选  type==2 捡漏
			// this.currentTab = options.type? options.type:0
			// this.classTitle = options.title
			uni.setNavigationBarTitle({
				title: options.title
			});
			this._loadData('refresh');
		},
		methods: {
			search() {
				this._loadData('refresh')
			},

			// 切换筛选
			tabChange(k) {
				if (this.formParams.type != k.type) {
					this.formParams.type = k.type;
					this._loadData('refresh');
				} else if (this.formParams.sort != k.sort) {
					this.formParams.sort = k.sort;
					this._loadData('refresh');
				}
			},

		}
	};
</script>

<style lang="scss" scoped>
	.pages {
		width: 100vw;
		min-height: 100vh;
		padding-bottom: 80rpx;

		.header {
			height: 88rpx;
			width: 100vw;
			background-color: #fff;
			padding: 0 40rpx;
		}
		.listItems {
			padding: 20rpx;
			.items {
				width: 100%;
				background-color: #fff;	
				margin-bottom: 20rpx;
				border-radius: 12rpx;
				overflow: hidden;
				padding:20rpx;
				&:last-child{
					margin-bottom: 0;
				}
				.clasPic {
					width: 180rpx;
					height: 240rpx;
					border-radius: 12rpx;
					margin-right: 20rpx;
				}
				
				.text {
					font-size: 26rpx;
					line-height: 1.4;
				}
				
				.cm_title {
					font-size: 30rpx;
					font-weight: 600;
					line-height: 1.6;
				}
				
				.tigs {
					color: #fff;
					height: 30rpx;
					line-height: 30rpx;
					padding: 0 30rpx;
					border-radius: 15rpx;
					background-color: #fd860b;
					font-size: 22rpx;
					margin: 10rpx 0;
				}
			}
		}

	}
</style>
