<template>
	<view class="pages">
		<view class="header" :style="{top:pageFixTop}">
			<u-tabs :list="tabs" bg-color="#fff"  active-color="#333" bar-active-color="#EC6633"  :is-scroll="false" :current="currentTab" @change="change"></u-tabs>
		</view>
		<view class="cm_full u-flex-y" v-if="lists.length<=0 && loadStatus!='loading'">
			<u-empty mode="list"></u-empty>
		</view>
		<view v-else>
			<view class="listItems" v-if="lists.length>0" >
					<block v-for="(it,ids) in  lists" :key="ids">
							<view class="u-flex items cm_bdb" @click="_href('/pages/features/audioDetail/audioDetail?code='+ it.catalogue_code)">
								<image class="clasPic" :src="it.course_main_img" mode="aspectFill"></image>
								<view class="u-flex-1  u-flex-y u-col-top" style="height: 144rpx;">
									<view class=" cm_title">{{ it.course_title}}</view>
									<view class="text ">讲师: {{ it.course_teacher}}</view>
									<view class="u-flex-1"></view>
									<view class="u-flex" style="width: 100%;">
										<view class="cm_text u-text-left u-flex-1" :style="{color:it.duration==100?'#0784CF':'#999'}">进度{{ it.duration | study}}%</view>
										<view class="cm_text  u-text-right">{{ it.begin_duration | time }}</view>
									</view>
								</view>
							</view>
					</block>
			</view>
			<view class="u-flex" style="height: 80rpx;">
				<u-loadmore :status="loadStatus" />
			</view>	
		</view>
		
		
	
		<u-top-tips ref="uTips" :z-index="10100" :navbar-height="0"></u-top-tips>
		<u-toast ref="uToast" />
	</view>
</template>

<script>
	export default {
		data() {
			return {
				baseKey: 'LearnList',
				hasRow: 'Rows',
				formParams: {
					"type":0,
					"pageIndex": 1, //页
					"pageSize": 10, //条
				},
				tabs: [{
					name: '最近学习'
				}, {
					name: '已学完'
				}],
				commentList: [],
				onBottom: true,
				onTop: true,
				show: false,
				currentVuale: '',
				currentTab:0
			};
		},
		filters:{
			time(val){
				
				return val.split(' ')[0]
			},
			study(val){
				// console.log(val)
				let s = parseInt(val);
				return s
			}
		},
		onLoad(options) {
			this._loadData('refresh')
		},
		methods: {
			change(index) {
				this.currentTab = index;
				this.formParams.type = index;
				this.lists = [];
				this._loadData('refresh')
			},
		}
	};
</script>

<style lang="scss" scoped>
	.pages {
		padding-top: 108rpx;
		
		.header {
			position: fixed; 
			left: 0;
			top: 0;
			width: 100vw;
			z-index: 10;
		}
		.listItems {
			padding: 32rpx;
			width: 100%;
			background-color: #fff;	
			// margin-top: 20rpx;
			.items {
				width: 100%;
				margin-bottom: 20rpx;
				border-radius: 12rpx;
				// overflow: hidden;
				padding-bottom:20rpx;
				&:last-child{
					margin-bottom: 0;
				}
				.clasPic {
					width:256rpx;
					height: 144rpx;
					border-radius: 8rpx;
					margin-right: 20rpx;
				}
				
				.text {
					font-size: 26rpx;
					line-height: 1.4;
				}
				
				.cm_title {
					font-size: 30rpx;
					font-weight: 600;
					line-height: 1.6;
				}
				
				.tigs {
					color: #fff;
					height: 30rpx;
					line-height: 30rpx;
					padding: 0 30rpx;
					border-radius: 15rpx;
					background-color: #fd860b;
					font-size: 22rpx;
					margin: 10rpx 0;
				}
			}
		}
	}
</style>
