<template>
	<view class="pages">
		<view class="cm_full u-flex-y" v-if="lists.length<=0 && loadStatus!='loading'">
			<u-empty mode="list"></u-empty>
		</view>
		<view v-else>
			<u-swipe-action :show="res.show" :index="index" v-for="(res, index) in lists" :key="res.id" @click="click"
			 :options="options">
				<view class="item" @click="_choose(res)">
					<view class="top">
						<view class="name">{{ res.receiving_user }}</view>
						<view class="phone">{{ res.receiving_mobile }}</view>
						<view class="tag" v-if="res.status==1">
							<text   :class="{red:res.status==1}">默认</text>
						</view>
					</view>
					<view class="bottom">
						{{ res.detailed_address }}		
					</view>
				</view>
			</u-swipe-action>
		</view>	
		<view class="addSite" >
			<!-- view class="add">
				<u-icon name="plus" color="#ffffff" class="icon" :size="30"></u-icon>新建收货地址
			</view> -->
			<u-button @click="toAddSite" :custom-style="{width:'100%'}" shape="circle" type="error">
				<u-icon name="plus" color="#ffffff" class="icon" :size="30"></u-icon>新建收货地址
			</u-button>
		</view>
		<u-top-tips ref="uTips" :navbar-height="44"></u-top-tips>
		<u-toast ref="uToast" />
	</view>
</template>

<script>
	export default {
		data() {
			return {
				baseKey: 'GetAddressList',
				hasRow: 'Rows',
				
				siteList: [],
				options: [{
						text: '默认',
						style: {
							backgroundColor: '#007aff'
						}
					},
					{
						text: '删除',
						style: {
							backgroundColor: '#dd524d'
						}
					}
				],
				action:''
			};
		},
		onLoad(options){
			this.action = options.action
		},
		onShow() {
			// this.getData();
			this._loadData('refresh')
		},
		methods: {
			_choose(item){
				if(this.action=='choose'){
					uni.$emit('chooseAddress',item);
					uni.navigateBack()
				}
			},
			click(index,action){
				if(action==0){
					// 设为默认
					this.setDefault(this.lists[index].address_code)
				}else if(action==1){
					//删除地址
					this.delete(this.lists[index].address_code)
				}
				
			},
			toAddSite() {
				uni.navigateTo({
					url: '/pages/features/address/addSite'
				});
			},
			async setDefault(code){
				let that = this;
				try {
					that.$ui.showloading()
					let res = await that.$api.DefaultAddress({address_code:code})
					console.log(res);
					that.$ui.hideloading()
					if (res.Success) {
							// that.$refs.uToast.show({
							// 	title: '添加成功',
							// 	type: 'success',
							// 	back: true,
							// })
							that.$refs.uTips.show({
								title: '已修改默认地址',
								type: 'success',
								duration: '1000'
							})
							that.lists = []
							that._loadData('refresh’')
					} else {
						// that.$ui.toast(res.Msg)
						that.$refs.uTips.show({
							title: res.Msg,
							type: 'error',
							duration: '1000'
						})
					}
					// console.log( '请求结果success : ' + JSON.stringify(res))
				} catch (err) {
					console.log('请求结果false : ' + err)
					that.loading = false
				}
			},
			async delete(code){
				let that = this;
				try {
					that.$ui.showloading()
					let res = await that.$api.DelAddress({address_code:code})
					console.log(res);
					that.$ui.hideloading()
					if (res.Success) {
							that.$refs.uTips.show({
								title: '删除成功',
								type: 'success',
								duration: '1000'
							})
							that.lists = []
							that._loadData('refresh’')
					} else {
						// that.$ui.toast(res.Msg)
						that.$refs.uTips.show({
							title: res.Msg,
							type: 'error',
							duration: '1000'
						})
					}
					// console.log( '请求结果success : ' + JSON.stringify(res))
				} catch (err) {
					console.log('请求结果false : ' + err)
					that.loading = false
				}
			}
		}
	};
</script>

<style lang="scss" scoped>
	.item {
		padding: 40rpx 20rpx;
		padding-bottom: 80rpx;
		.top {
			display: flex;
			font-weight: bold;
			font-size: 34rpx;

			.phone {
				margin-left: 60rpx;
			}

			.tag {
				display: flex;
				font-weight: normal;
				align-items: center;

				text {
					display: block;
					width: 60rpx;
					height: 34rpx;
					line-height: 34rpx;
					color: #ffffff;
					font-size: 20rpx;
					border-radius: 6rpx;
					text-align: center;
					margin-left: 30rpx;
					background-color: rgb(49, 145, 253);
				}

				.red {
					background-color: red
				}
			}
		}

		.bottom {
			display: flex;
			margin-top: 20rpx;
			font-size: 28rpx;
			justify-content: space-between;
			color: #999999;
		}
	}

	.addSite {
		display: flex;
		justify-content: space-around;
		width: 100%;
		line-height: 88rpx;
		position: fixed;
		bottom: 0;
		left: 0;
		// background-color: red;
		// border-radius: 60rpx;
		font-size: 30rpx;
		padding: 0 30rpx;
		height: 88rpx;
		.add {
			display: flex;
			align-items: center;
			color: #ffffff;

			.icon {
				margin-right: 10rpx;
			}
		}
	}
</style>
