<template>
	<view class="pages">
		<view class="boxs">
			<u-form :model="form" ref="uForm" :label-width="160">

				<view class="formBox">
					<u-form-item label="收货人姓名" prop="receiving_user">
						<u-input v-model="form.receiving_user" placeholder="请输入收货人姓名" />
					<!-- 	<view slot="right" hover-class="hover" style="padding: 0 16rpx;" @click="_choose">
							<u-icon name="calendar" :size="36" color="#999"></u-icon>
						</view> -->
					</u-form-item>
					<u-form-item label="联系电话" prop="receiving_mobile">
						<u-input v-model="form.receiving_mobile" type="number" placeholder="请输入联系电话" />
					</u-form-item>
					<u-form-item label="所在地区" prop="area" >
						<u-input disabled v-model="address" placeholder="请选择所在地区" @click="showRegionPicker" />
					</u-form-item>
					<u-form-item label="详细地址" prop="detailed_address">
						<u-input v-model="form.detailed_address" type="textarea" :autoHeight="true" placeholder="请输入收货地址" />
					</u-form-item>

				</view>
				<view class="default">
					<view class="">
						<view class="set">设置默认地址</view>	
					</view>
					<view class="u-flex">
						<view class="tips u-flex-1">提醒：每次下单会默认推荐该地址</view>
						<switch color="red"  @change="setDefault" />
					</view>
				</view>
			</u-form>
		</view>
		<u-top-tips ref="uTips" :z-index="10100" :navbar-height="0"></u-top-tips>
		<u-toast ref="uToast" />
		<u-picker mode="region" ref="uPicker" v-model="show" @confirm="confirm"  />
		<view class="addSite" >
			<!-- <view class="add">增加地址</view> -->
			<u-button @click="submit" :custom-style="{width:'100%'}" shape="circle" type="error">
				增加地址
			</u-button>
		</view>
		
	</view>
</template>

<script>
	export default {
		data() {
			return {
				show: false,
				form: {
					"area": "",
					"receiving_user": "",
					"receiving_mobile": "",
					"detailed_address": ""
				},
				address:'',
				rules: {
					receiving_user: [{
						required: true,
						message: '请输入收货人姓名',
						// 可以单个或者同时写两个触发验证方式 
						trigger: ['blur'],
					}],
					receiving_mobile: [{
							required: true,
							message: '请输入收货人联系方式',
							// 可以单个或者同时写两个触发验证方式 
							trigger: ['blur'],
						},
						{
							validator: (rule, value, callback) => {
								return this.$u.test.mobile(value);
							},
							message: '请输入正确的电话号码',
							trigger: ['blur'],
						}
					],
					area: [{
						required: true,
						message: '请选择地址',
						// 可以单个或者同时写两个触发验证方式 
						trigger: ['blur'],
					}],
					detailed_address: [{
						required: true,
						message: '请输入收货人地址',
						// 可以单个或者同时写两个触发验证方式 
						trigger: ['blur'],
					}],
					
				},
				ifSetDefault:false //是否设为默认
				
			};
		},
		onReady() {
			this.$refs.uForm.setRules(this.rules);
		},
		onLoad(options){
			// if(options)
		},
		methods: {
			setDefault(e) {
				console.log(e)
				let value = e.detail.value;
				this.ifSetDefault = value
			},
			showRegionPicker() {
				// debugger
				this.show = true;
			},
			confirm(e){
				// console.log(e);
				this.address =  `${e.province.label}-${e.city.label}-${e.area.label}`
				this.form.area = e.area.value
				// this.form.area = e.area.value
			}, 
			submit() {
				let that = this
				this.$refs.uForm.validate(async valid => {
					if (valid) {				
						// that.$store.commit('userLogin')
						// that.$store.dispatch('refreshUser')
						that.form.detailed_address = that.address +'-'+ that.form.detailed_address
						try {
							that.$ui.showloading()
							let res = await that.$api.AddAddressList(that.form)
							console.log(res);
							that.$ui.hideloading()
							if (res.Success) {
								
								// if(that.ifSetDefault){
								// 	that.setDefaultFn()
								// }else{
									that.$refs.uToast.show({
										title: '添加成功',
										type: 'success',
										back: true,
									})
								// }
							} else {
								that.$ui.toast(res.Msg)
								that.loading = false
							}
							// console.log( '请求结果success : ' + JSON.stringify(res))
						} catch (err) {
							console.log('请求结果false : ' + err)
							that.loading = false
						}
					} else {
						console.log('验证失败');
					}
				});
			},
		}
	};
</script>

<style lang="scss" scoped>
	.pages{
		padding: 20rpx;
		.boxs{
			background-color: #fff;
			padding: 20rpx;
			border-radius: 12rpx;
		}
	}

	.addSite {
		display: flex;
		justify-content: space-around;
		// width: 600rpx;
		line-height: 100rpx;
		// position: absolute;
		// bottom: 30rpx;
		// left: 80rpx;
		width: 100%;
		background-color: red;
		border-radius: 60rpx;
		font-size: 30rpx;
		margin-top: 40rpx;

		.add {
			display: flex;
			align-items: center;
			color: #ffffff;

			.icon {
				margin-right: 10rpx;
			}
		}
	}
	.default {
		padding: 40rpx 0;
		// display: flex;
		// justify-content: space-between;
		border-bottom: solid 1rpx $u-border-color;
		line-height: 64rpx;
	
		.tips {
			font-size: 24rpx;
		}
	
		.right {}
	}
	
</style>
