<template>
	<view class="pages">
		<view class="cm_full u-flex-y" v-if="lists.length<=0 && loadStatus!='loading'">
			<u-empty mode="list"></u-empty>
		</view>
		<view v-else>
			<view class="listItems">
				<!-- <u-row gutter="16"> -->
					<block v-for="(item,ids) in  lists" :key="ids">
							<view class=" items" @click="_href('/pages/features/deliveryDetail/deliveryDetail?code='+ item.send_code)">
								<view class="u-flex header">
									<view class="u-flex-1">
										申请时间：{{item.apply_time}}
									</view>
									<view style="color: #EC6633;">{{item.status | send_ststusFilter }}</view>
								</view>
								<u-line></u-line>
								<view class=" content" >
									<view class="cm_title">{{item.buy_address }}</view>
									<view class="u-flex">
										<text >{{item.buy_name }}</text>
										<text style="margin-left: 20rpx;"  class="u-flex-1">{{item.buy_phone | encryptPhone }}</text>		
									</view>									
								</view>
								
								<view class="u-flex" style="margin: 20rpx 0;">
								
									<u-avatar  mode="around" :src="item.goods_main_img" :size="180"></u-avatar>
									<view class="u-flex-1" style="margin-left: 20rpx;margin-right: 20rpx;">
										<view style="height: 130rpx;">
											<view class="u-flex-1 "  >{{item.goods_title }}</view>
											<view class="cm_time">{{item.skus_difference }}</view>
										</view>
										
										<view class="cm_time">统一零售价: ￥{{item.alone_price }}</view>
									</view>
									
								</view>
								<u-line></u-line>
								<view class="footer u-flex" >
								
									<text>发件数：<text style="color:#DD3A30 ;">{{item.change_stock_count }}</text>件</text>
									<view class="u-flex-1"></view>
									<text>预估收益：<text  style="color:#DD3A30 ;font-weight: 600;">￥{{item.sales_price }}</text></text>
								</view>	
							</view>
						<!-- </u-col> -->
					</block>
				<!-- </u-row> -->
			</view>
			<view class="u-flex" style="height: 80rpx;">
				<u-loadmore :status="loadStatus" />
			</view>	
		</view>
		
		
	
		<u-top-tips ref="uTips" :z-index="10100" :navbar-height="0"></u-top-tips>
		<u-toast ref="uToast" />
	</view>
</template>

<script>
	export default {
		data() {
			return {
				baseKey: 'StoreSendList',
				hasRow: 'Rows',
				formParams: {
					"pageIndex": 1, //页
					"pageSize": 10, //条
				},
				
				commentList: [],
				onBottom: true,
				onTop: true,
				show: false,
				currentVuale: ''
			};
		},
		filters:{
			encryptPhone(val){
				return val.replace(/(\d{3})\d*(\d{4})/,"$1****$2")
			}
		},
		onLoad(options) {
			this._loadData('refresh')
		},
		methods: {
			
		}
	};
</script>

<style lang="scss" scoped>
	.pages {
		.listItems {
			padding: 20rpx;
			.items {
				width: 100%;
				background-color: #fff;	
				margin-bottom: 20rpx;
				border-radius: 12rpx;
				overflow: hidden;
				padding:0 20rpx;
				&:last-child{
					margin-bottom: 0;
				}
				.header{
					height:84rpx ;
				}
				.content{
					width: 100%;
					background-color: #f1f1f1;
					padding: 16rpx;
				}
				.footer{
					height:84rpx ;
				}
				.text {
					font-size: 26rpx;
					line-height: 1.4;
				}
				
				.cm_title {
					font-size: 30rpx;
					font-weight: 600;
					line-height: 1.6;
				}
				
				.tigs {
					color: #fff;
					height: 30rpx;
					line-height: 30rpx;
					padding: 0 30rpx;
					border-radius: 15rpx;
					background-color: #fd860b;
					font-size: 22rpx;
					margin: 10rpx 0;
				}
			}
		}
	}
</style>
