<template>
	<view class="pages">
		<!-- <view class="header" style="top:88rpx">
			<u-tabs :list="tabs" bg-color="#fff" active-color="#333" bar-active-color="#EC6633" :is-scroll="false" :current="currentTab"
			 @change="change"></u-tabs>
		</view> -->
		<view class="cm_full u-flex-y" v-if="lists.length<=0 && loadStatus!='loading'">
			<u-empty mode="order"></u-empty>
		</view>
		<view class="listItems" v-else>
			<block v-for="(item,index) in  lists" :key="index">
				<view class="orderItemsBox ">
					<view class="cm_bdb flex  flex_center proItemTop">
						<!-- <image :src="item.shop_logo" mode="widthFix" class="shopLogo"></image> -->
						<u-avatar :src="item.shop_logo" :size="46"></u-avatar>
						<view class="f1 cm_tex_l cm_title" style="margin-left: 10rpx;">{{item.shop_name}}</view>
						<!-- <view class="cm_des">{{ item.create_time }}</view> -->
						<view class="status">{{ item.audit_status | auditStatusFilter }}</view>
					</view>
					<!-- <block v-for="(it, ind) in item.goods_list" :key="ind"> -->
						<view @click="toDetail(item)" class="picBox flex  flex_center">
							<!-- <view class="picBox flex  flex_center" >						 -->
							<image :src="item.skus_img" mode="aspectFill" class="avatar" lazy-load="true"></image>
							<!-- <view class="f1" style="height: 150rpx;">
								<view class=" cm_title   name cm_ellipsis2 " style="color: #333;">{{ it.order_name }}</view>
								<view class="cm_des flex flex_center" style="justify-content: flex-start;">
									<view>{{ it.skus_name }}</view>
								</view>
								<view class="  flex flex_center" style="margin-top: 10rpx;">
									<text class="cm_price cm_t_32">￥{{ it.alone_price }}</text>
									<view class="f1"></view>
									<view class="cm_des">
										<u-icon name="close" :size="24" color="#999"></u-icon>
										{{ it.goods_num }}
									</view>
								</view>
							</view> -->
							<view class="f1 u-flex u-col-top " style="height: 180rpx;">
								<view class="u-flex-1">
									<view class="    name cm_ellipsis2 text" >{{ item.goods_title }}</view>
									<view class=" cm_time  cm_ellipsis2 text"  >{{ item.skus_name }}</view>
								</view>
								<view class="u-flex-y u-row-right" style="align-items: flex-end;margin-left: 20rpx;">
									<text class="cm_title name text"><text style="font-size: 18rpx;">￥</text>{{ item.alone_price }}</text>
									<view class="u-flex text" style="height: 40rpx;" >
										<u-icon name="close" :size="24" color="#999"></u-icon>
										<view class="cm_time u-font-24">{{ item.goods_num }}</view>
									</view>	
								</view>
							</view>
							<!-- </view> -->
						</view>
					<!-- </block> -->

					<!-- <view class=" tui-skeleton-fillet flex flex_center cm_bdb" style="height: 80rpx;">
						<view class="f1">邮费：</view>
						<view class="">{{ item.is_ems?'￥'+item.is_ems:'包邮' }}</view>
					</view>
					<view class=" tui-skeleton-fillet flex flex_center cm_bdb" style="height: 80rpx;">
						<view class="f1">服务费用：</view>
						<view class="">{{ '￥'+item.service_total_price }}</view>
					</view> -->
					<view class=" tui-skeleton-fillet flex flex_center " style="height: 80rpx;">
						<view class="f1"></view>
						<!-- <view class="cm_des">共 {{ item.goods_num }} 件商品</view> -->
						<text class=" cm_t_32 " style="margin-left: 24rpx;">退款金额：￥{{ item.refund_price }}</text>
					</view>
					<!-- <view class="flex flex_center contentBox "> -->
						<!-- <view class="f1"></view> -->
						<!-- <button class="cm_tags primary" size="mini" v-if="item.order_status == 0" @click="_href('/pages/features/order/orderDetail/orderDetail?code='+item.order_code)">立即付款</button> -->
						<!-- <button class="cm_tags" size="mini" v-if="item.order_status == 4" @click="_giveUp(item.order_code)">撤销退款</button> -->
						<!-- <button class="cm_tags primary" size="mini" v-if="item.order_status == 1" @click="prompt(item.order_code)">提醒发货</button> -->
						<!-- <button class="cm_tags primary" size="mini" v-if="item.order_status == 2" @click="_sure(item.order_code)">确认收货</button> -->
						<!-- <button class="cm_tags primary" size="mini" v-if="item.order_status == 2" @click="scan(item.order_code)">查看物流</button> -->
						<!-- <button class="cm_tags" v-if="item.order_status!=5 && item.order_status!=9&& item.order_status!=0" @click="refund(item)" >退货退款</button> -->
					<!-- </view> -->
				</view>
			</block>

			<view class="u-flex" style="height: 80rpx;">
				<u-loadmore :status="loadStatus" />
			</view> 
		</view>

	
	</view>
</template>

<script>
	export default {
		data() {
			return {
				baseKey: 'GetRefundList',
				hasRow: 'Rows',
				formParams: {
					//订单状态0-全部 1-待付款 2-待发货 3-待签收 4-待评价(订单已签收) 9-交易关闭
					"refund_type":0,
					"order_status":'',
					"pageIndex": 1, //页
					"pageSize": 10, //条
				},
				commentList: [],
				onBottom: true,
				onTop: true,
				show: false,
				currentVuale: '',
				currentTab: 0
			};
		},
		filters: {
			time(val) {

				return val.split(' ')[0]
			},
			study(val) {
				// console.log(val)
				let s = parseInt(val);
				return s
			}
		},
		onShow(options) {
			this._loadData('refresh')
		},
		methods: {
			toDetail(item){
			
				uni.setStorageSync('refundDetail',item)
				uni.navigateTo({
					url:'/pages/features/refundDetail/refundDetail?code=' + item.refund_code
				})
			},
			change(index) {
				this.currentTab = index;
				this.formParams.order_status = index;
				this.lists = [];
				this._loadData('refresh')
			},
			
		}
	};
</script>

<style lang="scss" scoped>
	.pages {
		// padding-top: 108rpx;

		.header {
			position: fixed;
			left: 0;
			top: 0;
			width: 100vw;
			z-index: 10;
		}

		.listItems {
			padding: 20rpx;
			width: 100%;
			.orderItemsBox{
				border-radius: 12rpx;
				.picBox{
					margin-bottom: 0;
				}
				.text{
					line-height: 40rpx;
				}
			}

		}
	}
</style>
