<template>
	<view class="pages">
		<view class="header u-flex-y">
			<u-avatar src="../../../static/img/logo.jpg" :size="300" mode="square"></u-avatar>
		</view>

		<view class="box">
			<!-- #ifdef H5 -->
				<u-button shape="circle" @click="_wxLogin" :custom-style="{width:'100%',marginBottom:'32rpx'}" type="primary">微信登录</u-button>
			<!-- #endif -->
			<!-- #ifdef MP -->
				<u-button shape="circle" open-type="getUserInfo" @getuserinfo="getuserinfo" :custom-style="{width:'100%',marginBottom:'32rpx'}" type="primary">微信登录</u-button>
			<!-- #endif -->
			<u-button shape="circle" @click="_nav" plain :custom-style="{width:'100%'}" type="primary">其他方式登录</u-button>
		</view>
		<u-top-tips ref="uTips" :navbar-height="44"></u-top-tips>
		<u-toast ref="uToast" />
	</view>
</template>

<script>

	import SET from '@/SET.js';
	export default {
		data() {
			return {			
				set: {
					appid: SET.appid, //测试环境
					redirect_uri: SET.redirect,
				}
			};
		},
	
		computed:{},
		onLoad() {
			let that = this
			// this.loginParams.openId = uni.getStorageSync(SET.opIdName);
			// 存在预先引导动作
			console.log(this.currentAction)
			
		},
		
		methods: {
			_nav() {
				// debugger
				uni.redirectTo({
					url: '../yzmLogin/yzmLogin'
				})
			},
			// 前往授权 h5使用
			async _toAuth() {
				
				window.location.href =
					'https://open.weixin.qq.com/connect/oauth2/authorize?appid=' +
					this.set.appid +
					'&redirect_uri=' +
					this.set.redirect_uri +
					'&response_type=code&scope=snsapi_userinfo&state=1#wechat_redirect';
			},
			// 小程序使用
			getuserinfo(res){
				let  that  = this
				let userInfo = res.detail.userInfo
				console.log(userInfo)
				// this.formParams.nickname = userInfo.nickName
				// this.formParams.headimgurl =  userInfo.avatarUrl
				if(userInfo){
					uni.setStorageSync('zdjy_miniAccount', userInfo)
	
					const opId = uni.getStorageSync(SET.opIdName)
					if(!opId){
						// #ifdef MP
							uni.login({
							  provider: 'weixin', 
							  success: function (res) {
								let code =  res.code;
								// 获取code换opid
								console.log(code)
								// const r = await that.getopId(code)	
								that._getOpenId(code,1)	
							  }
							});
						// #endif
						return false
					}
					
					
					let  data =  {
						 "openId":opId,
						 "wx_code_type": "1",//0-公众号 1-小程序(不传默认为0)
					}
					
					this._wxLoginApi(data)
				}
				
			},
			// 获取用户身份
			async _getOpenId(code) {
				let that = this;
				try {
					const inviCode = uni.getStorageSync('inviCode')
					let data = {
						// "wx_code": code,
						// "invitation": inviCode
						"wx_code": code,
						"wx_code_type": 1,//0-公众号 1-小程序
					}
					this.$ui.showloading()
					let res = await this.$api.GetOpenId(data, false);
					this.$ui.hideloading()
					
					if (res.Success) {
						// #ifdef H5
							uni.setStorageSync(SET.opIdName,res.Data.openid)
							uni.setStorageSync('zdjy_wxAccount', res.Data);
						// #endif
						// #ifdef MP
							uni.setStorageSync(SET.opIdName,res.Data)
						// #endif
					} else {
						
					}
					let  data2 =  {
						 "openId":res.Data.openid,
						 "wx_code_type": "1",//0-公众号 1-小程序(不传默认为0)
					}
					
					this._wxLoginApi(data2)

				} catch (err) {
					uni.hideLoading()
				}
			},
			// h5登录
			async _wxLogin(){
				let that = this;
				const opId = uni.getStorageSync(SET.opIdName)
				if(!opId){
					// #ifdef H5
					this._toAuth();
					// #endif
					
					return false
				}
				let  data =  {
					 "openId":opId,
					 "wx_code_type": "0",//0-公众号 1-小程序(不传默认为0)
				}
				
				this._wxLoginApi(data)
			},
			async _wxLoginApi(data){
				let that = this;
				
				try {
					this.$ui.showloading()
					let res = await this.$api.WxTokenLogin(data, false);
					this.$ui.hideloading()
					if (res.Success) {
						uni.setStorageSync(SET.tokenName,res.Data)
						// 有效token，直接登录
						that.$store.commit('userLogin')
						that.$store.dispatch('refreshUser')
						
				
						this.$refs.uToast.show({
							title: '登陆成功',
							type: 'success',
							position: 'bottom',
							back:true
						})
					} else {
						// type 0-其他错误 1-账户未注册 2-账户未绑定手机号
						this.$refs.uToast.show({
							title:  res.Msg,
							type: 'warning',
							position: 'bottom',
							duration:500,
							callback:function(){
								if(res.Data.Type==1 || res.Data.Type==2 ){
									uni.redirectTo({
										url:'/pages/role/wxBunding/wxBunding?type='+ res.Data.Type
									})
								}
							}
						})
					}
				} catch (err) {
					console.log('请求结果false : ' + err);
					// uni.$store.commit('userLoginOut')
				}
			},
		}
	}
</script>

<style lang="scss" scoped>
	.pages {
		background-color: #fff;

		.header {
			height: 500rpx;
			width: 100vw;
		}

		.box {
			padding: 0 50rpx;

		}

		.warp {
			display: flex;
			align-items: center;
			justify-content: center;
			width: 100vw;
			height: 100vh;

			.rect {
				width: 90vw;
				// height: 80vh;
				background-color: #fff;
				border-radius: 16rpx;
				padding: 40rpx;

				.username {
					margin: 30rpx auto;
				}

				.inputs {
					width: 80vw;
					height: 88rpx;
					line-height: 88rpx;
					border-radius: 44rpx;
					background-color: #F7F7F7;
					margin-bottom: 32rpx;
					padding: 0 20rpx;
				}

				.icons {
					width: 36rpx;
					height: 36rpx;
					margin-right: 10rpx;
					margin-left: 10rpx;
				}
			}
		}


	}
</style>
