<template>
	<view class="pages ">
		
		<!-- 个人信息 -->
		<view class="conmuerBox u-flex" v-if="hasLogin">
			<u-avatar :src="userInfo.consumer_head" :size="90" class="avatar"></u-avatar>

			<view class="u-flex-1" style="margin-left:24rpx">
				{{userInfo.consumer_nick_name?userInfo.consumer_nick_name:'未设置名称'}}
			</view>
			<u-icon name="arrow-right" :size="24" color="#fff"></u-icon>
		</view>
		<view class="conmuerBox u-flex-y" v-else>
			<view style="font-size: 44rpx;">未登录</view>
			<u-button size="mini"  shape="circle" type="primary" @click="_login">立即登录</u-button>
		</view>
		<!-- 数据钱包 -->
		<view class="u-p-20">
			<view class="listBox">
				<u-cell-group>
	
					<u-cell-item  @click="_auth_href('/pages/features/order/order')"  title="我的订单" arrow-direction="right" :border-bottom="false">
						<image slot="icon" class="menusIcons" src="../../../static/sy/ic_dd.png" mode="scaleToFill"></image>
					</u-cell-item>
					<u-cell-item @click="_auth_href('/pages/features/classMate/classMate')"  title="我的团队" arrow-direction="right" :border-bottom="false">
						<image slot="icon" class="menusIcons" src="../../../static/sy/ic_td.png" mode="scaleToFill"></image>
					</u-cell-item>
					<u-cell-item @click="_auth_href('/pages/features/share/share')"  title="邀请好友" arrow-direction="right" :border-bottom="false">
						<image slot="icon" class="menusIcons" src="../../../static/sy/ic_yq.png" mode="scaleToFill"></image>
					</u-cell-item>
					<u-cell-item  @click="_href('/pages/features/aboutUs/aboutUs')" title="帮助中心" arrow-direction="right" :border-bottom="false">
						<image slot="icon" class="menusIcons" src="../../../static/sy/ic_bz.png" mode="scaleToFill"></image>
					</u-cell-item>
					<u-cell-item @click="_call" title="客服热线" arrow-direction="right" :border-bottom="false">
						<image slot="icon" class="menusIcons" src="../../../static/sy/ic_kf.png" mode="scaleToFill"></image>
					</u-cell-item>
					<u-cell-item @click="_auth_href('/pages/features/set/set')"  title="设置" arrow-direction="right" :border-bottom="false">
						<image slot="icon" class="menusIcons" src="../../../static/sy/ic_sz.png" mode="scaleToFill"></image>
					</u-cell-item>
				</u-cell-group>
			</view>
				
		</view>
		
		
		<u-top-tips ref="uTips" :navbar-height="0"></u-top-tips>
		<u-toast ref="uToast" />
		<u-mask :show="show" @click="show = false">
			<view class="warp">
				<view class="rect" @click.stop>弹窗</view>
			</view>
		</u-mask>
	</view>
</template>

<script>
	// #ifdef H5
		import h5Copy from '@/js_sdk/junyi-h5-copy/junyi-h5-copy.js'
	// #endif
	
	const global_Set_zdjy = uni.getStorageSync('global_Set_zdjy'); 
	export default {
		data() {
			return {
				show: false,
				onBottom:false,
				phoneNumber:global_Set_zdjy.customer_mobile,
			};
		},
		onLoad(){
		},
		onPullDownRefresh(){
			 this.$store.dispatch('refreshUser');
			 uni.stopPullDownRefresh()
		},
		methods:{
			_call(){
				uni.makePhoneCall({
					phoneNumber:this.phoneNumber
				})
			},
			copy(str) {
				let that = this
				let content = str
				// #ifdef H5
					const result = h5Copy(content)
					if (result === false) {
						that.$refs.uToast.show({
							title: '复制失败',
							type: 'error',
							position: 'bottom'
						})
					} else {
						that.$refs.uToast.show({
							title: '复制成功',
							type: 'success',
							position: 'bottom'
						})
					}
				// #endif
				// #ifdef MP
					uni.setClipboardData({
						data:content,
						success() {
							that.$refs.uToast.show({
								title: '复制成功',
								type: 'success',
								position: 'bottom'
							})
						},
						fail() {
							that.$refs.uToast.show({
								title: '复制失败',
								type: 'error',
								position: 'bottom'
							})
						}
					})
				// #endif
				
			},
		}
	}
</script>

<style lang="scss" scoped>
	.pages {

		.conmuerBox {
			width: 100vw;
			height: 250rpx;
			padding: 0 20rpx;
			position: relative;
			color: #fff;
			background: url(../../../static/sy/wd_bg.jpg) 0 0 /cover no-repeat;
			.level {
				height: 30rpx;
				border-radius: 15rpx;
				padding: 0 14rpx 0 4rpx;
				color: #fff;
				font-size: $u-font-xs;
				background: linear-gradient(45deg, #EFC088, #E2A25F);
				margin-left: 20rpx;
			}
			.avatar{
				border: 2rpx solid #fff;
			}
		}

	
		.listBox{
			// padding: 0 20rpx;
			overflow: hidden;
			border-radius: 16rpx;
			// margin-top: 20rpx;
			background-color: #fff;
			.menusIcons{
				width: 48rpx;
				height: 48rpx;
				margin-right: 20rpx;
			}
		}
		.title {
			font-size: 32rpx;
			color: $u-main-color;
			line-height: 1;
			// margin-bottom: 20rpx;
		}

		.text {
			font-size: 26rpx;
			color: $u-main-color;
		}

		.warp {
			display: flex;
			align-items: center;
			justify-content: center;
			height: 100%;
		}

		.rect {
			width: 120px;
			height: 120px;
			background-color: #fff;
		}
	}
</style>
