<template>
	<view class="pages">
		<u-notice-bar mode="horizontal" :is-circular="true" :list="list" :autoplay="true"></u-notice-bar>
		<view style="padding: 20rpx;">
			<view class="boxs">
				<u-form :model="form" ref="uForm" label-width="150">
					<u-form-item label="真实姓名" prop="username">
						<u-input v-model="form.username" />
					</u-form-item>
					<u-form-item label="支付宝号" prop="account">
						<u-input v-model="form.account" />
					</u-form-item>
					<u-form-item label="手机号" >
						<!-- <u-input v-model="form.newmobile" type="password"/> -->
						<text>{{userInfo.consumer_mobile | encryptPhone}}</text>
					</u-form-item>
					<u-form-item label="验证码" prop="vilidate">
						<u-input v-model="form.vilidate" />
						<view slot="right">
							<u-button size="mini" slot="right" shape="circle" type="primary" @click="getCode">{{codeText}}</u-button>
						</view>
					</u-form-item>
				</u-form>
			</view>
			<u-verification-code ref="uCode" @change="codeChange"></u-verification-code>
		</view>
		<view style="margin-top: 72rpx;padding: 0 20rpx;">
			<u-button shape="circle" @click="submit" :custom-style="{width:'100%'}" size="medium" type="primary">立即绑定</u-button>
		</view>
		<u-top-tips ref="uTips" :z-index="10100" :navbar-height="0"></u-top-tips>
		<u-toast ref="uToast" />
	</view>
</template>

<script>
	export default {
		data() {
			return {
				form: {
					"username": "", //真实姓名
					"account": "", //支付宝账号
					"vilidate": "", //验证码type-11
				},
				defaultForm: {
					"consumer_nick_name": "",
					"consumer_head": "",
					"alipay_account": "",
					"weixin_account": "",
				},
				mobile: '',
				code: '',
				codeText: '',
				list: ['请输入正确的支付宝账号及姓名用于余额提现'],
				rules: {
					
					username: [{
						required: true,
						message: '请输入您的真实姓名',
						// 可以单个或者同时写两个触发验证方式 
						trigger: ['blur'],
					}],
					account: [{
						required: true,
						message: '请输入您的支付宝账户号',
						// 可以单个或者同时写两个触发验证方式 
						trigger: ['blur'],
					}],
					vilidate: [{
						required: true,
						min: 6,
						max: 6,
						message: '请输入6位验证码',
						// 可以单个或者同时写两个触发验证方式 
						trigger: ['blur'],
					}]
				}
			}
		},
		onReady() {
			this.$refs.uForm.setRules(this.rules);

		},
		filters: {
			encryptPhone(val) {
				return val.replace(/(\d{3})\d*(\d{4})/, "$1****$2")
			}
		},
		onLoad(){
			this.form.username =  this.userInfo.consumer_name
			this.form.account =  this.userInfo.alipay_account
		},
		methods: {
			submit() {
				let  that = this
				this.$refs.uForm.validate(async  valid => {
					if (valid) {
						console.log('验证通过');
						try {
							that.$ui.showloading()
							let res = await that.$api.BindAliAccount(that.form);
							that.$ui.hideloading()
							if (res.Success) {
								that.$store.dispatch('refreshUser');
								that.$refs.uToast.show({
									title: '修改成功',
									type: 'success',
									position: 'bottom',
									back: true
								})
							} else {
								that.$refs.uToast.show({
									title: res.Msg,
									type: 'error',
									position: 'bottom',
									back: true
								})
							}
						} catch (err) {
							console.log('请求结果false : ' + err)
						
						}
					} else {
						console.log('验证失败');
					}
				});
			},
			codeChange(text) {
				this.codeText = text;
			},
			async getCode() {
				let that = this
				if (this.$refs.uCode.canGetCode) {
					// 模拟向后端请求验证码
					let data = {
						mobile: this.userInfo.consumer_mobile,
						type: 11 //1-注册 2-登陆 3-找回密码 6-修改支付密码 9-修改手机号
					};
					try {
						uni.showLoading({
							title: '正在获取验证码'
						})
						let res = await this.$api.getVerificateCode(data);
						uni.hideLoading();
						if (res.Success) {
							that.$refs.uCode.start();
							that.$refs.uTips.show({
								title: '验证码发送成功',
								type: 'success',
								duration: '1000'
							})
						} else {
							uni.showToast({
								icon: 'none',
								title: res.Msg ? res.Msg : '发送失败',
							});
						}
					} catch (err) {
						console.log('请求结果false : ' + err)

					}

				} else {
					this.$u.toast('倒计时结束后再发送');
				}
			}
		}
	}
</script>

<style lang="scss" scoped>
	.pages {
		.boxs {
			background-color: #fff;
			border-radius: 12rpx;
			padding: 0 20rpx;
		}
	}
</style>
