<template>
	<view class="pages">
		

		<u-form :model="form" ref="uForm" :label-width="160" >
			<view class="title">基本信息</view>
			<view class="formBox">
				<u-form-item label="姓名" prop="health_name">
					<u-input v-model="form.health_name" />
				</u-form-item>
				<u-form-item label="性别" prop="health_agent">
					<u-input :value="form.health_agent==1?'女':'男'"  type="select" :border="false" @click="show2 = true" />
					<u-action-sheet :list="actionSheetList" v-model="show2" @click="actionSheetCallback"></u-action-sheet>
				</u-form-item>
				<u-form-item label="出生年月" prop="health_birth">
					<u-input v-model="form.health_birth"   type="select" :border="false" @click="show = true" />
					<u-picker v-model="show" mode="time" @confirm="pickCallback"></u-picker>
				</u-form-item>
				<!-- <u-gap height="80" bg-color="#f5f5f5"></u-gap> -->
			</view>
			<view class="title">健康资料</view>
			<view class="formBox">
				<u-form-item label="身高" prop="health_height">
					<u-input v-model="form.health_height" type="number" placeholder="请输入身高" />
					<view slot="right">(/cm)</view>
				</u-form-item>
				<u-form-item label="体重" prop="health_weight">
					<u-input v-model="form.health_weight" type="number" placeholder="请输入体重" />
					<view slot="right">(/kg)</view>
				</u-form-item>
				<u-form-item label="舒张压" prop="health_blood_sz">
					<u-input v-model="form.health_blood_sz" placeholder="请输入舒张压" />
					<view slot="right">(mmHg)</view>
				</u-form-item>
				<u-form-item label="收缩压" prop="health_blood_ss">
					<u-input v-model="form.health_blood_ss" placeholder="请输入收缩压" />
					<view slot="right">(mmHg)</view>
				</u-form-item>
				<u-form-item label="心率" prop="health_rate">
					<u-input v-model="form.health_rate" placeholder="请输入心率值" />
					<view slot="right">(搏/分)</view>
				</u-form-item>
				<u-form-item label="血糖" prop="health_sugar">
					<u-input v-model="form.health_sugar" placeholder="请输入血糖" />
					<view slot="right">(mmol/L)</view>
				</u-form-item>
				<u-form-item label="用药记录" prop="health_medical_records">
					<u-input v-model="form.health_medical_records" type="textarea" :border="false" :auto-height="true" placeholder="请输入最近用药记录"/>
				</u-form-item>
			</view>
		</u-form>
		<view style="margin-top: 40rpx ;padding: 20rpx;">
			<u-button @click="submit" type="primary" shape="circle">提交</u-button>
		</view>
		<u-top-tips ref="uTips" :z-index="10100" :navbar-height="0"></u-top-tips>
		<u-toast ref="uToast" />
	</view>
</template>

<script>
	export default {
		data() {
			return {
				show: false,
				show2: false,
				form: {},
				actionSheetList: [{
						text: '男',
						value:0
					},
					{
						text: '女',
						value:1
					}
				],
				form: {
					"health_code": '',
					"health_name": "", //姓名
					"health_agent": 0, //性别
					"health_birth": "", //生日
					"health_height": "", //身高
					"health_weight": "", //体重
					"health_blood_sz": "", //血压
					"health_blood_ss": "", //血压
					"health_sugar": "", //血糖
					"health_rate":"",//心率
					"health_medical_records": "", //用药记录
				},
				// health_agent:'',
				rules: {
					
					health_name: [{
						required: true,
						message: '请输入您的姓名',
						// 可以单个或者同时写两个触发验证方式 
						trigger: ['blur'],
					}],
					// health_agent: [{
					// 	required: true,
					// 	message: '请选择您的性别',
					// 	// 可以单个或者同时写两个触发验证方式 
					// 	trigger: ['blur'],
					// }],
					health_birth: [{
						required: true,		
						message: '请输入请选择您的出生年月',
						// 可以单个或者同时写两个触发验证方式 
						trigger: ['blur'],
					}],
					health_height: [{
						required: true,
						message: '请输入您的测量身高',
						// 可以单个或者同时写两个触发验证方式 
						trigger: ['blur'],
					}],
					health_weight: [{
						required: true,
						message: '请输入您的测量体重',
						// 可以单个或者同时写两个触发验证方式 
						trigger: ['blur'],
					}],
					
					health_blood_sz: [{
						required: true,
						message: '请输入您的测量舒张压',
						// 可以单个或者同时写两个触发验证方式 
						trigger: ['blur'],
					}],
					health_blood_ss: [{
						required: true,
						message: '请输入您的测量收缩压',
						// 可以单个或者同时写两个触发验证方式 
						trigger: ['blur'],
					}],
					health_sugar: [{
						required: true,
						message: '请输入您的测量血糖',
						// 可以单个或者同时写两个触发验证方式 
						trigger: ['blur'],
					}],
					health_rate: [{
						required: true,
						message: '请输入您的测量心率',
						// 可以单个或者同时写两个触发验证方式 
						trigger: ['blur'],
					}],
					health_medical_records: [{
						required: false,
						message: '请输入您的最近用药记录',
						// 可以单个或者同时写两个触发验证方式 
						trigger: ['blur'],
					}],
				}
			};
		},
		onLoad(options){
			this.code = options.code;
			this.loadData()
		},
		onReady() {
			this.$refs.uForm.setRules(this.rules);
			
		},
		methods: {
			async loadData() {
				let that = this;
				that.catalogueList = []
				try {
					this.$ui.showloading()
					let res = await this.$api.DetailHealth({
						health_code: that.code
					});
					this.$ui.hideloading()
			
					if (res.Success) {
						// that.report = res.Data
						that.form = {
							"health_code": res.Data.health_code, //制定code
							"health_name": res.Data.health_name, //姓名
							"health_agent": res.Data.health_agent, //性别
							"health_birth": res.Data.health_birth, //生日
							"health_height": res.Data.health_height, //身高
							"health_weight": res.Data.health_weight, //体重
							"health_blood_sz": res.Data.health_blood.split('/')[0], //血压
							"health_blood_ss": res.Data.health_blood.split('/')[1], //血压
							"health_sugar":res.Data.health_sugar, //血糖
							"health_rate":res.Data.health_rate,//心率
							"health_medical_records": res.Data.health_medical_records, //用药记录
						}
						
					} else {
			
					}
					that.pageLoading = false
				} catch (err) {
					console.log('请求结果false : ' + err)
					that.pageLoading = false
			
				}
			},
			pickCallback(e){
				// debugger;
				this.form.health_birth = e.year +'年' + e.month + '月' + e.day+'日'
			},
			actionSheetCallback(e) {
				// debugger
				this.form.health_agent = e
				this.health_agent = this.actionSheetList[e].text
			},
			submit() {
				let  that = this
				let form = {
					"health_code": this.form.health_code, //姓名
					"health_name": this.form.health_name, //姓名
					"health_agent": this.form.health_agent, //性别
					"health_birth": this.form.health_birth, //生日
					"health_height":this.form.health_height, //身高
					"health_weight": this.form.health_weight, //体重
					"health_blood": `${this.form.health_blood_sz}/${this.form.health_blood_ss}`, //血压
					"health_sugar": this.form.health_sugar, //血糖
					"health_rate": this.form.health_rate, //血糖
					"health_medical_records": this.form.health_medical_records, //用药记录
				}
				this.$refs.uForm.validate(async  valid => {
					console.log(form)
					if (valid) {
						console.log('验证通过');
						try {
							that.$ui.showloading()
							let res = await that.$api.AddHealth(form);
							that.$ui.hideloading()
							if (res.Success) {
								// uni.$emit('refreshHealth');
								that.$refs.uToast.show({
									title: '提交成功',
									type: 'success',
									position: 'bottom',
									back: true
								})
							} else {
								that.$refs.uToast.show({
									title: res.Msg,
									type: 'error',
									position: 'bottom',
									back: true
								})
							}
						} catch (err) {
							console.log('请求结果false : ' + err)
						
						}
					} else {
						console.log('验证失败');
					}
				});
			},
		}
	}
</script>

<style lang="scss" scoped>
	.pages {
		.title {
			line-height: 3;
			padding: 0 20rpx;
		}

		.formBox {
			width: 100%;
			background-color: #fff;
			padding: 0 20rpx;
			// margin-bottom: 20rpx;
		}
	}
</style>
