<template>
	<view class="pages">
		<view class="bgbox ">
			<image src="../../../static/img/qb_bg.jpg" mode="aspectFill" class="cm_bg"></image>
			<!-- #ifdef H5 -->
			<view class="u-flex header">
				<navigator open-type="navigateBack" class="actions u-text-left" style="padding-left: 20rpx;">
					<u-icon name="arrow-left" color="#fff" size="40"></u-icon>
				</navigator>
				<view class="cm_title u-text-center u-flex-1">我的钱包</view>
				<view class="actions u-text-center " ></view>
			</view>
			<!-- #endif -->
			
			<view class="amount u-flex-y">
				<u-count-to :start-val="0" :end-val="userInfo.consumer_blance?userInfo.consumer_blance:0" font-size="64" :decimals="2" color="#fff"></u-count-to>
				<view class="text">可提现金额(元)</view>
			</view>
		</view>
		<view class="box">
			<view class="bars u-flex ">
				<view class="u-flex-1 u-flex-y">
					<u-count-to :start-val="0" :end-val="userInfo.cash_money?userInfo.cash_money:0" font-size="36" color="#333" :decimals="2"></u-count-to>
					<view class="grid-text">提现中(元)</view>
				</view>
				<view class="line"></view>
				<view class="u-flex-1 u-flex-y">
					<u-count-to :start-val="0" :end-val="userInfo.cash_blance?userInfo.cash_blance:0" font-size="36" color="#333" :decimals="2"></u-count-to>
					<view class="grid-text">不可提现(元)</view>
				</view>
			</view>
			<u-button shape="circle" @click="submit" :custom-style="{width:'100%'}" size="medium" type="warning">立即提现</u-button>
			<view class="u-text-center" style="margin-top: 30rpx;">
				<text style="font-size: 26rpx;">注：最低提现额度为<text style="color: #F96034;">100</text>元且为<text style="color: #F96034;">100</text>元的整数倍</text>
			</view>

		</view>
		<view class="u-flex u-row-around " style="padding: 20rpx;">
			<view class="u-flex-1 u-flex menus" @click="_href('/pages/features/withdrawHistory/withdrawHistory')">
				<image src="/static/img/WechatIMG51.png" mode="aspectFill" class="icon"></image>
				<text>提现记录</text>
			</view>
			<view style="width: 20rpx;"></view>
			<view class="u-flex-1 u-flex menus" @click="_href('/pages/features/balance/balance')">
				<image src="/static/img/WechatIMG50.png" mode="aspectFill" class="icon"></image>
				<text>余额明细</text>
			</view>
		</view>
		<view class="cm_title" style="line-height: 80rpx;padding: 0 20rpx;" >本年收益</view>
		<view style="padding: 20rpx;">
			<view class="boxs2">
				<view>
					<view class="">年度总收益(元)</view>
					<view style="padding: 20rpx 0;">
						<u-count-to :start-val="0" :end-val="yearData.main_money?yearData.main_money:0" font-size="40" color="#333"></u-count-to>
					</view>

				</view>
				<u-line></u-line>
				<view class="u-flex" style="margin-top: 20rpx;">
					<view class="">
						<view class="grid-text">销售收益(元)</view>
						<view class="" style="padding: 20rpx 0;">
							<u-count-to :start-val="0" :decimals="2" :end-val="yearData.sales?yearData.sales:0" font-size="40" color="#333"></u-count-to>
						</view>
					</view>
					<view class="u-flex-1"></view>
					<view class="">
						<view class="grid-text">佣金收益(元)</view>
						<view class="" style="padding: 20rpx 0;">
							<u-count-to :start-val="0" :decimals="2" :end-val="yearData.commission?yearData.commission:0" font-size="40" color="#333"></u-count-to>
						</view>
					</view>
				</view>
			</view>
		</view>
	</view>
</template>

<script>
	export default {
		data() {
			return {
				yearData:''
			};
		},
		onLoad(){
			this._loadYear()
		},
		methods: {
			// 加载年度数据
			async _loadYear(){
				let  that = this;
				try {
			
					let res = await this.$api.GetYearAmount({}, false);
					// this.$ui.hideloading();
				
					console.log(res)
					if (res.Success) {
						// uni.setStorageSync('ys',res.Data.Value)
						that.yearData = res.Data
						// that.item = res.Data;
					} else {
						that.$ui.toast(res.Msg)
					}
				
				} catch (err) {
					console.log('请求结果false : ' + err);
				}
			},
			submit() {
				uni.navigateTo({
					url:'/pages/features/withdraw/withdraw'
				})
			}
		}
	}
</script>

<style lang="scss" scoped>
	.pages {
		.bgbox {
			
			width: 100vw;
			height: 460rpx;
			// background: #fff url(../../../static/img/qb_bg.png) 0 0 /cover no-repeat;
			position: relative;

			.header {
				height: 80rpx;
				line-height: 80rpx;
				position: absolute;
				width: 100vw;
				left: 0;
				top: 0;
				z-index: 1;
				.cm_title {
					color: #fff;
				}

				.actions {
					width: 160rpx;
					height: 80rpx;
					color: #fff;
				}
			}

			.amount {
				height: 400rpx;
				position: relative;
				z-index: 1;
				.text {
					color: #fff;
					// margin-top: 30rpx;
				}
			}
		}
		.menus{
			width: 347rpx;
			height: 141rpx;
			border-radius: 12rpx;
			background-color: #fff;
			.icon{
				width: 68rpx;
				height: 68rpx;
				margin-right: 20rpx;
			}
		}
		.box {
			background-color: #fff;
			padding: 0 20rpx;
			height: 324rpx;
			padding-top: 160rpx;
			position: relative;
			z-index: 10;

			.bars {
				position: absolute;
				left: 20rpx;
				right: 20rpx;
				top: -40rpx;
				height: 162rpx;
				background-color: #fff;
				border-radius: 12rpx;
				width: 710rpx;
				box-shadow: 0 20rpx 20rpx #f1f1f1;
				margin-top: -40rpx;
				padding: 20rpx;

				.line {
					width: 4rpx;
					height: 40rpx;
					border-radius: 2rpx;
					background-color: #D8D8D8;
				}
			}
		}

		.boxs2 {
			background-color: #fff;
			padding: 20rpx;
			border-radius: 12rpx;
			.grid-text{
				font-size: 26rpx;
			}
		}
	}
</style>
