<template>
	<view>
		<view class="pages u-skeleton">

			<view class="bgbox ">
				<view style="font-size: 36rpx;font-weight: 600;">{{item.audit_status | auditStatusFilter}}</view>
				<!-- <text style="font-size: 24rpx;font-weight: 400;">
					{{item.refund_info}}
				</text> -->
			</view>
			<view class="orderItemsBox u-skeleton-fillet">
				<view class="cm_bdb flex  flex_center proItemTop "  >
					<u-avatar :src="item.shop_logo" :size="46"></u-avatar>
					
					<view class="cm_title f1" style="margin-left: 10rpx;">{{ item.shop_name }}</view>
					<!-- <Icon name="arrowright" :size="16"></Icon> -->
					<!-- <u-icon name="arrow-right" :size="16"></u-icon> -->
				</view>
				<view class="picBox u-skeleton-fillet">			
					<view class=" flex  flex_center " style="align-items: flex-start;">
						<!-- <view class="picBox flex  flex_center" >						 -->
						<image :src="refundDetail.skus_img" mode="aspectFill" class="avatar" lazy-load="true"></image>
						<view class="f1 u-flex u-col-top " style="height: 180rpx;">
							<view class="u-flex-1">
								<view class="    name cm_ellipsis2 text" >{{ refundDetail.goods_title }}</view>
								<view class=" cm_time  cm_ellipsis2 text"  >{{ refundDetail.skus_name }}</view>
								<view class=" u-skeleton-fillet flex flex_center" style="margin-top: 10rpx;">
									<text class=" ">退款金额：<text class="">￥{{ item.apply_price }}</text></text>
									<view class="f1"></view>
								</view>
							</view>
							<view class="u-flex-y u-row-right" style="align-items: flex-end;margin-left: 20rpx;">
								<text class="cm_title name text"><text style="font-size: 18rpx;">￥</text>{{ refundDetail.alone_price }}</text>
								<view class="u-flex text" style="height: 40rpx;" >
									<u-icon name="close" :size="24" color="#999"></u-icon>
									<view class="cm_time u-font-24">{{ refundDetail.goods_num }}</view>
								</view>	
							</view>
						</view>
						
					<!-- 	<view class="f1 u-flex u-col-top " style="height: 180rpx;">
							<view class="u-flex-1">
								<view class="    name cm_ellipsis2 text" >{{ refundDetail.goods_title }}</view>
								<view class=" cm_time  cm_ellipsis2 text"  >{{ refundDetail.skus_name }}</view>
							</view>
							<view class="u-flex-y u-row-right" style="align-items: flex-end;margin-left: 20rpx;">
								<text class="cm_title name text"><text style="font-size: 18rpx;">￥</text>{{ refundDetail.alone_price }}</text>
								<view class="u-flex text" style="height: 40rpx;" >
									<u-icon name="close" :size="24" color="#999"></u-icon>
									<view class="cm_time u-font-24">{{ refundDetail.goods_num }}</view>
								</view>	
							</view>
						</view> -->
						<!-- </view> -->
					</view>
				</view>
			</view>

			<view class="orderItemsBox  u-skeleton-fillet" @click="call">
				<view class="flex flex_center">
					<!-- <image src="../../../../static/img/phone.png" mode="widthFix" class="call"></image> -->
					<u-icon name="phone" :size="30" color="#1192E0"></u-icon>
					<text>联系卖家</text>
				</view>
			</view>

			<view class="orderItemsBox u-skeleton-fillet" style="padding: 0;">
				<u-cell-group>
					<u-cell-item title="拒绝原因" v-if="item.audit_status==2" :arrow="false" :value="item.audi_remark" :border-bottom="false"></u-cell-item>
					<!-- <u-cell-item title="退款类型" :arrow="false" :value="item.refund_type | refundTypeFilter " :border-bottom="false"></u-cell-item> -->
					<u-cell-item title="退款原因"  :arrow="false" :value="item.reason" :border-bottom="false"></u-cell-item>
					<u-cell-item title="订单编号"  :arrow="false" :value="item.order_code" :border-bottom="false"></u-cell-item>
					<u-cell-item title="申请时间" :arrow="false" :value="item.apply_date" :border-bottom="false"></u-cell-item>
					<!-- <u-cell-item title="商品金额" :arrow="false" :value="allPrize" :border-bottom="false"></u-cell-item> -->
				</u-cell-group>
			</view>


			<view class="footer flex flex_center u-skeleton-fillet">
				<view class="f1"></view>
				<!-- <u-button class="btns" type="primary" size="small" shape="circle" @click="_toEms" v-if="item.audit_status==3 ">立即寄件</u-button> -->

				<u-button class="btns" type="error" size="small" shape="circle" @click="_toRefund(item.refund_code)" v-if="item.audit_status==2">重新退款</u-button>

				<u-button class="btns" type="error" size="small"  shape="circle" @click="_giveUp(item)" v-if="item.audit_status==0 ">撤销退款</u-button>

				<!-- <u-button class="btns" type="primary" size="small" plain shape="circle" @click="deleted" v-if="item.audit_status==4 ||item.audit_status==5 ">删除订单</u-button> -->

				<u-button class="btns" type="error" size="small" plain shape="circle" @click="progress(item.refund_code)">退款进度</u-button>


			</view>
			<u-top-tips ref="uTips" :z-index="10100" :navbar-height="0"></u-top-tips>
			<u-toast ref="uToast" />
		</view>
		<u-skeleton :loading="pageLoading" :animation="true" bgColor="#FFF"></u-skeleton>
	</view>
</template>

<script>
	// import tuiSkeleton from '@/components/tui-skeleton/tui-skeleton';
	// import tuiListView from '@/components/list-view/list-view';
	// import tuiListCell from '@/components/list-cell/list-cell';
	const global_Set_zdjy = uni.getStorageSync('global_Set_zdjy');
	import Utils from '@/common/utils.js';

	export default {
		data() {
			return {
				item: '',
				scheduleList: '',
				loading1: false,
				loading2: false,
				form: {
					"refund_code": ""
				},
				problemPics: [],
				pageLoading: true,
				phoneNum: global_Set_zdjy.customer_mobile,
				refundDetail:''
			};
		},
		onLoad(options){
			this.form.refund_code = options.code;
			this.refundDetail = uni.getStorageSync('refundDetail')
		},
		onShow() {
			// debugger 
			// console.log(this.refundDetail) 
			let that = this
			this.loadData()
			// uni.$on('refresh_refundDetail', () => {
			// 	that.loadData()
			// })
		},
		components: {
			// tuiListCell,
			// tuiSkeleton, 
			// tuiListView
		},
		methods: {
			_toRefund(code){
				uni.navigateTo({
					url:'/pages/features/refundApply/refundApply?code=' + code
				})
			},
			// 查看进度
			progress(){
				
				uni.navigateTo({
					url: '/pages/features/refundProgress/refundProgress' 
				});
			},
			async _giveUp(item){
				let that= this;
				try {
					// this.$ui.showloading();	
					let data = {
						refund_code:this.item.refund_code
					}
					let res = await this.$api.DelectRefund(data, false); 
					// this.$ui.hideloading();
					if (res.Success) {
					
						this.$refs.uToast.show({
							title: '撤销退款成功',
							type: 'success',
							position: 'bottom',
							back:true
							
						})		
						// setTimeout(()=>{
						// 	// that._loadData('refresh');
						// 	that._refresh()
						// },1000)
					} else {
						that.$ui.toast(res.Msg)
					}
				} catch (err) {
					console.log('请求结果false : ' + err);
				}
			},
			call() {
				let  that = this
				
				uni.makePhoneCall({
					phoneNumber: that.phoneNum //仅为示例
				});
				// debugger
			},
			
			// 加载数据
			async loadData(callback) {
				let that = this;
				try {
					// this.$ui.showloading();

					let res = await this.$api.GetRefundOrderInfo(this.form, false);
					// this.$ui.hideloading();
					// console.log(res)
					if (res.Success) {
						if (res.Data) {
							that.item = res.Data.refundModel;
							uni.setStorageSync('refundHis',res.Data)
							// console.log(this.item.defund_log_list)
							// that.problemPics = res.Data.refundModel.CertPic ? res.Data.refundModel.CertPic.split(',') : []
						}
						that.pageLoading = false
					} else {
						that.$ui.toast(res.Msg)
					}
					if (callback) callback();
				} catch (err) {
					console.log('请求结果false : ' + err);
				}
			},
			
		}
	}
</script>

<style lang="scss" scoped>
	.pages {
		padding: 20rpx;
		position: relative;
		padding-top: 160rpx;
		padding-bottom: 90rpx;

		.bgbox {
			font-size: 40rpx;
			text-align: left;
			// padding: 40rpx 0;
			background: $uni-color-error;
			color: #fff;
			font-weight: 600;
			position: absolute;
			left: 0;
			top: 0;
			z-index: 0;
			width: 100%;
			height: 260rpx;
			// line-height: 300rpx;

			padding: 20rpx 40rpx;
			padding-top: 60rpx;

			&.text-red {
				color: red
			}

		}

		.proItemsBox {
			border-radius: 12rpx;
			overflow: hidden;
			z-index: 1;
			position: relative;

			.call {
				width: 50rpx;
				height: 50rpx;
				margin-right: 20rpx;
			}
		}

		.addressBox {

			z-index: 1;
			position: relative;
			text-align: left;

			.icon {
				width: 50rpx;
				height: 50rpx;
				margin-right: 26rpx;
			}

			.cm_title {
				margin-bottom: 10rpx;

			}

			.bdb {
				border-bottom: 1rpx solid #f2f2f2;
				padding-bottom: 20rpx;
			}

			.cm_text {
				text-align: left;
				color: #999;
				margin-right: 20rpx;

			}
		}

		.picBox {
			margin-bottom: 0;

			.avatar {
				width: 160rpx;
				height: 160rpx;
			}
		}

		.textarea {
			height: 150rpx;
			margin-top: 24rpx;
		}

		.container {

			padding: 0 20rpx;
		}

		.box {
			margin-top: 20rpx;
			background: #fff;

		}

		.pics {
			width: 120rpx;
			height: 120rpx;
			border-radius: 20rpx;
			margin-right: 20rpx;
			background: #f1f1f1;
		}



		.tui-line-cell {
			width: 100%;
		}

		.footer {
			position: fixed;
			left: 0;
			bottom: 0;
			height: 100rpx;
			background: #fff;
			border-top: 1rpx solid #f2f2f2;
			width: 100%;
			padding: 0 20rpx;
			z-index: 100;

			.btns {
				margin-left: 20rpx;
			}
		}
	}
</style>
