<template>
	<view class="pages">
		<view class="cm_full u-flex-y" v-if="lists.length<=0 && loadStatus!='loading'">
			<u-empty mode="list"></u-empty>
		</view>
		<view v-else>
			<view class="listItems">
				<!-- <u-row gutter="16"> -->
					<block v-for="(it,ids) in  lists" :key="ids">
							<view class="u-flex items" @click="_href('/pages/features/audioDetail/audioDetail?code='+ it.catalogue_code)">
								<image class="clasPic" :src="it.course_main_img" mode="aspectFill"></image>
								<view class="u-flex-1  u-flex-y u-col-top" style="height: 240rpx;">
									<view class=" cm_title">{{ it.course_title}}</view>
									<view class="text">{{ it.course_short_title}}</view>
									<view class="text tigs">{{ it.course_teacher}}</view>
									<view class="text">已更新至{{ it.catalogue_count}}节</view>
									<view class="u-flex-1"> </view>
								</view>
							</view>
						<!-- </u-col> -->
					</block>
				<!-- </u-row> -->
			</view>
			<view class="u-flex" style="height: 80rpx;">
				<u-loadmore :status="loadStatus" />
			</view>	
		</view>
		
		
	
		<u-top-tips ref="uTips" :z-index="10100" :navbar-height="0"></u-top-tips>
		<u-toast ref="uToast" />
	</view>
</template>

<script>
	export default {
		data() {
			return {
				baseKey: 'GetAttentionList',
				hasRow: 'ListInfo',
				formParams: {
					"pageIndex": 1, //页
					"pageSize": 10, //条
				},
				
				commentList: [],
				onBottom: true,
				onTop: true,
				show: false,
				currentVuale: ''
			};
		},
		onLoad(options) {
			this._loadData('refresh')
		},
		methods: {
			
		}
	};
</script>

<style lang="scss" scoped>
	.pages {
		.listItems {
			padding: 20rpx;
			.items {
				width: 100%;
				background-color: #fff;	
				margin-bottom: 20rpx;
				border-radius: 12rpx;
				overflow: hidden;
				padding:20rpx;
				&:last-child{
					margin-bottom: 0;
				}
				.clasPic {
					width: 180rpx;
					height: 240rpx;
					border-radius: 12rpx;
					margin-right: 20rpx;
				}
				
				.text {
					font-size: 26rpx;
					line-height: 1.4;
				}
				
				.cm_title {
					font-size: 30rpx;
					font-weight: 600;
					line-height: 1.6;
				}
				
				.tigs {
					color: #fff;
					height: 30rpx;
					line-height: 30rpx;
					padding: 0 30rpx;
					border-radius: 15rpx;
					background-color: #fd860b;
					font-size: 22rpx;
					margin: 10rpx 0;
				}
			}
		}
	}
</style>
