<template>
	<view>
		<view class="pages u-skeleton">
			<!-- <view class="pages"> -->
			<block v-for="(item,index) in list" :key="index">
				<view class="itemsBox u-skeleton-fillet" @click="_href(`/pages/features/products/products?code=${item.class_code}&title=${item.class_name}`)">
					<image :src="item.class_logo" mode="widthFix" class="contain"></image>
				</view>
			</block>
		</view>
		<u-skeleton :loading="pageLoading" :animation="true" bgColor="#FFF"></u-skeleton>
	</view>
</template>

<script>
	export default {
		data() {
			return {
				list: [],
				pageLoading:true
			};
		},
		onLoad() {
			this.getClass()
		},
		methods: {
			async getClass() {
				let that = this
				try {
					that.$ui.showloading()
					let res = await that.$api.GetClass(that.form);
					that.$ui.hideloading()
					if (res.Success) {
						that.list = res.Data.ListInfo
					} else {

					}
					this.pageLoading = false
				} catch (err) {
					console.log('请求结果false : ' + err)
					that.$ui.hideloading()
					this.pageLoading = false
				}
			}
		}
	}
</script>

<style lang="scss" scoped>
	.pages {
		padding: 20rpx;
		background-color: #fff;

		.itemsBox {
			width: 100%;
			height: auto;
			margin-bottom: 10rpx;
		}
	}
</style>
