<template>
	<view class="pages">
		<view class="cm_full u-flex-y" v-if="lists.length<=0 && loadStatus!='loading'">
			<u-empty mode="list"></u-empty>
		</view>
		<view v-else>
			<view class="listItems">
				<!-- <u-row gutter="16"> -->
					<block v-for="(item,ids) in  lists" :key="ids">
							<view class=" items" >
								<view class="u-flex header">
									<view class="u-flex-1 cm_time">
										流水号：{{item.busi_code}}
									</view>
									<view  class="cm_time">{{item.detail_time.split(' ')[0] }}</view>
								</view>
								<view class="u-flex">
									<!-- <view  :style="{color:item.detail_type==0?'#2D9E6E':'#FA3534',width:'20rpx',height:'20rpx'}" > {{item.detail_type==0?'+':'-'}}</view> -->
									<u-icon name="plus" color="#2D9E6E" v-if="item.detail_type==0"></u-icon>
									<u-icon name="minus" color="#FA3534" v-else></u-icon>
									<text class="cm_price" :style="{color:item.detail_type==0?'#2D9E6E':'#FA3534'}">￥{{item.account_blance_change }}</text>
									<text class="u-flex-1"></text>
								</view>
								<view class="u-flex footer">
									<text class="">{{item.detail_remark }}</text>
									<view class="u-flex-1"></view>
									<view style="color: #007AFF;">结余(元)：{{item.account_blance }}</view>
								</view>
								<u-line v-if="ids<lists.length-1"></u-line>
							</view>
						<!-- </u-col> -->
					</block>
				<!-- </u-row> -->
			</view>
			<view class="u-flex" style="height: 80rpx;">
				<u-loadmore :status="loadStatus" />
			</view>	
		</view>
		
		
	
		<u-top-tips ref="uTips" :z-index="10100" :navbar-height="0"></u-top-tips>
		<u-toast ref="uToast" />
	</view>
</template>

<script>
	export default {
		data() {
			return {
				baseKey: 'AccountList',
				hasRow: 'Rows',
				formParams: {
					"pageIndex": 1, //页
					"pageSize": 10, //条
				},
				
				commentList: [],
				onBottom: true,
				onTop: true,
				show: false,
				currentVuale: ''
			};
		},
		onLoad(options) {
			this._loadData('refresh')
		},
		methods: {
			
		}
	};
</script>

<style lang="scss" scoped>
	.pages {
		.listItems {
			padding: 20rpx;
			border-radius: 12rpx;
			.items {
				width: 100%;
				background-color: #fff;	
				// margin-bottom: 20rpx;
				// border-radius: 12rpx;
				overflow: hidden;
				padding:0 20rpx;
				&:last-child{
					margin-bottom: 0;
				}
				.header{
					height:84rpx ;
				}
				.footer{
					height:84rpx ;
				}
				.text {
					font-size: 26rpx;
					line-height: 1.4;
				}
				
				.cm_title {
					font-size: 30rpx;
					font-weight: 600;
					line-height: 1.6;
				}
				
				.tigs {
					color: #fff;
					height: 30rpx;
					line-height: 30rpx;
					padding: 0 30rpx;
					border-radius: 15rpx;
					background-color: #fd860b;
					font-size: 22rpx;
					margin: 10rpx 0;
				}
			}
		}
	}
</style>
