<template>
	<view class="pages">
<!-- 		<view class="header" :style="{top:pageFixTop}">
			<view style="padding-left: 20rpx;" >
				<u-search placeholder="请输入产品名称" v-model="formParams.key" @search="search" @custom="search"></u-search>
			</view>		
			<xhFilterTab @tabChange="tabChange"></xhFilterTab>
		</view> -->
		<view class="cm_full u-flex-y" v-if="lists.length<=0 && loadStatus!='loading'">
			<u-empty mode="list"></u-empty>
		</view>
		<view v-else class="hotItemBar u-flex">
			<block v-for="(item, index) in lists" :key="index">
				<view @click="_auth_href('/pages/features/productDetail/productDetail?code=' + item.goods_code)" class="proItemsBox">
					<view class="picBox">
						<image  lazy-load="true" :src="item.goods_main_img.split(',')[0]" mode="aspectFit" class="animated fadeIn cover" ></image>
					</view>

					<view class="msgBox">
						<!-- <view class="flex flex_center" style="padding: 6px 0;"> -->
						<view class=" cm_ellipsis2  " style="line-height: 1.3;">
							<!-- <text class="tags" v-if="item.is_activity == 1">限时抢购</text> -->
							{{ item.goods_title }}
						</view>
						<!-- </view> -->
						<view class="cm_price" style="margin-top: 16rpx;">￥{{ item.goods_price }}</view>
						<view class="cm_des" style="margin-top: 16rpx;">{{ item.buy_count  }}人购买</view>
					</view>
				</view>
			</block>
			<view class="u-flex" style="height: 80rpx;width: 100%;">
				<u-loadmore :status="loadStatus" />
			</view>
		</view>

	</view>
</template>

<script>
	import xhFilterTab from '@/components/xhFilterTab/xhFilterTab';   
	// import tuiSticky from '@/components/sticky/sticky';
	// import tuiTips from '@/components/extend/tips/tips';
	// import tuiTabs from '@/components/tui-tabs/tui-tabs';
	export default {
		components: {
			xhFilterTab
		},
		data() {
			return {
				baseKey: 'GetClassGoods',
				hasRow: 'Rows',


				formParams: {
					"key": "",
					"type": "0", //0-最新 1-综合 2-热销 3-价格 
					"sort": "asc", //asc-升序 desc-降序 
					"class_code": "",
					"pageIndex": 1,
					"pageSize": 10,
				},
			
				currentTab: 0,

			};
		},
		
		onLoad(options) {
			// console.log(options)
			// type==1 精选  type==2 捡漏
			// this.currentTab = options.type? options.type:0

			this.formParams.class_code = options.code;
			// this.classTitle = options.title
			uni.setNavigationBarTitle({
				title: options.title
			});
			this._loadData('refresh');
		},
		methods: {
			search(){
				this._loadData('refresh')
			},

			// 切换筛选
			tabChange(k) {
				if (this.formParams.type != k.type) {
					this.formParams.type = k.type;
					this._loadData('refresh');
				}else if (this.formParams.sort != k.sort) {
					this.formParams.sort = k.sort;
					this._loadData('refresh');
				}
			},
			
		}
	};
</script>

<style lang="scss" scoped>
	.pages {
		// padding-top: 140rpx;

		.header {
			position: fixed;
			left: 0;
			top: 0;
			width: 100vw;
			background-color: #fff;
			z-index: 100;
			height: auto;
		}

	}
</style>
