<template>
	<view class="pages">
		<view class="header u-flex-y">
			<u-avatar src="../../../static/img/logo.jpg" :size="200" mode="square"></u-avatar>
		</view>

		<view class="box">
			<u-form :model="loginParams" ref="uForm" label-width="50">
				<view class="inputs u-flex u-row-center" style="align-items: center;" v-if="type==1">
					<text class="cm_text">邀请人：</text>
					<text class="u-flex-1 cm_text">{{invideMsg.consumer_nick_name?invideMsg.consumer_nick_name:'暂无邀请人'}}</text>
					<!-- <u-avatar v-if="invideMsg.consumer_head" :src="invideMsg.consumer_head" :size="60"></u-avatar> -->
					<image :src="invideMsg.consumer_head" mode="aspectFill" style="width: 40rpx;height: 40rpx;border-radius: 50%;"></image>
				</view>
				<view class="inputs u-flex">
					<image src="../../../static/img/dl_sj.png" class="icons" mode="scaleToFill"></image>
					<view class="u-flex-1" style="height: 88rpx;">
						<u-form-item prop="mobile" :border-bottom="false">
							<u-input v-model="loginParams.mobile" placeholder="请输入手机号" @focus="_lock" @blur="_unlock" />
						</u-form-item>
					</view>
				</view>
				<view class="inputs u-flex">
					<image src="../../../static/img/dl_yzm.png" class="icons" mode="scaleToFill"></image>
					<view class="u-flex-1" style="height: 88rpx;">
						<u-form-item prop="vilidate" :border-bottom="false">
							<u-input v-model="loginParams.vilidate" placeholder="请输入验证码" @focus="_lock" @blur="_unlock" />
							<view slot="right">
								<u-button size="mini" slot="right" shape="circle" type="primary" @click="getCode">{{codeText}}</u-button>
							</view>
						</u-form-item>
					</view>
				</view>
			</u-form>
			<u-verification-code ref="uCode" @change="codeChange"></u-verification-code>
			<view class="u-flex">
				<navigator url=""></navigator>
			</view>
			<u-button shape="circle" @click="submit" :custom-style="{width:'100%',marginBottom:'32rpx'}" type="primary">注册并登录</u-button>

			<!-- <u-button shape="circle" @click="_nav" plain :custom-style="{width:'100%'}" type="primary">其他方式登录</u-button> -->
		</view>
		<view class="footer cm_text u-flex" v-if="!lock">
			<text>注册登录代表您已同意中旦大学平台</text>
			<navigator url="../../features/aboutUs/aboutUs" style="color: #2F96F3;">《用户协议、隐私政策》</navigator>
		</view>
		<u-top-tips ref="uTips" :z-index="10100" :navbar-height="0"></u-top-tips>
		<u-toast ref="uToast" />
	</view>
</template>

<script>
	import SET from '@/SET.js';
	export default {
		data() {
			return {
				loginParams: {
					"mobile": "", //手机号
					"password": "", //密码
					"registe_type": "1", //注册类型 0-账号密码 1-手机号/微信注册 
					"user_type": "2", //用户类型（中旦没用） 
					"invitation": "", //推荐码
					"vilidate": "", //手机验证码
					"openId": "", //openid
					"wx_code_type": "0", //0-公众号 1-小程序(不传默认为0)
					"nickname": "", // 微信昵称
					"headimgurl": "", // 微信头像
				},
				invideMsg: '',
				codeText: '',
				rules: {
					mobile: [{
							required: true,
							message: '请输入电话',
							// 可以单个或者同时写两个触发验证方式 
							trigger: ['blur'],
						},
						{
							validator: (rule, value, callback) => {
								return this.$u.test.mobile(value);
							},
							message: '请输入正确的电话号码',
							trigger: ['blur'],
						}
					],
					vilidate: [{
							required: true,

							message: '请输入验证码',
							// 可以单个或者同时写两个触发验证方式 
							trigger: ['blur'],
						},
						{
							min: 6,
							message: '长度在6位以上',
							trigger: ['blur'],
						},
					]
				},
				type: 0
			};
		},
		onReady() {
			this.$refs.uForm.setRules(this.rules);
		},
		onLoad(options) {
			const opId = uni.getStorageSync(SET.opIdName)
			const wxaccount = uni.getStorageSync('zdjy_miniAccount');

			this.loginParams.openId = opId;
			this.loginParams.nickname = wxaccount.nickName;
			this.loginParams.headimgurl = wxaccount.avatarUrl;

			console.log(wxaccount)
			this.type = options.type;
			// type 0-其他错误 1-账户未注册 2-账户未绑定手机号

			// #ifdef MP
			this.loginParams.wx_code_type = 1;
			// #endif


			// const inviCode  = uni.getStorageSync('inviCode')
			const inviCode = 'b7351d93'
			let that = this
			if (this.type == 1 && inviCode) {
				this.$nextTick(function() {
					that.$refs.uTips.show({
						title: `发现邀请码：${inviCode}`,
						type: 'primary',
						duration: '1000'
					})
					that.loadInvide(inviCode)
				})

			}
		},
		methods: {
			async loadInvide(inviCode) {
				let that = this
				try {
					that.$ui.showloading()
					let res = await this.$api.GetParentInfo({
						invitation: inviCode
					});
					that.$ui.hideloading()
					console.log(res)
					if (res.Success) {
						that.invideMsg = res.Data

					} else {
						this.$refs.uToast.show({
							title: res.Msg ? res.Msg : '未找到邀请人',
							type: 'error',
							position: 'bottom'
						})
					}
				} catch (err) {
					that.$ui.hideloading()
					console.log('请求结果false : ' + err)

				}
			},
			_nav() {
				uni.redirectTo({
					url: '../mmLogin/mmLogin'
				})
			},
			submit() {
				let that = this
				// const inviCode = uni.getStorageSync('inviCode')
				const inviCode = 'b7351d93'
				if (!inviCode) {
					that.$refs.uToast.show({
						title: '未发现邀请人',
						type: 'error'
					})
					return;
				} else {
					that.loginParams.invitation = inviCode
				}

				this.$refs.uForm.validate(async valid => {
					if (valid) {
						console.log(that.loginParams);
						try {
							that.$ui.showloading()
							let res = await that.$api.userRegiste(that.loginParams)
							that.$ui.hideloading()
							if (res.Success) {
								uni.setStorageSync(SET.tokenName, res.Data)
								that.$store.commit('userLogin');
								that.$store.dispatch('refreshUser')
								
								that.$refs.uToast.show({
									title: '绑定成功',
									type: 'success',
									back: true,
								})
							} else {
								that.$refs.uToast.show({
									title: res.Msg,
									type: 'error'
								})
							}
						} catch (err) {
							console.log('请求结果false : ' + err)
							that.loading = false
						}
					} else {
						console.log('验证失败');
					}
				});
			},
			codeChange(text) {
				this.codeText = text;
			},
			// 自动调用登录
			async autoLogin(opid) {
				let that = this;
				// #ifdef H5
					let  data =  {
						 "openId":opid,
						 "wx_code_type": "0",//0-公众号 1-小程序(不传默认为0)
					}
				// #endif
				// #ifdef MP
					let  data =  {
						 "openId":opid,
						 "wx_code_type": "1",//0-公众号 1-小程序(不传默认为0)
					}
				// #endif
				try {
					that.$ui.showloading()
					let res = await this.$api.WxTokenLogin(data, false);
					that.$ui.hideloading()
					// 	return
					if (res.Success) {
						uni.setStorageSync(SET.tokenName, res.Data)
						that.$store.commit('userLogin');
						that.$store.dispatch('refreshUser')

						that.$refs.uToast.show({
							title: '绑定成功',
							type: 'success',
							back: true,
						})
					} else {
						that.$refs.uToast.show({
							title: res.Msg,
							type: 'error'
						})

					}
				} catch (err) {
					this.$ui.hideloading()
					that.$refs.uToast.show({
						title: 'error',
						type: 'error'
					})
				}
			},
			async getCode() {
				let that = this
				if (!this.loginParams.mobile || !this.$u.test.mobile(this.loginParams.mobile)) {
					// this.$ui.toast('请输入正确的手机号码')
					this.$refs.uToast.show({
						title: '请输入正确的手机号码',
						type: 'warning',
						position: 'bottom'
					})

					return;
				}
				if (this.$refs.uCode.canGetCode) {
					// 模拟向后端请求验证码

					let data = {
						mobile: this.loginParams.mobile,
						type: 1 //1,注册 2,登录 3,找回 4.银行卡 8-提现
					};
					try {
						uni.showLoading({
							title: '正在获取验证码'
						})
						let res = await this.$api.getVerificateCode(data);
						uni.hideLoading()
						if (res.Success) {
							that.$refs.uCode.start();
							uni.hideLoading();
							that.$refs.uCode.start();
							that.$refs.uTips.show({
								title: '验证码发送成功',
								type: 'success',
								duration: '1000'
							})
						} else {
							uni.showToast({
								icon: 'none',
								title: res.Msg ? res.Msg : '发送失败',
							});
						}
					} catch (err) {
						console.log('请求结果false : ' + err)

					}

				} else {
					this.$u.toast('倒计时结束后再发送');
				}
			}
		}
	}
</script>

<style lang="scss" scoped>
	.pages {
		background-color: #fff;
		width: 100vw;

		.header {
			height: 562rpx;
			width: 100vw;
		}

		.box {
			padding: 0 50rpx;

		}

		.inputs {
			height: 88rpx;
			line-height: 88rpx;
			border-radius: 44rpx;
			background-color: #F7F7F7;
			margin-bottom: 32rpx;
			padding: 0 20rpx;
		}

		.icons {
			width: 36rpx;
			height: 36rpx;
			margin-right: 10rpx;
			margin-left: 10rpx;
		}

		.footer {
			position: fixed;
			left: 0;
			bottom: 32rpx;
			width: 100vw;
			font-size: 22rpx;
		}
	}
</style>
