<template>
	<view class="pages">
		<!-- <u-sticky :offset-top="0" ref="sticky"> -->
		
		<view class="header" :style="{top:pageFixTop}">
			<u-tabs :list="tabs" bg-color="#fff" :is-scroll="false" :current="currentTab" @change="change"></u-tabs>
		</view>

		<view class="content">
			<view class="cm_full u-flex-y" v-if="lists.length<=0 && loadStatus!='loading'">
				<u-empty mode="list"></u-empty>
			</view>
			<view v-else style="background-color: #fff;border-radius: 16rox;">
				<block v-for="(item,index) in lists" :key="index">
					<view class="item" v-if="currentTab==0" @click="_toDetail(item)">
						<view class="u-flex" style="height: 80rpx;">
							<view class="u-flex-1 u-text-left">							
								{{item.create_time}}
							</view>
							<view style="color: #007AFF;">{{item.health_status | statusFilter}}</view>
						</view>
						<u-line></u-line>
						<view class="u-flex" style="height: 100rpx;">
							<view class="u-flex-1 cm_text u-text-center">
								身高<text class="nums">{{item.health_height}}</text>/cm
							</view>
							<view class="u-flex-1 cm_text u-text-center">
								体重<text class="nums">{{item.health_weight}}</text>/kg
							</view>
						</view>
					</view>
					
					<view class="item" v-if="currentTab==1" @click="_toDetail(item)">
						<view class="u-flex" style="height: 80rpx;">
							<view class="u-flex-1 u-text-left">							
								{{item.create_time}}
							</view>
							<view style="color: #007AFF;">{{item.health_status | statusFilter}}</view>
						</view>
						<u-line></u-line>
						<view class="u-flex" style="height: 100rpx;">
							<view class="u-flex-1 cm_text u-text-center">
								血压<text class="nums">{{item.health_blood}}</text>/mmHg
							</view>
							<view class="u-flex-1 cm_text u-text-center">
								心率<text class="nums">{{item.health_rate}}</text>/搏/分
							</view>
						</view>
					
					</view>
					<view class="item" v-if="currentTab==2" @click="_toDetail(item)">
						<view class="u-flex" style="height: 80rpx;">
							<view class="u-flex-1 u-text-left">							
								{{item.create_time}}
							</view>
							<view style="color: #007AFF;">{{item.health_status | statusFilter}}</view>
						</view>
						<u-line></u-line>
						<view class="u-flex" style="height: 100rpx;">
							<view class="cm_text">
								血糖<text class="nums">{{item.health_sugar}}</text>/mmol/L
							</view>
							<view class="u-flex-1"></view>
						</view>
						
					</view>
					<view class="item" v-if="currentTab==3" @click="_toDetail(item)">
						<view class="u-flex" style="height: 80rpx;">
							<view class="u-flex-1 u-text-left">							
								{{item.create_time}}
							</view>
							<view style="color: #007AFF;">{{item.health_status | statusFilter}}</view>
						</view>
						<u-line></u-line>
						<view class="cm_text" style="padding: 20rpx 0;">
							{{item.health_medical_records}}
						</view>
					</view>
				</block>

				<view class="u-flex-y" style="height: 80rpx;">
					<u-loadmore :status="loadStatus" />
				</view>
			</view>
		</view>

	</view>
</template>

<script>
	export default {
		data() {
			return {
				baseKey: 'ListHealth',
				hasRow: 'Rows',
				tabs: [{
					name: '身高/体重'
				}, {
					name: '血压'
				}, {
					name: '血糖'
				}, {
					name: '用药记录'
				}],
				onBottom: true,
				currentTab: 0,
				onTop: true,
				valueStyle: {
					color: '#EE7E33',
					fontSize: '40rpx'
				}
			};
		},
		filters: {
			statusFilter(val){
				// 0待诊断  1诊断中 2诊断结束
				switch (val) {
					case '0':
						return `待诊断`
						break;
					case '1':
						return `诊断完成`
						break;
					// case '2':
					// 	return `诊断结束`
					// 	break;
					default:
						break;
				}
			},
			currentText(item) {
				switch (this.currentTab) {
					case 0:
						return `${item.health_height}cm/${item.health_weight}kg`
						break;
					case 1:
						return `${item.health_blood}mmHg`
						break;
					case 2:
						return `${item.health_height}cm/${item.health_weight}kg`
						break;
					case 3:
						return `${item.health_rate}搏/分`
						break;
					default:
						break;
				}
			}
		},
		onLoad(options) {
			this.currentTab = options.tabs
			this._loadData('refresh')
		},
		methods: {
			_toDetail(item){
				let k  = item.health_status;
				if(k==0){
					// if(false){
					uni.navigateTo({
						url:`/pages/features/healthMsg/healthMsg?code=${item.health_code}`
					})
				}else{
					uni.navigateTo({
						url:`/pages/features/healthDetail/healthDetail?code=${item.health_code}`
					})
				}
			},
			change(index) {
				this.currentTab = index;
			}
		}
	}
</script>

<style lang="scss" scoped>
	.pages {
		padding-top: 88rpx;
		.header{
			position: fixed;
			left: 0;
			top: 0;
			width: 100vw;
			z-index: 10;
		}
		// background-color: #fff;
		.content {
			padding: 20rpx;

			.item {
				padding:0 20rpx;
				border-radius: 12rpx;
				background-color: #fff;

				.nums {
					color: #c74016;
					font-size: 42rpx;
					padding: 0 10rpx;
				}
			}
		}
	}
</style>
