<template>
	<view>
		<view class="pages u-skeleton">

			<!-- 导航 -->
			<view class="u-flex header fixed u-skeleton-fillet">
				<navigator open-type="navigateBack" class="actions u-text-left" style="padding-left: 20rpx;">
					<u-icon name="arrow-left" color="#fff" size="40"></u-icon>
				</navigator>
				<view class="cm_title u-text-center u-flex-1"></view>
				<view class="actions u-text-center"></view>
			</view>
			<!-- 播放器 -->
			<view class="banner banner1 u-skeleton-rect" v-if="media.type=='.mp3'">
				<image class="bg" :src="classMsg.course_main_img" mode="aspectFill"></image>
				<view style="position: relative;z-index: 50">
					<view class="u-flex">
						<image class="clasPic" :src="classMsg.course_main_img" mode="aspectFill"></image>
						<view class="u-flex-1  u-flex-y u-col-top" style="height: 240rpx;">
							<view class="text cm_title">{{ classMsg.course_title}}</view>
							<view class="text">最新更新时间: {{ classMsg.catalogue_time}}</view>
							<view class="text tigs">{{ classMsg.learn_count}}人观看</view>
							<view class="text">已更新至{{ classMsg.catalogue_count}}节</view>
							<view class="u-flex-1"> </view>
						</view>
					</view>
					<view style="margin-top: 20rpx">
						<imtAudio @prev="_prev" @next="_next" ref="imtAudio" :src="media.src" :duration="media.duration"></imtAudio>
					</view>
				</view>
			</view>
			<view class="banner banner2 u-skeleton-rect" v-else-if="media.type=='.mp4'">
				<view style="position: relative;z-index: 50">
					<imtVideo :mainPic="classMsg.course_main_img" ref="imtVideo" :src="media.src"  :duration="media.duration"></imtVideo>
				</view>
				<view class="u-flex" style="position: relative;z-index: 50;padding: 20rpx;">
					<image class="clasPic2" :src="classMsg.course_main_img" mode="aspectFill"></image>
					<view class="u-flex-1 ">
						<view class="u-flex">
							<view class="text cm_title u-flex-1 ">{{ classMsg.course_title}}</view>
							<view class="text tigs">{{ classMsg.learn_count}}人观看</view>
						</view>
						<view class="u-flex">
							<view class="text">最新更新时间: {{ classMsg.catalogue_time}}</view>
							<view class="u-flex-1"></view>
							<view class="text">已更新至{{ classMsg.catalogue_count}}节</view>
						</view>
					</view>
				</view>
			</view>
			<view class="banner u-skeleton-rect" v-else></view>
			<!-- caozuo -->
			<view style="margin-bottom: 20rpx;width: 100vw;" class="">
				<u-grid :col="4" :border="false">
					<u-grid-item @click="attention">
						<view class="u-flex-y u-skeleton-circle">
							<u-icon :color="classMsg.is_attention?'#eca827':'#333'" size="44" :name="classMsg.is_attention?'star-fill':'star'"></u-icon>
							<!-- <u-icon color="#333" size="44" name="star"></u-icon> -->
							<!-- <image class="menusIcons" src="../../../static/img/sc_sc.png" mode="scaleToFill"></image> -->
							<view class="grid-text">收藏</view>
						</view>

					</u-grid-item>
					<u-grid-item @click="good">
						<view class="u-flex-y u-skeleton-circle">
							<u-badge :count="classMsg.praise_count" :offset="[20, 20]"></u-badge>
							<u-icon :color="classMsg.is_love?'#DD3A30':'#333'" size="44" :name="classMsg.is_love?'thumb-up-fill':'thumb-up'"></u-icon>
							<!-- <image class="menusIcons" src="../../../static/img/xq_dz_w.png" mode="scaleToFill"></image> -->
							<view class="grid-text">点赞</view>
						</view>
					</u-grid-item>
					<u-grid-item @click="_href(`/pages/features/commonList/commonList?code=${classMsg.catalogue_code}&classCode=${classMsg.course_code}` )">
						<view class="u-flex-y u-skeleton-circle">
							<u-badge :count="classMsg.evaluate_count" :offset="[20, 20]"></u-badge>
							<!-- <image class="menusIcons" src="../../../static/img/wd_xx.png" mode="scaleToFill"></image> -->
							<u-icon color="#333" size="44" name="more-circle"></u-icon>
							<view class="grid-text">评论</view>
						</view>
					</u-grid-item>
					<u-grid-item>
						<view class="u-flex-y u-skeleton-circle" @click="show = true">
							<u-icon color="#333" size="44" name="zhuanfa"></u-icon>
							<!-- <image class="menusIcons" src="../../../static/img/xq_fx.png" mode="scaleToFill"></image> -->
							<view class="grid-text">分享</view>
						</view>
					</u-grid-item>
				</u-grid>
			</view>

			<view class="" style="background-color: #fff;width: 100vw;" class="u-skeleton-fillet">
				<u-tabs :list="tabs" active-color="#333" bar-active-color="#EA4C33" :is-scroll="false" :current="currentTab"
				 bgColor="#fff" @change="change"></u-tabs>
			</view>
			<!-- <scroll-view scroll-y="true" @scrolltoupper="scrolltoupper" class="scroll-Y content u-flex-1 u-skeleton-rect" :class="{content2:media.type=='.mp4'}"> -->
				<view v-if="currentTab==0">
					<block v-for="(it,ids) in catalogueList" :key="ids">
						<view class="u-flex catalogueItems " :class="{active:media.code==it.catalogue_code}" @click="_playThis(it,ids)">
							<u-icon v-if="media.code==it.catalogue_code" name="play-circle-fill" color="#2F96F3" :size="40"></u-icon>
							<u-icon v-else name="play-circle" color="#666" :size="40"></u-icon>
							<view class="u-flex-1 catalogueContent">
								<view class="title cm_ellipsis ">{{it.catalogue_name}}</view>
								<view class="cm_time">录播时间：{{it.catalogue_time}}</view>
								<view class="cm_time">时长：{{it.duration | format}} </view>
								<!-- <view> {{it.catalogue_code}}</view> -->
							</view>
							<view class="u-flex-y" v-if="it.learn_log!='notuser'">
								<!-- 已学：{{(it.learn_log/it.duration) | }} -->
								<u-circle-progress inactiveColor="#eee" :borderWidth="6" active-color="#ef7c37" :duration="300" :width="100"
								 :percent="(it.learn_log/it.duration) | one ">
									<text style="font-size: 18rpx;font-size: #333;">{{(it.learn_log/it.duration) | progress }}</text>
								</u-circle-progress>
								<text style="font-size: 18rpx;color: #999;"> 学习进度</text>
								<!-- <u-count-to :start-val="0" :end-val="it.learn_log/it.duration" color="#fff" :decimals="2"></u-count-to> -->
							</view>
						</view>
					</block>
				</view>
				<view v-else-if="currentTab==1" style="background-color: #fff;padding: 20rpx;">
					<rich-text :nodes="classMsg.course_intro"></rich-text>
				</view>
				<view v-else style="padding: 20rpx;background-color: #fff;">
					<!-- <block v-for="(item,index) in tuijianList" :key="index"> -->
					<view class="listItems">
						<u-row gutter="16">
							<block v-for="(it,ids) in  tuijianList" :key="ids">
								<u-col span="4">
									<view class="items" @click="href('/pages/features/audioDetail/audioDetail?code='+ it.catalogue_code)">
										<view class="preBox">
											<image class="itemPre" :src="it.course_main_img" mode="aspectFill"></image>
											<text class="tips">{{it.watch_count}}人观看</text>
											<view class="mark" :style="{'background':it.course_label_color}">{{it.course_label}}</view>
										</view>

										<view class="u-font-28 cm_ellipsis">{{it.course_title}} </view>
										<view class="cm_text u-font-24 cm_ellipsis2" style="height: 50rpx;">{{it.catalogue_name}} </view>
									</view>
								</u-col>
							</block>
						</u-row>
					</view>
					<!-- </block>	 -->
				</view>
			<!-- </scroll-view> -->
			<u-top-tips ref="uTips" :z-index="10100" :navbar-height="0"></u-top-tips>
			<u-toast ref="uToast" />
			<!-- </view> -->
		</view>
		<u-skeleton :loading="pageLoading" :animation="true" bgColor="#FFF"></u-skeleton>

		<u-mask :show="show" @click="show = false">
			<view class="warp">
				<view class="rect u-flex-y" @click.stop>
					<view class="maskHeader">
						立即分享
					</view>
					<view class="u-flex-1 u-flex-y" style="padding: 40rpx 0;">
						<view>点击右上角<text style="color: red;">“...”</text></view>
						<view>选择<text style="color: red;">“发送给朋友”</text></view>
						<view>或者<text style="color: red;">“发送到朋友圈”</text></view>
						<view>完成分享</view>
					</view>

				</view>
			</view>
		</u-mask>
	</view>
</template>

<script>
	import imtAudio from '@/components/imt-audio/imt-audio.vue'
	import imtVideo from '@/components/imt-video/imt-video.vue'

	export default {
		data() {
			return {
				tabs: [{
					name: '课程目录'
				}, {
					name: '课程介绍'
				}, {
					name: '相关推荐'
				}],
				currentTab: 0,
				currentCatalogue: '',
				classMsg: '',


				media: {},
				catalogueList: [],
				tuijianList: [],
				show: false
			};
		},
		filters: {
			progress(val) {
				let v = parseInt(val * 100)
				return v >= 100 ? '已完成' : v + '%'
			},
			one(val){
				let v = parseInt(val * 100)
				return v >= 100 ? 100 : v 
			},
			//格式化时长
			format(num) {
				return '0'.repeat(2 - String(Math.floor(num / 60)).length) + Math.floor(num / 60) + ':' + '0'.repeat(2 - String(
					Math.floor(num % 60)).length) + Math.floor(num % 60)
			},
		},
		onLoad(options) {
			let that = this
			this.currentCatalogue = options.code
			this._loadDetail(this.currentCatalogue)
			this._loadTuijian()
			uni.removeStorageSync('studyTime')
		},

		components: {
			imtAudio,
			imtVideo
		},
		methods: {

			// 收藏
			async attention() {
				let that = this;
				try {
					let res = await this.$api.AttentionAdd({
						"course_code": this.classMsg.course_code,
					});
					if (res.Type == 1) {
						this.$refs.uToast.show({
							title: '加入收藏夹',
							type: 'success',
							position: 'bottom'
						})
						this.classMsg.is_attention = 1
					} else {
						this.$refs.uToast.show({
							title: '取消收藏',
							type: 'success',
							position: 'bottom'
						})
						this.classMsg.is_attention = 0
					}
					// 	if (res.Success) {


					// 	} else {

					// 	}
				} catch (err) {
					console.log('请求结果false : ' + err)

				}
			},
			// 点赞
			async good() {
				let that = this;
				try {
					let res = await this.$api.OnlineCourseLove({
						"catalogue_code": this.classMsg.catalogue_code,
					});
					if (res.Type == 1) {
						this.$refs.uToast.show({
							title: '点赞成功',
							type: 'success',
							position: 'bottom'
						})
						this.classMsg.is_love = 1
					} else {
						this.$refs.uToast.show({
							title: '取消点赞',
							type: 'success',
							position: 'bottom'
						})
						this.classMsg.is_love = 0
					}
					// 	if (res.Success) {


					// 	} else {

					// 	}
				} catch (err) {
					console.log('请求结果false : ' + err)

				}
			},
			href(url) {
				uni.redirectTo({
					url: url
				})
			},
			scrolltoupper() {
				// debugger
				uni.pageScrollTo({
					scrollTop: 0
				})
			},
			_prev() {
				if (this.media.index == 0) {
					this.$refs.uToast.show({
						title: '没有上一节啦',
						type: 'warinig',
						position: 'bottom'
					})
					return
				}
				let i = this.media.index - 1;
				let prevCode = this.catalogueList[i].catalogue_code
				if (prevCode) {
					this._loadDetail(prevCode)
				} else {
					this.$refs.uToast.show({
						title: '文件丢失',
						type: 'warinig',
						position: 'bottom'
					})
				}
			},
			_next() {
				// console.log(this.media)
				if (this.media.index == this.catalogueList.length - 1) {
					this.$refs.uToast.show({
						title: '最后一节啦',
						type: 'warinig',
						position: 'bottom'
					})
					return
				}
				let i = this.media.index + 1;
				let nextCode = this.catalogueList[i].catalogue_code
				if (nextCode) {
					this._loadDetail(nextCode)
				} else {
					this.$refs.uToast.show({
						title: '文件丢失',
						type: 'warinig',
						position: 'bottom'
					})
				}
			},
			// 播放选中
			_playThis(item, index) {
				if (item.catalogue_code == this.media.code) return;
				this._loadDetail(item.catalogue_code)
			},
			change(e) {
				this.currentTab = e
			},

			// 加载课程详情
			async _loadTuijian() {
				let that = this;
				try {
					let res = await this.$api.GetClassCourseList({
						type: 0
					});

					if (res.Success) {
						that.tuijianList = res.Data.ListInfo

					} else {

					}
				} catch (err) {
					console.log('请求结果false : ' + err)

				}
			},
			// 加载课程详情
			async _loadDetail(currentCatalogueCode) {
				let that = this;
				that.catalogueList = []
				try {
					this.$ui.showloading()
					let res = await this.$api.GetCourseCatalogueInfo({
						catalogue_code: currentCatalogueCode
					});
					this.$ui.hideloading()

					if (res.Success) {
						that.classMsg = res.Data
						that.catalogueList = res.Data.rootList
						let i = 0
						let current = 0
						that.catalogueList.forEach((item, index) => {
							if (item.catalogue_code == res.Data.catalogue_code) {
								// alert(index)
								i = index
								current = item.learn_log
							}
						})
						that.media = {
							current: current,
							index: i,
							code: res.Data.catalogue_code,
							classCode: res.Data.course_code,
							src: res.Data.file_path,
							type: res.Data.file_ext,
							duration: res.Data.duration,
							title: res.Data.catalogue_name,
							status: res.Data.catalogue_status, //0-未发布 1-已发布 2-下架		
						}
						that.$nextTick(function() {

							if (that.media.type == '.mp3') {
								that.$refs.imtAudio.reset(this.media)
							} else if (that.media.type == '.mp4') {
								// alert(-1)
								that.$refs.imtVideo.reset(this.media)
							}
						})


					} else {

					}
					that.pageLoading = false
				} catch (err) {
					console.log('请求结果false : ' + err)
					that.pageLoading = false

				}
			}
		}
	}
</script>

<style lang="scss" scoped>
	.pages {
		position: relative;

		.header {
			height: 80rpx;
			line-height: 80rpx;
			// position: absolute;
			// width: 100vw;
			// left: 0;
			// top: 0;

			.cm_title {
				color: #fff;
			}

			.actions {
				width: 160rpx;
				height: 80rpx;
				color: #fff;
			}
		}

		.fixed {
			position: fixed;
			left: 0;
			top: 0;
			z-index: 100;
		}

		.banner {
			min-height: 422rpx;
			width: 100vw;
			background-color: #122E4B;
			// padding-bottom: 88rpx;
			color: #fff;
			overflow: hidden;
			position: relative;
			// padding: 20rpx;

			.bg {
				position: absolute;
				z-index: 0;
				left: 0;
				top: 0;
				width: 100%;
				height: 100%;
				filter: blur(10px);
				opacity: 0.3;
			}

			.clasPic {
				width: 180rpx;
				height: 240rpx;
				border-radius: 12rpx;
				margin-right: 20rpx;
			}

			.text {
				font-size: 26rpx;
				line-height: 1.4;
			}

			.cm_title {
				color: #fff;
				font-size: 30rpx;
				font-weight: 600;
				line-height: 1.6;
			}

			.tigs {
				color: #666;
				height: 30rpx;
				line-height: 30rpx;
				padding: 0 30rpx;
				border-radius: 15rpx;
				background-color: #fff;
				font-size: 22rpx;
				margin: 10rpx 0;
			}

			.mp4player {
				width: 100%;
				height: 420rpx;
			}
		}

		.banner1 {
			padding: 20rpx;
			padding-top: 108rpx;
		}

		.banner2 {
			background-color: #fff;
			color: #333;

			.cm_title {
				color: #333;
				font-size: 30rpx;
				font-weight: 600;
				line-height: 1.6;
			}

			.text {
				font-size: 26rpx;
				line-height: 1.4;
			}

			.tigs {
				color: #fff;
				height: 30rpx;
				line-height: 30rpx;
				padding: 0 30rpx;
				border-radius: 15rpx;
				background-color: #122E4B;
				font-size: 22rpx;
				margin: 10rpx 0;
			}

			.clasPic2 {
				width: 80rpx;
				height: 80rpx;
				border-radius: 50%;
				// border-radius: 12rpx;
				margin-right: 20rpx;
			}
		}

		.menusIcons {
			width: 44rpx;
			height: 44rpx;
		}

		.boxs {
			padding: 20rpx 30rpx;
			background-color: #fff;
			margin-bottom: 20rpx;
			width: 100vw
		}

		.content {
			height: 70vh;
			width: 100vw;
		}


		.catalogueItems {
			background-color: #fff;
			padding: 20rpx;

			.title {
				line-height: 2;
				font-weight: 400;
				font-size: 28rpx;
			}

			.catalogueContent {
				margin-left: 24rpx;
				max-width: 70vw;
			}

		}

		.active {
			background-color: #f9f9f9;

			.title {
				color: #2F96F3;
			}
		}

		.listItems {
			margin-bottom: 20rpx;

			.items {
				background-color: #fff;

				.preBox {
					width: 230rpx;
					height: 288rpx;
					border-radius: 12rpx;
					overflow: hidden;
					position: relative;
					margin-bottom: 6rpx;

					.tips {
						position: absolute;
						right: 20rpx;
						top: 20rpx;
						height: 36rpx;
						line-height: 36rpx;
						color: #fff;
						border-radius: 18rpx;
						font-size: 20rpx;
						background: rgba(0, 0, 0, .4);
						padding: 0 10rpx;
					}

					.mark {
						width: 140rpx;
						height: 30rpx;
						line-height: 30rpx;
						color: #fff;
						font-size: 22rpx;
						text-align: center;
						position: absolute;
						left: -38rpx;
						top: 12rpx;
						transform: rotate(-45deg);
					}
				}

				.itemPre {
					width: 230rpx;
					height: 288rpx;
					border-radius: 12rpx;
				}
			}
		}
	}

	.warp {
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		height: 100%;

		.rect {
			width: 90vw;
			// height: 790rpx;
			border-radius: 12rpx;
			overflow: hidden;
			background-color: #fff;

			.maskHeader {
				width: 100%;
				background: linear-gradient(to top, #248EE9, #54ABF6);
				padding: 32rpx 53rpx;
				color: #fff;
				font-size: 30rpx;
				text-align: center;
			}

			.maskPic {
				width: 476rpx;
				height: 476rpx;
				margin: 30rpx auto;
			}
		}
	}
</style>
