<template>
	<view >
		<view class="pages u-skeleton ">
			
			<!-- 切换内容 -->
			<view class="u-skeleton-rect" style="padding: 20rpx;">
				<view class="content" v-if="currentTab==1">
					<canvas  ref="canvas" @touchstart="touchMap" canvas-id="canvasMap" id="canvasMap" class="charts" />
					
					<view style="height: 80rpx;text-align: center;" v-if="areaList.length<=0 && loadStatus!='loading'">
						暂无团队队员
					</view>
					<u-cell-group :border="false" v-else>
						<block v-for="(item,index) in areaList" :key="index">
							<u-cell-item :title="item.provincename" :border-bottom="true" :value="`${item.nums}人`" :arrow="false"></u-cell-item>
						<!-- <u-cell-item title="辽宁" :border-bottom="true" value="2人" :arrow="false"></u-cell-item> -->
						</block>
					</u-cell-group>
				</view>
				<view class="content" v-else>
					<view class="cm_full u-flex-y" v-if="lists.length<=0 && loadStatus!='loading'">
						<u-empty mode="list"></u-empty>
					</view>
					<view v-else>
						<block v-for="(item,index) in  lists " :key="index">
							<view class="msgBox u-flex u-col-top">
								<u-avatar :src="item.consumer_head" :size="70"></u-avatar>
								<view class="u-flex-1" style="margin-left: 24rpx;">
									<view class="u-flex titleBox">
										<view class="cm_title u-flex-1 ">
											<view>{{item.consumer_nick_name}}</view>
											<text class="cm_text u-font-22" style="font-size: 22rpx;">团队人数:{{item.team_count}}</text>
										</view>
										<text class="cm_text" style="color:#EC6D43 ;">分佣:{{item.commission_ratio}}%</text>
									</view>
									<view style="margin: 10rpx 0;">
										<u-line color="#e5e5e5" />
									</view>

									<view class="u-flex titleBox">
										<view class=" u-flex-1 u-flex u-row-between " style="padding: 0 10rpx;">
											<u-icon name="file-text-fill" color="#4AC2DA" :size="30"></u-icon>
											<text style="font-size: 24rpx; text-align: left;margin-left: 20rpx;" class="u-flex-1">{{item.consumer_mobile}}</text>
											<view class="cm_text" hover-class="cm_hover" @click="call(item.consumer_mobile)" style="color: #2F96F3;font-size: 22rpx;">拨打</view>
										</view>
										<view style="width: 20rpx;height: 10rpx;"></view>
										<view class=" u-flex-1 u-flex u-row-between" style="padding: 0 10rpx;">
											<u-icon name="weixin-fill" color="#50CD8D" :size="30"></u-icon>
											<text style="font-size: 24rpx; text-align: left;margin-left: 20rpx;" class="u-flex-1">{{item.weixin_account?item.weixin_account:'暂未设置'}}</text>
											<view class="cm_text" hover-class="cm_hover" v-if="item.weixin_account" @click="copy(item.weixin_account)"
											 style="color: #2F96F3;font-size: 22rpx;">复制</view>
										</view>
									</view>
								</view>
							</view>
							<u-line>	</u-line>
						</block>
						<view class="u-flex" style="height: 80rpx;">
							<u-loadmore :status="loadStatus" />
						</view>
						
					</view>
				</view>
			</view>

			<u-top-tips ref="uTips" :navbar-height="0"></u-top-tips>
			<u-toast ref="uToast" />

		</view>
		<u-skeleton :loading="pageLoading" :animation="true" bgColor="#FFF"></u-skeleton>
	</view>
</template>

<script>
	// import uCharts from '../../../js_sdk/u-charts/u-charts/u-charts.js'; 
	// #ifdef H5
		import Province from '../../../province.js'; 
		import h5Copy from '@/js_sdk/junyi-h5-copy/junyi-h5-copy.js' 
	// #endif
	// #ifdef MP
		import Province from '../../../province2.js'; 
	// #endif
	var _self;
	var canvaMap = null;
	export default {
		data() {
			return {
				baseKey: 'GetTeam',
				hasRow: 'team_child',

				loadStatus: 'more',
				pageLoad: false,
				formParams: {
					consumer_code: '',
					pageIndex: 1,
					pageSize: 10
				},

				cWidth: '',
				cHeight: '',
				pixelRatio: 1,
				serverData: '',
				load: false,
				list: [{
					name: '我的团队'
				}, {
					name: '成员分布'
				}],
				currentTab: 0,
				myTeam: {},
				areaList:[],
				parent:'',
				
			}
		},
		onLoad() {

			_self = this;
			//#ifdef MP-ALIPAY
			uni.getSystemInfo({
				success: function(res) {
					if (res.pixelRatio > 1) {
						//正常这里给2就行，如果pixelRatio=3性能会降低一点
						//_self.pixelRatio =res.pixelRatio;
						_self.pixelRatio = 2;
					}
				}
			});
			//#endif
			this.cWidth = uni.upx2px(710);
			this.cHeight = uni.upx2px(500);
			let that = this
			this.formParams.consumer_code = this.userInfo.consumer_code
			this._loadData('refresh')
			// this._loadMap()
		},
		methods: {
			async _loadMap(){
				let that = this;
				
				try {
					this.$ui.showloading()
					let res = await this.$api.LoadMap({}, false);
					this.$ui.hideloading()
					console.log(res)
					if (res.Success) {
						
					} else {
						
					}
				} catch (err) {
					console.log('请求结果false : ' + err);
					// uni.$store.commit('userLoginOut')
				}
			},
			loadDataComplete(bool, data) {
				let that = this;
				this.areaList = data.team_child_map
				this.parent = data.team_parent
				if (bool && data) {
					this.myTeam = {
						"consumer_head": data.consumer_head,
						"consumer_nick_name": data.consumer_nick_name,
						"team_count": data.team_count,
						"consumer_mobile": data.consumer_mobile,
						"weixin_account": data.weixin_account
					}
				};

			},
			
			change(index) {
				this.currentTab = index;
				let that = this
				if (index == 1) {
					that.getServerData();
				}
			},
			getServerData() {
				let that = this
				let provinces = Province.features;
				// console.log(this.areaList)
				provinces.forEach((item,index)=>{
					if(that.areaList.length){
						that.areaList.forEach((it,ids)=>{
							if(it.provincename.indexOf(item.properties.name)>=0 ){
								
								if(it.nums>0 && it.nums<=5){
									item.color ='#eca889';  
								}else if(it.nums>5 && it<=10){
									item.color ='#e87b49';
								}else if(it.nums>10 ){
									item.color ='#d36e25';
								}
								
								item.properties.childrenNum = it.nums
							}else{
								item.color ='#fff3f1';
								item.properties.childrenNum = 0
							}
						})
						// console.log(8)
					}else{
						
						item.color ='#fff3ea';
						item.properties.childrenNum = 0
					}				
				})
				
				
				console.log(provinces)
				let cMap = {
					series: []
				};
				// debugger
				//将数据放进渲染参数中
				cMap.series = provinces;
				_self.showMap("canvasMap", cMap);

			},
			showMap(canvasId, chartData) {
				// alert(0)
				// setTimeout(()=>{

				this.$nextTick(function() {
					canvaMap = new uCharts({
						$this: _self,
						canvasId: canvasId,
						type: 'map',
						fontSize: 11,
						padding: [0, 0, 0, 0],
						legend: {
							show: false
						},
						enableScroll:true,
						background: '#FFFFFF',
						pixelRatio: _self.pixelRatio,
						series: chartData.series,
						dataLabel: false,
						width: _self.cWidth * _self.pixelRatio,
						height: _self.cHeight * _self.pixelRatio,
						extra: {
							map: {
								border: true,
								borderWidth: 1,
								borderColor: '#999',
								fillOpacity: 0.6
							}
						}
					});
				})


				// },500)

			},

			touchMap(e) {
				let that = this;
				// console.log(e)
				canvaMap.showToolTip(e, {
					format: function(item) {
						console.log(item);
						//cityList为城市的疫情数据，点击省份同时把城市数据也带出来
						that.cityList = item.cities;
						return `${item.properties.name}: ${item.properties.childrenNum}`
					}
				});
			},
			copy(str) {
				let that = this
				let content = str
				// #ifdef H5
					const result = h5Copy(content)
					if (result === false) {
						that.$refs.uToast.show({
							title: '复制失败',
							type: 'error',
							position: 'bottom'
						})
					} else {
						that.$refs.uToast.show({
							title: '复制成功',
							type: 'success',
							position: 'bottom'
						})
					}
				// #endif
				// #ifdef MP
					uni.setClipboardData({
						data:content,
						success() {
							that.$refs.uToast.show({
								title: '复制成功',
								type: 'success',
								position: 'bottom'
							})
						},
						fail() {
							that.$refs.uToast.show({
								title: '复制失败',
								type: 'error',
								position: 'bottom'
							})
						}
					})
				// #endif
			},
			call(num) {
				uni.makePhoneCall({
					phoneNumber: num
				})
			}
		},
	}
</script>

<style lang="scss" scoped>
	.pages {
		.header {
			width: 100%;
			background-color: #AD8E80;
			padding: 0 20rpx;
			padding-bottom: 32rpx;

			.title {
				color: #fff;
				height: 88rpx;
				line-height: 88rpx;
				font-size: 30rpx;
			}

			
		}

		.content {
			background-color: #fff;
			border-radius: 12rpx;
			overflow: hidden;

			// padding: 20rpx;
			.charts {
				width: 100%;
				min-height: 500rpx;
				margin-top: 30rpx;
				border: none;
			}
		}
		.msgBox {
			padding: 20rpx;
			background-color: #fff;
			height: 200rpx;
			border-radius: 12rpx;
			// border-bottom: 1rpx solid #e1e1e1;
			.titleBox {
				height: 70rpx;
				line-height: 70rpx;
			}
		}
	}
</style>
