<template>
	<view class="pages">
		<view class="status">
			{{  report.health_status | statusFilter }}
		</view>
		<view class="pages u-skeleton">
			<u-cell-group title="个人信息" class="u-skeleton-fillet">
				<u-cell-item title="姓名" :value="report.health_name" :arrow="false"></u-cell-item>
				<u-cell-item title="性别" :value="report.health_agent | sex" :arrow="false"></u-cell-item>
				<u-cell-item title="出生年月" :value="report.health_birth" :arrow="false"></u-cell-item>
			</u-cell-group>
			<u-cell-group title="诊断信息" class="u-skeleton-fillet">
				<u-cell-item title="健康评分" :value="report.health_score" :arrow="false"></u-cell-item>
				<u-cell-item title="身高" :value="`${report.health_height}/(cm)`" :arrow="false"></u-cell-item>
				<u-cell-item title="体重" :value="`${report.health_weight}/(kg)`" :arrow="false"></u-cell-item>
				<u-cell-item title="血压" :value="`${report.health_blood}/(mmHg)`" :arrow="false"></u-cell-item>
				<u-cell-item title="血糖" :value="`${report.health_sugar}/(mmol/L)`" :arrow="false"></u-cell-item>
				<u-cell-item title="心率" :value="`${report.health_rate}/(搏/分)`" :arrow="false"></u-cell-item>
			</u-cell-group>
			<u-cell-group title="医生建议"  class="u-skeleton-fillet" >
				<u-cell-item title="医师头像" arrow-direction="right" :border-bottom="true">
					<u-avatar :src="report.consult_avatar" :size="64"></u-avatar>
				</u-cell-item>
				<u-cell-item class="u-skeleton-fillet" title="诊断医师" :value="report.consult_teacher" :arrow="false"></u-cell-item>
				<u-cell-item title="联系电话" :value="report.consult_mobile" :arrow="false"></u-cell-item>
				<u-cell-item title="复检日期" :value="report.consult_next" :arrow="false"></u-cell-item>
				<u-cell-item title="医师建议" :label="report.consult_medical" :arrow="false"></u-cell-item>
			</u-cell-group>
		</view>
		<u-skeleton :loading="pageLoading" :animation="true" bgColor="#FFF"></u-skeleton>
	</view>
</template>

<script>
	export default {
		data() {
			return {
				report: ''
			};
		},
		onLoad(options) {
			this.code = options.code;
			this.loadData()
		},
		filters:{
			statusFilter(val){
				// 0待诊断  1诊断中 2诊断结束
				switch (val) {
					case '0':
						return `待诊断`
						break;
					case '1':
						return `诊断完成`
						break;
					// case '2':
					// 	return `诊断结束`
					// 	break;
					default:
						break;
				}
			},
			sex(val){
				return val==1?'女':'男'
			}
		},
		methods: {
			async loadData() {
				let that = this;
				that.catalogueList = []
				try {
					this.$ui.showloading()
					let res = await this.$api.DetailHealth({
						health_code: that.code
					});
					this.$ui.hideloading()

					if (res.Success) {
						that.report = res.Data
					} else {

					}
					that.pageLoading = false
				} catch (err) {
					console.log('请求结果false : ' + err)
					that.pageLoading = false

				}
			}
		}
	}
</script>

<style lang="scss" scoped>
	.pages {
		.status{
			background-color: #fff;
			font-size: 42rpx;
			color: #007AFF;
			line-height: 120rpx;
			// margin-bottom: 20rpx;
			text-align: center;
		}
	}
</style>
