<!-- 退款选项 -->

<template>
	<view class="pages">
		<view class="orderItemsBox  u-skeleton-fillet" >
			<view class="cm_bdb flex  flex_center proItemTop">
				<u-avatar :src="currentPro.shop_logo" :size="46"></u-avatar>				
				<view class="cm_title f1" style="margin-left: 10rpx;">{{ currentPro.shop_name }}</view>
				<!-- <Icon name="arrowright" :size="16"></Icon> -->
				<!-- <u-icon name="arrow-right" :size="16"></u-icon> -->
			</view>
			<view class="picBox flex  flex_center u-skeleton-fillet">
				<image v-if="currentPro.skus_img || currentPro.project_img" :src="currentPro.skus_img || currentPro.project_img" mode="aspectFill" class="avatar "></image>
				<view class="f1 u-flex u-col-top " style="height: 180rpx;">
					<view class="u-flex-1">
						<view class="    name cm_ellipsis2 text" >{{ currentPro.goods_title }}</view>
						<view class=" cm_time  cm_ellipsis2 text"  >{{ currentPro.skus_name }}</view>
					</view>
					<view class="u-flex-y u-row-right" style="align-items: flex-end;margin-left: 20rpx;">
						<text class="cm_title name text"><text style="font-size: 18rpx;">￥</text>{{ currentPro.alone_price }}</text>
						<view class="u-flex text" style="height: 40rpx;" >
							<u-icon name="close" :size="24" color="#999"></u-icon>
							<view class="cm_time u-font-24">{{ currentPro.goods_num }}</view>
						</view>	
					</view>
				</view>
			</view>			
		</view>
		
		<view class="box">
			<view class="cells flex flex_center"  @click="_toggle">
				<view class="cm_title"> 退款原因</view>
				<view class=" f1">{{form.reason}}</view>
				<u-icon name="arrowright" :size="14" color="#999"></u-icon>
			</view>
		</view>
		
		<view class="box">
			<view class="cells " style="padding: 20rpx ;">
				<view class=" flex flex_center" style="width: 100%;position: relative;"  v-if="hasEms">
					<view class="cm_title f1"> 邮费</view>
					<text class=" cm_tex_r" >{{hasEms}}</text> 
					<!-- <input class="cm_price cm_tex_r"  type="number"  @input="onInput" placeholder=""   v-model="form.apply_price"  />	 -->
				</view>
				<view class=" flex flex_center" style="width: 100%;position: relative;"  >
					<view class="cm_title f1"> 商品金额</view>
					<text class=" cm_tex_r cm_price" >￥{{sumPrice}}</text> 
					<!-- <input class="cm_price cm_tex_r"  type="number"  @input="onInput" placeholder=""   v-model="form.apply_price"  />	 -->
				</view>
			<!-- 	<view class=" flex flex_center" style="width: 100%;position: relative;" >
					<view class="cm_title f1"> 退款金额</view>
					<text class="cm_price posUnit" :style="{'right':(form.apply_price+'').length*18+'rpx'}">￥</text> 
					<input class="cm_price cm_tex_r"  type="number"  @input="onInput" placeholder=""   v-model="form.apply_price"  />	
				</view> -->
				<!-- <view style="margin-top: 20rpx;" class="cm_des">
					退款金额可修改，最多￥{{max}}不含运费				
				</view>		 -->
			</view>
		</view>
		
		<!-- <view class="box" v-if="type!=0 && form.refund_type!=0">
			<view class="cells " style="padding: 20rpx ;">
				<view class="cm_title f1"> 退款说明</view>			
				<textarea   v-model="form.reason_detail" style="margin-top: 20rpx;"  class="cm_des textarea" placeholder="选填，详细填写您的退货说明" /> 
			</view>
			
			<view class="container">			
				<view class="tui-box-upload">
					<tui-upload :serverUrl="serverUrl" :value="oringinImg"  fileKeyName="problem" @complete="result" @remove="remove"></tui-upload>
				</view>
			</view>
			<view class="container cm_des" style="padding-bottom: 20rpx ;">最多上传3张</view>
		</view>
		 -->
		<view class=" u-skeleton-fillet" style="margin-top: 72rpx;padding: 0 20rpx;">
			<u-button type="primary" shape="circle" :loading="loading" @click="_readyTo">{{type==3?'重新提交':'提交'}} </u-button>
		</view>
		
		<view class="modal flex  flex_y flex_center " v-if="show">
			<view class="panel animated fadeIn">
				<view class="cell cm_title flex flex_center" style="padding: 0 30rpx;">
					<view class="f1">请选择退款原因</view>
					<u-icon name="close" :size="16" @click="_toggle"></u-icon>
				</view>
				<block v-for="(item,index) in reasonList" :key="index">					
					<view class="cell flex flex_center"  @click="_setDefault(item)">
						<view class="leftBar flex flex_center">
							<u-icon name="checkmark-circle-fill" :size="40" color="#2F96F3" v-if="form.reason==item"></u-icon>
							<!-- <image v-if="form.reason==item"  src="/static/img/wl_xz.png" mode="scaleToFill" style="width: 32rpx;height: 32rpx;"></image> -->
							<text v-else class="noDefault"></text>
						</view>
						<view class="f1">
							{{item}}			
						</view>
					</view>
				</block>			
			</view>
		</view>
		<u-top-tips ref="uTips" :navbar-height="0"></u-top-tips>
		<u-toast ref="uToast" />
	</view>
</template>
 
<script>
	import { mapState } from 'vuex';
	// import tuiListCell from "@/components/list-cell/list-cell"
	// import tuiUpload from '@/components/tui-upload/tui-upload'
	// import tuiListView from '@/components/list-view/list-view'
	import http from '@/common/http/index.js'
	export default {
		data() {
			return {
				item:'',
				loading:false,
				reasonList:[	
					'不想要了',
					'多拍、错拍、不想要',
					'不喜欢、效果不好',
					'商品成分描述不符',
					'材质与商品描述不符',
					'大小尺寸与商品描述不符',
					'生产日期、保质期与商品描述不符',
					'质量问题',
					'收到商品少件、破损或者污渍',
					'商家发错货',
					'假冒品牌',
					'其他'
				],
				form: {
					    "refund_code":"",    //子订单号
					    "order_code_child":"",    //子订单号(重新提交时可以不填)
					    "reason":"不想要了",    //申请理由
				},
				show:false,
				oringinImg:[],  //初始化数组
				imageData: [],
				//上传地址
				serverUrl:http.baseUrl+'/api/Upload/UploadImg',
				time: '',
				max:0,
				hasEms:0,
				currentPro:'',
				type:0,
				action:''
			};
		},
		components:{
			// tuiListCell,
			// tuiListView, 
			// tuiUpload
		},
		computed: {
			// ...mapState(['currentPro']),	
			refundPrice() {
				return (this.item.price + this.item.service_total_price).toFixed(2);
			},
			sumPrice() {
				return (this.currentPro.goods_num *this.currentPro.alone_price).toFixed(2);
			},
		},
		onLoad(options){
			this.currentPro = uni.getStorageSync('refundPro')
			this.form.refund_code = this.currentPro.refund_code	
			this.form.order_code_child = this.currentPro.child_order_code
			
			if(options.code){
				this.action = 'edit'
				this.form.refund_code = options.code
			}
		},
		methods:{
			// 加载详情
			onInput(e) {
				let value = e.detail.value;
				// console.log(1,value)
				let arr = value.split('.');
				if (this.time) {
					clearTimeout(this.time);
					this.time = '';
				}
				// 防抖判断
				this.time = setTimeout(() => {
					let str = value;
					if (arr[1] && arr[1].length >= 2) {
						// 小数大4位
						str = value.match(/^\d+\.(\d){2}/)[0];
						// console.log('超过4位')
					}
					// 是否超过最大值
					if (Number(str) >= this.max) {
						// console.log('超过最大值')
						str = this.max
						// console.log('nomal',str)
					}
					
					// this.realvalue = str;
					this.form.apply_price = Number(str)
					// let name = 'form.apply_price'
					// this.$set(this.form,'apply_price', Number(str))
					
					clearTimeout(this.time);
					this.time = '';
				}, 500);
			},
			// 提交
			async _readyTo(){
				// console.log(this.form)
				
				// return
				let that =  this
				try {
					// this.$ui.showloading();
					let res = await this.$api.ApplyRefund(this.form);
					// this.$ui.hideloading();
					if (res.Success) {				
		
						this.$refs.uToast.show({
							title: '发起退款成功',
							type: 'success',
							position: 'bottom',
							
						})
						setTimeout(function() {
							if(that.action = 'edit'){
								uni.navigateBack({
									
								})
							}else{
								uni.redirectTo({
									url: '/pages/features/refundDetail/refundDetail?code='+res.Data
								});
							}						
						}, 1000);
					} else {
						that.$ui.toast(res.Msg);
					}
				} catch (err) {
					console.log('请求结果false : ' + err);
				}
				
				
			},
			_toggle(){
				this.show = !this.show
			},
			_setDefault(item){
				this.form.reason = item
				this._toggle()
			},
			result(e) {
				// console.log(1,e)
				this.imageData = e.imgArr;
				this.form.CertPic = this.imageData.join(',')
			},
			remove(e) {
				//移除图片
				console.log(2,e)
				let index = e.index
			}
		}
	}
</script>

<style lang="scss" scoped>
	.pages{
		
		.box{
			margin-top: 20rpx;
			background: #fff;
			.cells{
				width: 100%;
				min-height: 92rpx;
				line-height: 92rpx;
				background: #fff;
				padding: 0 20rpx;
				.cm_title{
					margin-right: 50rpx;
				}
				.avatar{
					width: 78rpx;
					height: 78rpx;
					border-radius: 50%;
					margin-right: 24rpx;
				}
				.posUnit{
					position: absolute;
					top: 14rpx;
					font-size: 20rpx;
					
				}
			}
			.textarea{
				height: 150rpx;
			}
			.container{
				padding:0 20rpx;
			}
			
		}
		.picBox {
			margin-bottom: 0;
		}
		.modal{
			width: 100%;
			height: 100vh;
			background: rgba(0,0,0,.4);
			position: fixed;
			left: 0;
			top: 0;
			z-index: 10000;
			.panel{
				width: 80vw;
				// height: 80vh;
				border-radius: 14rpx;
				padding: 40rpx 20rpx;
				background: #fff;
				.cell{
					line-height: 80rpx; 
					height: 80rpx;
					.leftBar {
						width: 92rpx;
						height: 92rpx;
					
						.noDefault {
							width: 32rpx;
							height: 32rpx;
							border-radius: 50%;
							border: 1rpx solid #999999;
						}
					}
				}
			}
		}
	}
</style>
