<template>
	<view class="pages">
		<view class="cm_full u-flex-y" v-if="lists.length<=0 && loadStatus!='loading'">
			<u-empty mode="list"></u-empty>
		</view>
		<view v-else>
			<view class="listItems">
					<block v-for="(item,ids) in  lists" :key="ids">
							<view class=" items" >
								<view class="reason" v-if="item.cash_status==2">
									{{item.remark}}
								</view>
								<view style="padding:0 20rpx;">
									<view class="u-flex header">
										<view class="u-flex-1 cm_time">
											申请时间：{{item.apply_time}}
										</view>
										<view  style="color:#EC6D43">{{item.cash_status | cash_statusFilter }}</view>
									</view>
									<u-line></u-line>
									<view class="u-flex" style="padding: 20rpx 0;">						
										<view class="u-flex-1 " style="margin-right: 24rpx;">
											<!-- <view class="cell"> 申请人：{{item.deal_user}}</view> -->
											<view class="cell"> 提现类型：{{item.cash_type | cashOutTypeFilter }}</view>
											<view class="cell"> 提现账号：{{item.cash_card}}</view>
										</view>
										<view class="cm_price" style="color: #EC6633;">-{{item.apply_money }}</view>
									</view>
								
									<u-line></u-line>
									<view class="u-flex footer">
										<text style="color: #007AFF;">账户余额：{{item.cash_blance }}</text>
										<view class="u-flex-1"></view>
										<!-- <view  class="cm_time" style="color: #FA3534;">{{item.cash_type }}</view> -->
									</view>
								</view>
							</view>
					</block>
			</view>
			<view class="u-flex" style="height: 80rpx;">
				<u-loadmore :status="loadStatus" />
			</view>	
		</view>
		
		
	
		<u-top-tips ref="uTips" :z-index="10100" :navbar-height="0"></u-top-tips>
		<u-toast ref="uToast" />
	</view>
</template>

<script>
	export default {
		data() {
			return {
				baseKey: 'GetCashList',
				hasRow: 'Rows',
				formParams: {
					"pageIndex": 1, //页
					"pageSize": 10, //条
				},
				
				commentList: [],
				onBottom: true,
				onTop: true,
				show: false,
				currentVuale: ''
			};
		},
		onLoad(options) {
			this._loadData('refresh')
		},
		methods: {
			
		}
	};
</script>

<style lang="scss" scoped>
	.pages {
		padding: 20rpx;
		.listItems {
			// padding: 20rpx;
			// border-radius: 16rpx;
			// background-color: #fff;
			.items {
				width: 100%;
				background-color: #fff;	
				margin-bottom: 20rpx;
				border-radius: 12rpx;
				overflow: hidden;
				
				margin-bottom: 20rpx;
				&:last-child{
					margin-bottom: 0;
				}
				.reason{
					height: 60rpx;
					line-height: 60rpx;
					text-align: center;
					color: #E3281D;
					font-size: 26rpx;
					background-color: #FFE2E2;
				}
				.header{
					height:84rpx ;
				}
				.footer{
					height:84rpx ;
				}
				.cell{
					line-height: 40rpx;
				}
				.text {
					font-size: 26rpx;
					line-height: 1.4;
				}
				
				.cm_title {
					font-size: 30rpx;
					font-weight: 600;
					line-height: 1.6;
				}
				
				.tigs {
					color: #fff;
					height: 30rpx;
					line-height: 30rpx;
					padding: 0 30rpx;
					border-radius: 15rpx;
					background-color: #fd860b;
					font-size: 22rpx;
					margin: 10rpx 0;
				}
			}
		}
	}
</style>
