<template>
	<view class="pages">
		<view class="boxs">
			<u-form :model="form" ref="uForm" :label-width="160">

				<view class="formBox">
					<u-form-item label="收货人姓名" prop="buy_name">
						<u-input v-model="form.buy_name"  placeholder="请输入收货人姓名" />
						<view slot="right" hover-class="hover" style="padding: 0 16rpx;" @click="_choose">
							<u-icon name="calendar" :size="36" color="#999"></u-icon>
						</view>
					</u-form-item>
					<u-form-item label="联系电话" prop="buy_phone">
						<u-input v-model="form.buy_phone" type="number" placeholder="请输入联系电话" />
					</u-form-item>
					<u-form-item label="收货地址" prop="buy_address">
						<u-input v-model="form.buy_address" type="textarea" :autoHeight="true" placeholder="请输入收货地址" />
					</u-form-item>
					<u-form-item label="商品数量" prop="change_stock_count">
						<u-input type="number" v-model="form.change_stock_count" placeholder="商品数量" />
						<view slot="right" hover-class="hover" style="padding: 0 16rpx;">件</view>
					</u-form-item>
				</view>
			</u-form>
		</view>

		<view style="margin-top: 40rpx ;padding: 20rpx;">
			<u-button @click="submit" type="primary" shape="circle">立即发货</u-button>
		</view>
		<u-top-tips ref="uTips" :z-index="10100" :navbar-height="0"></u-top-tips>
		<u-toast ref="uToast" />
	</view>
</template>

<script>
	export default {
		data() {
			return {
				show: false,
				show2: false,
				form: {},
				actionSheetList: [{
						text: '男',
						value: 0
					},
					{
						text: '女',
						value: 1
					}
				],
				form: {
					"store_code": "", //库存编码
					"user_address_code": "", //消费者地址编码，传空为新地址
					"buy_name": "", //收货人
					"buy_phone": "", //收货人电话
					"buy_address": "", //收货人地址
					"change_stock_count": 0, //发货数
				},
				// health_agent:'',
				rules: {

					buy_name: [{
						required: true,
						message: '请输入收货人姓名',
						// 可以单个或者同时写两个触发验证方式 
						trigger: ['blur'],
					}],
					buy_phone: [{
							required: true,
							message: '请输入收货人联系方式',
							// 可以单个或者同时写两个触发验证方式 
							trigger: ['blur'],
						},
						{
							validator: (rule, value, callback) => {
								return this.$u.test.mobile(value);
							},
							message: '请输入正确的电话号码',
							trigger: ['blur'],
						}
					],
					buy_address: [{
						required: true,
						message: '请输入收货人地址',
						// 可以单个或者同时写两个触发验证方式 
						trigger: ['blur'],
					}],
					change_stock_count: [{
						required: true,
						message: '请输入发货数量',
						// 可以单个或者同时写两个触发验证方式 
						// trigger: ['blur'],
					}],

				}
			};
		},
		onLoad(options) {
			this.form.store_code = options.code;
			this.form.change_stock_count  =1
			let that = this
			uni.$on('chooseAddress',(data)=>{
				console.log(data)
				// "user_address_code": "", //消费者地址编码，传空为新地址
				// 					"buy_name": "", //收货人
				// 					"buy_phone": "", //收货人电话
				// 					"buy_address": "", //收货人地址
				that.form.user_address_code = data.address_code
				that.form.buy_name = data.receiving_user
				that.form.buy_phone = data.receiving_mobile
				that.form.buy_address = data.detailed_address
			})
		},
		onReady() {
			this.$refs.uForm.setRules(this.rules);
		},
		methods: {
			// 选择地址
			_choose(){
				uni.navigateTo({
					url:'/pages/features/address/address?action=choose'
				})
			},

			submit() {
				let that = this

				this.$refs.uForm.validate(async valid => {
					console.log(that.form)
					if (valid) {
						console.log('验证通过');
						try {
							that.$ui.showloading()
							let res = await that.$api.SubmitStore(that.form);
							that.$ui.hideloading()
							if (res.Success) {
								uni.$emit('refreshStore');
								that.$refs.uToast.show({
									title: '发货成功',
									type: 'success',
									position: 'bottom',
									back: true
								})
							} else {
								that.$refs.uToast.show({
									title: res.Msg,
									type: 'error',
									position: 'bottom'
								})
							}
						} catch (err) {
							console.log('请求结果false : ' + err)

						}
					} else {
						console.log('验证失败');
					}
				});
			},
		}
	}
</script>

<style lang="scss" scoped>
	.pages {
		padding: 20rpx;

		.title {
			line-height: 3;
			padding: 20rpx;
		}

		.boxs {
			background-color: #fff;
			border-radius: 16rpx;
		}

		.formBox {
			width: 100%;
			background-color: #fff;
			padding: 0 20rpx;
			// margin-bottom: 20rpx;
		}
	}
</style>
