<template>
	<view>
		<view class="pages u-skeleton">
			<view class="bgbox ">
				<view>{{item.status | send_ststusFilter  }}</view>
				<text style="font-size: 24rpx;font-weight: 400;">
					{{statusText}}
				</text>
			</view>
			<view class="orderItemsBox addressBox ">
				<view class="flex flex_center buyer u-skeleton-fillet">
					<!-- <u-icon name="map" :size="30" color="#1192E0"></u-icon> -->
					<image src="../../../static/img/xq_dz.png" mode="scaleToFill" style="width: 60rpx ;height: 60rpx;margin:0 20rpx"></image>
					<view class="f1 addreass u-skeleton-rect" >
						<view class="cm_title ">{{item.buy_address}}</view>
						<view class="flex flex_center">
							<text class="cm_text ">{{item.buy_name}}</text>
							<text class="cm_text ">{{item.buy_phone}}</text>
							<view class="f1"></view>
						</view>
					</view>
				</view>
			</view>

			<view class="orderItemsBox ">
				<!-- <view class="cm_bdb flex  flex_center proItemTop" @click="_hrefStore(item.shop_id)">
					<u-avatar :src="item.shop_logo" :size="60"></u-avatar>

					<view class="cm_title f1">{{ item.shop_name }}</view>
					<u-icon name="arrow-right" :size="16"></u-icon>
				</view> -->
					<view class="picBox">
						<view class=" flex  flex_center " style="align-items: flex-start;" >
							<!-- <view class="picBox flex  flex_center" >						 -->
							<image :src="item.goods_main_img" mode="aspectFill" class="avatar" lazy-load="true"></image>
							<view class="f1">
								<view class=" cm_title   name cm_ellipsis2 u-skeleton-fillet">{{ item.goods_title }}</view>
								<view class="cm_des flex flex_center" style="justify-content: flex-start;">
									<!-- <u-tag shape="circle" size="mini" type="gray" class=" stags">{{ it.skus_name }}</u-tag> -->
									<view class="cm_time">{{ item.skus_difference }}</view>
								</view>
								<!-- <view style="margin-top: 4rpx;">
									<view class="cm_des flex flex_center" v-if="it.order_project_service1">
										<view class="f1 cm_t_20" style="color: #E56D00;">{{it.order_project_service1}}</view>

									</view>
									<view class="cm_des flex flex_center" v-if="it.order_project_service2">
										<view class="f1 cm_t_20" style="color: #E56D00;">{{it.order_project_service2}}</view>

									</view>
									<view class="cm_des flex flex_center" v-if="it.order_project_service3">
										<view class="f1 cm_t_20" style="color: #E56D00;">{{it.order_project_service3}}</view>

									</view>
								</view> -->
								<view class=" u-skeleton-fillet flex flex_center" style="margin-top: 10rpx;">
									<view class="cm_des">
										<!-- <u-icon name="close" :size="24" color="#999"></u-icon> -->
										发货数：{{ item.change_stock_count }}
									</view>
									<view class="f1"></view>
									
								</view>
							</view>
							<!-- </view> -->
						</view>
					<!-- 	<view class="flex flex_center contentBox cm_bdt">
							<view class="f1"></view>
							<button class="cm_tags primary" size="mini" @click="_refund(it)" v-if=" item.order_status!=0 && it.is_refund==0">退货退款</button>
							<text style="color: #E56D00;" @click="_refundDetail(it)" v-if=" item.order_status!=0 && it.is_refund!=0">{{it.is_refund | is_refundFilter}}</text>
						</view> -->
					</view>

			</view>


			<view class="proItemsBox  " style="padding: 0;">
				<u-cell-group>
					<u-cell-item title="物流单号" v-if="item.status==1" @click="_href('/pages/features/ems/ems?code='+item.send_code)" :arrow="false" :value="item.ems_code" :border-bottom="false">
						<view slot="right" class="cm_text">查看</view>
					</u-cell-item>
					<u-cell-item title="申请时间" :arrow="false"  :value="item.apply_time" :border-bottom="false"></u-cell-item>
					<u-cell-item title="发货时间" :arrow="false" v-if="item.status==1" :value="item.dispatch_time" :border-bottom="false"></u-cell-item>
					<!-- <u-cell-item title="支付金额" :label="`共${ item.goods_num }件商品`" arrow-direction="right" :value="`￥${item.pay_price}`"
					 :border-bottom="false"></u-cell-item> -->
					<!-- 	<u-cell-item title="商品金额" arrow-direction="right" :value="allPrize" :border-bottom="false"></u-cell-item>
					<u-cell-item title="商品金额" arrow-direction="right" :value="allPrize" :border-bottom="false"></u-cell-item> -->
				</u-cell-group>

			</view>

			

			<u-top-tips ref="uTips" :navbar-height="0"></u-top-tips>
			<u-toast ref="uToast" />
			<PayPanel ref="payPanel" :oderId="oderId" :amout="item.pay_price" @success="success" @cancel="cancel"></PayPanel>
		</view>
		<u-skeleton :loading="pageLoading" :animation="true" bgColor="#FFF"></u-skeleton>
	</view>
</template>

<script>
	// import tuiSkeleton from '@/components/u-skeleton/u-skeleton';
	// import tuiListView from '@/components/list-view/list-view';
	// import tuiListCell from '@/components/list-cell/list-cell';
	import Utils from '@/common/utils.js';
	import PayPanel from '@/components/PayPanel/PayPanel';
	import h5Copy from '@/js_sdk/junyi-h5-copy/junyi-h5-copy.js'
	const global_Set_zdjy = uni.getStorageSync('global_Set_zdjy');
	export default {
		data() {
			return {
				item: '',
				loading1: false,
				loading2: false,
				detailParams: {
					send_code: ''
				},
				oderId: "",
				// 支付参数
				payParams: {
					pay_type: 0, //1-支付宝 2-微信
					pay_source: 0, //0-定额充值 1-聚友手续费 2-粉丝手续费 3-VIP手续费
					order_num: '' //订单号
				},
				pageLoading: true,
				phoneNum: global_Set_zdjy.customer_mobile,
			};
		},
		onLoad(options) {
			this.detailParams.send_code = options.code;

			let that = this
			uni.$on('refresh_orderDetail', () => {
				that.loadData()
			})
		},
		onShow() {
			this.loadData()
		},
		computed: {
			statusText() {
				let t = ''
				switch (parseInt(this.item.status)) {
					case 0:
						t = '请耐心等待商家发货'
						break;
					case 1:
						t = '商家已发货，请留意物流信息'
						break;
					case 2:
						t = '商品已经在运送途中,请保持手机畅通'
						break;
					case 3:
						t = '您已确认签收货物'
						break;
					case 4:
						t = '等待商家退款'
						break;
					case 5:
						t = '交易已成功'
						break;
					default:
						t = '商家已发货，请留意物流信息'
						break;
				}
				return t
			}
		},
		components: {
			// tuiListCell,
			// tuiSkeleton, 
			// tuiListView,
			PayPanel
		},
		methods: {
			// _ems(){
				
			// },
			async loadData(callback) {
				let that = this;
				try {
					// this.$ui.showloading();
					let res = await this.$api.GetStoreDetail(this.detailParams, false);
					// this.$ui.hideloading();

					console.log(res)
					if (res.Success) {
						if (res.Data) {
							that.item = res.Data;
	
							// alert(that.oderId)
						}
						
					} else {
						that.$ui.toast(res.Msg)
					}
					that.pageLoading = false
				} catch (err) {
					console.log('请求结果false : ' + err);
					that.pageLoading = false
				}
			},

		}
	}
</script>

<style lang="scss" scoped>
	.pages {
		// padding: 20rpx;
		position: relative;
		// padding-top: 160rpx;
		padding-bottom: 90rpx;

		.bgbox {
			font-size: 40rpx;
			text-align: left;
			// padding: 40rpx 0;
			background: #122E4B;
			color: #fff;
			font-weight: 600;
			// position: absolute;
			left: 0;
			top: 0;
			z-index: 0;
			width: 100%;
			height: 156rpx;
			// line-height: 300rpx;

			padding: 30rpx 40rpx;
			// padding-top: 60rpx;

			&.text-red {
				color: red
			}

		}

		.proItemsBox {
			border-radius: 12rpx;
			overflow: hidden;
			position: relative;
			z-index: 1;

			.call {
				width: 50rpx;
				height: 50rpx;
				margin-right: 20rpx;
			}
		}

		.addressBox {
			// margin-top: 160rpx;
			z-index: 1;
			position: relative;
			text-align: left;

			.icon {
				width: 50rpx;
				height: 50rpx;
				margin-right: 26rpx;
			}

			.cm_title {
				margin-bottom: 10rpx;
			}

			.cm_text {
				text-align: left;
				color: #999;
				margin-right: 20rpx;
			}
		}

		.shopIcon {
			width: 36rpx;
			height: 36rpx;
			border-radius: 50%;
			margin-right: 8rpx;
		}

		.contentBox {
			padding: 10rpx 0;
			margin-top: 20rpx;
		}

		.buyer {
			padding: 10rpx 0;
		}

		.t {
			padding: 20rpx 32rpx;
		}

		.u-line-cell {
			width: 100%;
		}

		.u-title {
			width: 110rpx;
			margin-right: 20rpx;
			text-align: left;
		}

		.footer {
			position: fixed;
			left: 0;
			bottom: 0;
			// height: 100rpx;
			background: #fff;
			border-top: 1rpx solid #f2f2f2;
			width: 100%;
			padding: 0 20rpx;
			z-index: 100;

			.btns {
				margin-left: 20rpx;
			}
		}
	}
</style>
