@font-face {
  font-family: 'icomoon';
  src:  url('common/fonts/icomoon.eot?eqkjd0');
  src:  url('common/fonts/icomoon.eot?eqkjd0#iefix') format('embedded-opentype'),
    url('common/fonts/icomoon.ttf?eqkjd0') format('truetype'),
    url('common/fonts/icomoon.woff?eqkjd0') format('woff'),
    url('common/fonts/icomoon.svg?eqkjd0#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="monIcon-"], [class*=" monIcon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.monIcon-ic_bz:before {
  content: "\e900";
}
.monIcon-ic_dd:before {
  content: "\e901";
}
.monIcon-ic_gd_b:before {
  content: "\e902";
  color: #999;
}
.monIcon-ic_gd_w:before {
  content: "\e903";
  color: #fff;
}
.monIcon-ic_kf:before {
  content: "\e904";
}
.monIcon-ic_ma:before {
  content: "\e905";
  color: #666;
}
.monIcon-ic_sj:before {
  content: "\e906";
  color: #666;
}
.monIcon-ic_sz:before {
  content: "\e907";
}
.monIcon-ic_td:before {
  content: "\e908";
}
.monIcon-ic_yq:before {
  content: "\e909";
}
.monIcon-ic_yqm:before {
  content: "\e90a";
  color: #666;
}
.monIcon-ic_yz:before {
  content: "\e90b";
  color: #666;
}
