<template>
	<view class="page">
		<!-- <web-view class="webview" :src="src"></web-view> -->
		<rich-text :nodes="text"></rich-text>
	</view>
</template>

<script>
	export default {
		data() {
			return {
				text:''
			};
		},
		onLoad(){
			const text = uni.getStorageSync('ys');
			this.text = text
		}
	}
</script>

<style lang="scss">
	.page{
		padding: 20rpx;
	}
</style>
