<template>
	<view>
		<view class="pages u-skeleton">
			<view class="orderItemsBox u-skeleton-fillet">
				<view class="cm_bdb flex  flex_center proItemTop "  >
					<u-avatar :src="item.shop_logo" :size="46"></u-avatar>
					
					<view class="cm_title f1" style="margin-left: 10rpx;">{{ item.shop_name }}</view>
					<!-- <Icon name="arrowright" :size="16"></Icon> -->
					<!-- <u-icon name="arrow-right" :size="16"></u-icon> -->
				</view>
				<view class="picBox u-skeleton-fillet">			
					<view class=" flex  flex_center " style="align-items: flex-start;">
						<!-- <view class="picBox flex  flex_center" >						 -->
						<image :src="refundDetail.skus_img" mode="aspectFill" class="avatar" lazy-load="true"></image>
						<view class="f1 u-flex u-col-top " style="height: 180rpx;">
							<view class="u-flex-1">
								<view class="    name cm_ellipsis2 text" >{{ refundDetail.goods_title }}</view>
								<view class=" cm_time  cm_ellipsis2 text"  >{{ refundDetail.skus_name }}</view>
								<view class=" u-skeleton-fillet flex flex_center" style="margin-top: 10rpx;">
									<text class=" ">退款金额：<text class="">￥{{ item.apply_price }}</text></text>
									<view class="f1"></view>
								</view>
							</view>
							<view class="u-flex-y u-row-right" style="align-items: flex-end;margin-left: 20rpx;">
								<text class="cm_title name text"><text style="font-size: 18rpx;">￥</text>{{ refundDetail.alone_price }}</text>
								<view class="u-flex text" style="height: 40rpx;" >
									<u-icon name="close" :size="24" color="#999"></u-icon>
									<view class="cm_time u-font-24">{{ refundDetail.goods_num }}</view>
								</view>	
							</view>
						</view>
					</view>
				</view>
			</view>
			
			<view class="box">
				<tui-time-axis>
					<tui-timeaxis-item bgcolor="none" v-for="(item,index) in scheduleList " :key="index">
						<template slot:node>
							<view class="tui-node tui-bg-primary">
								<!-- <tui-icon name="check" color="#fff" :size="14" :bold="true"></tui-icon> -->
								<!-- <image  src="../../../static/img/wl_xz.png" mode="aspectFit" style="width: 30rpx;height: 30rpx;"></image> -->
								<u-icon name="checkmark-circle-fill" :size="40" v-if="index==0" color="#1192E0"> </u-icon>
								<u-icon name="checkmark-circle" :size="40" color="#aaaaaa" v-else > </u-icon>
								<!-- <text v-else style="width: 20rpx;height:20rpx;border-radius: 50%;background: #ebebeb;"> </text> -->
							</view>
						</template>
								
						<template slot:content>
							<view>
								<view class="cm_title" :style="{'color':'#333'}">{{item.record_step}}</view>
								<view class="cm_des" :style="{'color':'#666'}">{{item.operation_time}}</view>
								<view class="cm_des" :style="{'color':'#666'}">{{item.record_remark}}</view>
								<view class="cm_des" :style="{'color':'#6'}">{{item.operation_content}}</view>
							</view>
						</template>
					</tui-timeaxis-item>
				</tui-time-axis>
			</view>
			<view class="flex flex_center" style="padding: 20rpx;">
				<u-button type="primary" size="medium" style="width: 100%;"  shape="circle" :loading="loading" @click="_phone">联系卖家</u-button>
			</view>
		</view>
		<u-skeleton :loading="pageLoading" :animation="true" bgColor="#FFF"></u-skeleton>
	</view>
</template>

<script>
	import tuiTimeAxis from "@/components/time-axis/time-axis"
	import tuiTimeaxisItem from "@/components/timeaxis-item/timeaxis-item"
	import Utils from '@/common/utils.js';
		const global_Set_zdjy = uni.getStorageSync('global_Set_zdjy');
	export default {
		data() {
			return {
				item: '',
				loading: false,
				scheduleList: [],
				pageLoading: true,
				formParams: {
					"refund_code": ""
				},
				refundDetail:'',
				item:''
			};
		},
		onLoad(options) {
			this.formParams.refund_code = options.code;
			this.refundDetail = uni.getStorageSync('refundDetail')
			const data = uni.getStorageSync('refundHis')
			console.log(data)
			this.scheduleList = [...data.defund_log_list] 
			this.item = {...data.refundModel}
			this.pageLoading = false
		},
		components: {
			tuiTimeAxis,
			tuiTimeaxisItem
		},
		methods: {
			_phone() {
				// 客服热线
				uni.makePhoneCall({
					phoneNumber: global_Set_zdjy.customer_mobile//仅为示例
				});
			},


			async loadData(callback) {
				let that = this;
				try {
					// this.$ui.showloading();

					let res = await this.$api.GetRefundOrderInfo(this.formParams, false);
					// this.$ui.hideloading();
					console.log(res);
					if (res.Success) {
						if (res.Data) {
							that.item = res.Data.refundModel;
							that.scheduleList = res.Data.scheduleList;
						}
						that.skeletonShow = false;
					} else {
						that.$ui.toast(res.Msg);
					}
					if (callback) callback();
				} catch (err) {
					console.log('请求结果false : ' + err);
				}
			}
		}
	};
</script>

<style lang="scss" scoped>
	.pages {
		padding-bottom: 100rpx;
		padding: 20rpx;
		.status {
			line-height: 76rpx;
			background: #50ab9f;
			color: #fff;
			text-align: center;
		}

		.picBox {
			margin-bottom: 0;

			.avatar {
				width: 160rpx;
				height: 160rpx;
			}
		}

		.textarea {
			height: 150rpx;
			margin-top: 24rpx;
		}

		.container {
			padding: 0 20rpx;
		}

		.box {
			margin-top: 20rpx;
			background: #fff;
			padding: 20rpx 40rpx;
			
			.cells {
				height: 140rpx;
				margin-top: 16rpx;
				position: relative;
				
				.aside {
					width: 64rpx;
					height: 140rpx;

					.icon {
						width: 40rpx;
						height: 40rpx;
						border-radius: 50%;
						background: #999;
						color: #fff;
						display: block;
						text-align: center;
						line-height: 40rpx;
					}
				}

				.top {
					// height: 88rpx;
					margin-bottom: 20rpx;
					height: 40rpx;

					.title {
						color: #999;
						font-size: 32rpx;
					}
				}

				.bottom {
					height: 80rpx;
				}

				&::before {
					content: '';
					position: absolute;
					width: 4rpx;
					height: 80rpx;
					background: var(--cl_primary);
					left: 18rpx;
					bottom: 0;
				}

				&:last-child {
					.title {
						color: var(--cl_primary);
						font-size: 32rpx;
					}

					.cm_des {
						color: var(--cl_primary);
					}

					.icon {
						background: var(--cl_primary);
					}

					&::before {
						content: '';
						position: absolute;
						width: 0;
						height: 0;
					}
				}
			}


		}

	}
</style>
