<template>
	<view class="pages">
		<view class="header" :style="{top:pageFixTop}">
			<u-tabs :list="tabs" bg-color="#fff" active-color="#333" bar-active-color="#EC6633" :is-scroll="false" :current="currentTab"
			 @change="change"></u-tabs>
		</view>
		<view class="cm_full u-flex-y" v-if="lists.length<=0 && loadStatus!='loading'">
			<u-empty mode="order"></u-empty>
		</view>
		<view class="listItems" v-else>
			<block v-for="(item,index) in  lists" :key="index">
				<view class="orderItemsBox ">
					<view class="cm_bdb flex  flex_center proItemTop">
						<!-- <image :src="item.shop_logo" mode="widthFix" class="shopLogo"></image> -->
						<u-avatar :src="item.shop_logo" :size="46"></u-avatar>
						<view class="f1 cm_tex_l cm_title" style="margin-left: 10rpx;">{{item.shop_name}}</view>
						<!-- <view class="cm_des">{{ item.create_time }}</view> -->
						<view class="status">{{ item.order_status | orderStatusFilter }}</view>
					</view>
					<block v-for="(it, ind) in item.goods_list" :key="ind">
						<navigator :url="'/pages/features/order/orderDetail/orderDetail?code=' + item.order_code" class="picBox flex  flex_center">
							<!-- <view class="picBox flex  flex_center" >						 -->
							<image :src="it.skus_img" mode="aspectFill" class="avatar" lazy-load="true"></image>
							<view class="f1 u-flex u-col-top " style="height: 180rpx;">
								<view class="u-flex-1">
									<view class="    name cm_ellipsis2 text" >{{ it.goods_title }}</view>
									<view class=" cm_time  cm_ellipsis2 text"  >{{ it.skus_name }}</view>
								</view>
								<view class="u-flex-y u-row-right" style="align-items: flex-end;margin-left: 20rpx;">
									<text class="cm_title name text"><text style="font-size: 18rpx;">￥</text>{{ it.alone_price }}</text>
									<view class="u-flex text" style="height: 40rpx;" >
										<u-icon name="close" :size="24" color="#999"></u-icon>
										<view class="cm_time u-font-24">{{ it.goods_num }}</view>
									</view>	
								</view>
							</view>
							<!-- </view> -->
						</navigator>
					</block>

					<!-- <view class=" tui-skeleton-fillet flex flex_center cm_bdb" style="height: 80rpx;">
						<view class="f1">邮费：</view>
						<view class="">{{ item.is_ems?'￥'+item.is_ems:'包邮' }}</view>
					</view>
					<view class=" tui-skeleton-fillet flex flex_center cm_bdb" style="height: 80rpx;">
						<view class="f1">服务费用：</view>
						<view class="">{{ '￥'+item.service_total_price }}</view>
					</view> -->
					<view class=" flex flex_center " style="height: 40rpx;align-items: flex-end;">
						<view class="f1"></view>
						<text class=" cm_text " style="margin-left: 24rpx;">总价格：<text style="font-size: 18rpx;">￥</text>{{ item.goods_total_price }}</text>
						<!-- <view class="cm_des">共 {{ item.goods_num }} 件商品</view> -->
						<text class="cm_title" style="margin-left: 24rpx;">实付款：<text style="font-size: 18rpx;">￥</text>{{ item.pay_price }}</text>
					</view>
					<view class="flex flex_center  " >
						<view class="f1"></view>
						<button style="margin-top: 40rpx;" class="cm_tags primary" size="mini" v-if="item.order_status == 0" @click="_href('/pages/features/order/orderDetail/orderDetail?code='+item.order_code)">立即付款</button>
						<button style="margin-top: 40rpx;" class="cm_tags" size="mini" v-if="item.order_status == 0" @click="_cancel(item.order_code)">取消订单</button>
						<!-- <button class="cm_tags primary" size="mini" v-if="item.order_status == 1" @click="prompt(item.order_code)">提醒发货</button> -->
						<button style="margin-top: 40rpx;" class="cm_tags primary" size="mini" v-if="item.order_status == 2" @click="_sure(item.order_code)">确认收货</button>
						<!-- <button class="cm_tags primary" size="mini" v-if="item.order_status == 2" @click="scan(item.order_code)">查看物流</button> -->
						<!-- <button class="cm_tags" v-if="item.order_status!=5 && item.order_status!=9&& item.order_status!=0" @click="refund(item)" >退货退款</button> -->
					</view>
				</view>
			</block>

			<view class="u-flex" style="height: 80rpx;">
				<u-loadmore :status="loadStatus" />
			</view>
		</view>

		<u-top-tips ref="uTips" :z-index="10100" :navbar-height="0"></u-top-tips>
		<u-toast ref="uToast" />
		<view class="footer">

		</view>
	</view>
</template>

<script>
	export default {
		data() {
			return {
				baseKey: 'GetOrderList',
				hasRow: 'Rows',
				formParams: {
					"order_status": 0,
					"pageIndex": 1, //页
					"pageSize": 10, //条
				},
				tabs: [
					{
						name: '全部'
					},
					{
						name: '待付款'
					}, {
						name: '已付款'
					}
				],
				commentList: [],
				onBottom: true,
				onTop: true,
				show: false,
				currentVuale: '',
				currentTab: 0
			};
		},
		filters: {
			time(val) {

				return val.split(' ')[0]
			},
			study(val) {
				// console.log(val)
				let s = parseInt(val);
				return s
			}
		},
		onLoad(options) {
			this._loadData('refresh')
		},
		methods: {
			change(index) {
				this.currentTab = index;
				this.formParams.order_status = index;
				this.lists = [];
				this._loadData('refresh')
			},
	
			async _agreeRefund(needEms){
				// alert(needEms)
				let that= this;
				if(  needEms && !this.ems_code){
					this.$ui.toast('请输入物流单号')
					return;
				}
				this.refundModal = false
				try {
					// this.$ui.showloading();	
					let data = {
						order_code:this.currentCode
					}
					if( needEms)data.ems_code = this.ems_code
					let res = await this.$api.ApplyRefund(data, false); 
					// this.$ui.hideloading();
					if (res.Success) {
						
						that.$ui.toast('退货申请成功')
						setTimeout(()=>{
							// that._loadData('refresh');
							that._refresh()
						},1000)
					} else {
						that.$ui.toast(res.Msg)
					}
				} catch (err) {
					console.log('请求结果false : ' + err);
				}
			},
			async _sure(){
				let that= this;
				try {
					// this.$ui.showloading();	
					let data = {
						order_code:this.currentCode
					}
					let res = await this.$api.Receiving(data, false); 
					// this.$ui.hideloading();
					if (res.Success) {
						
						that.$ui.toast('收货成功')
						setTimeout(()=>{
							that._refresh()
						},1000)
					} else {
						that.$ui.toast(res.Msg)
					}
					if (callback) callback();
				} catch (err) {
					console.log('请求结果false : ' + err);
				}
			},
			async _cancel(){
				let that= this;
				try {
					// this.$ui.showloading();	
					let data = {
						order_code:this.currentCode
					}
					let res = await this.$api.CancelOrder(data, false); 
					// this.$ui.hideloading();
					if (res.Success) {
					
						that.$ui.toast('取消成功')				
						setTimeout(()=>{
							// that._loadData('refresh');
							that._refresh()
						},1000)
					} else {
						that.$ui.toast(res.Msg)
					}
				} catch (err) {
					console.log('请求结果false : ' + err);
				}
			},
		}
	};
</script>

<style lang="scss" scoped>
	.pages {
		padding-top: 108rpx;

		.header {
			position: fixed;
			left: 0;
			top: 0;
			width: 100vw;
			z-index: 10;
		}

		.listItems {
			// padding: 32rpx;
			width: 100%;
			padding:0 20rpx;
			.orderItemsBox{
				border-radius: 12rpx;
				.picBox{
					margin-bottom: 0;
				}
				.text{
					line-height: 40rpx;
				}
			}
			// background-color: #fff;

			// margin-top: 20rpx;

		}
	}
</style>
