<template>
	<view class="pages">
		<view class="cm_full u-flex-y" v-if="lists.length<=0 && loadStatus!='loading'">
			<u-empty mode="list"></u-empty>
		</view>
		<view v-else style="width: 100%;">
			<view class="comment u-flex u-col-top" v-for="(res, index) in lists" :key="index">
				<view class="left">
					<!-- <image :src="res.consumer_head" mode="aspectFill"></image> -->
					<u-avatar :src="res.consumer_head" :size="80"></u-avatar>
				</view>
				<view class="right u-flex-1">
					<view class="u-flex-y u-col-top" style="height: 80rpx;">
						<view class="name cm_title u-text-left">{{ res.consumer_nick_name }}</view>
						<view class="cm_time u-text-left">{{ res.apply_time }}</view>
					</view>
					<view class="ccontent">{{ res.evaluate_content }}</view>
					<view class="replyname"  v-if="res.reply_content">{{ res.reply_user }}回复：</view>
					<view class="reply-box" v-if="res.reply_content">
						<view class="text">{{ res.reply_content }}</view>
					</view>
					
				</view>
			</view>
			<view class="u-flex" style="height: 80rpx;">
				<u-loadmore :status="loadStatus" />
			</view>	
		</view>
		
		
		<view class="footer u-flex">
			<u-button shape="circle" @click="write" :custom-style="{width:'100%'}" size="medium" type="primary">撰写评论</u-button>
		</view>
		<u-popup v-model="show" mode="center" :border-radius="12" :closeable="true">
			<view class="content">
				<view class="cm_title u-text-center">课程评价</view>
				<u-input v-model="commonParams.evaluate_content" type="textarea"  placeholder="请输入评论内容" :auto-height="true"
				 class="InputBox" :border="false" />
				<u-button shape="circle" :custom-style="{width:'100%'}" @click="submit" size="medium" type="primary">立即修改</u-button>
			</view>
		</u-popup>
		<u-top-tips ref="uTips" :z-index="10100" :navbar-height="0"></u-top-tips>
		<u-toast ref="uToast" />
	</view>
</template>

<script>
	export default {
		data() {
			return {
				baseKey: 'EvaluateList',
				hasRow: 'ListInfo',
				formParams: {
					"catalogue_code": "", //目录编码
					"pageIndex": 1, //页
					"pageSize": 10, //条
				},
				commonParams: {
					"course_code": "", //课程编码
					"catalogue_code": "", //目录编码
					"evaluate_content": "", //评价内容
					"evaluate_img": "", //评价图片
				},
				commentList: [],
				onBottom: true,
				onTop: true,
				show: false,
				currentVuale: ''
			};
		},
		onLoad(options) {
			// this.getComment();
			this.formParams.catalogue_code = options.code
			this.commonParams.catalogue_code = options.code
			this.commonParams.course_code = options.classCode
			// debugger
			this._loadData('refresh')
		},
		methods: {
			// 提交评论
			async submit() {
				let that = this
				if(!this.commonParams.evaluate_content){
					this.$refs.uToast.show({
						title: '请输入评论内容',
						type: 'error',
						position: 'bottom' 
					})
					return;
				}
				try {
					this.$ui.showloading()
					let res = await this.$api.EvaluateAdd(this.commonParams);
					this.$ui.hideloading()
					if (res.Success) {
						this.$refs.uToast.show({
							title: '提交成功',
							type: 'success',
							position: 'bottom'
						})
						that._loadData('refresh')
						that.show = false
					} else {
						this.$refs.uToast.show({
							title: res.Msg,
							type: 'error',
							position: 'bottom'
						})
					}
				} catch (err) {
					console.log('请求结果false : ' + err)
					this.$ui.hideloading()
				}
			},
			write() {
				this.commonParams.evaluate_content = ''
				this.show = true
			},
			// 跳转到全部回复
			toAllReply() {
				uni.navigateTo({
					url: '/pages/template/comment/reply'
				});
			},
			// 点赞
			getLike(index) {
				this.commentList[index].isLike = !this.commentList[index].isLike;
				if (this.commentList[index].isLike == true) { 
					this.commentList[index].likeNum++;
				} else {
					this.commentList[index].likeNum--;
				}
			},
			// 评论列表
			getComment() {
				
			}
		}
	};
</script>

<style lang="scss" scoped>
	.pages {
		display: flex;
		
		.comment{
			width: 100vw;
			 background-color: #fff;
			 margin-bottom: 20rpx;
			 padding: 20rpx;
			.left {
				image {
					width: 64rpx;
					height: 64rpx;
					border-radius: 50%;
					background-color: #f2f2f2;
				}
			}
			
			.right {
				width: 80vw;
				padding-left: 20rpx;
				font-size: 30rpx;
			
				.top {
			
					.name {
						color: #333;
						// font-size: 28rpx;
						line-height: 1.4;
						margin-bottom: 10rpx;
					}
			
					.like {
						display: flex;
						align-items: center;
						color: #9a9a9a;
						font-size: 26rpx;
			
						.num {
							margin-right: 4rpx;
							color: #9a9a9a;
						}
					}
			
					.highlight {
						color: #5677fc;
			
						.num {
							color: #5677fc;
						}
					}
				}
			
				.ccontent {
					margin: 20rpx 0;
					background-color: #fafafa;
					border-radius: 12rpx;
					padding: 20rpx;
				}
			.replyname{
				color: #5677fc;
			}
				.reply-box {
					background-color: #fafafa;
					border-radius: 12rpx;
			
					.item {
						padding: 20rpx;
						// border-bottom: solid 2rpx $u-border-color;
			
						.username {
							font-size: 24rpx;
							color: #999999;
						}
					}
					
					.all-reply {
						padding: 20rpx;
						display: flex;
						color: #5677fc;
						align-items: center;
			
						.more {
							margin-left: 6rpx;
						}
					}
				}
			
				.bottom {
					margin-top: 20rpx;
					display: flex;
					font-size: 24rpx;
					color: #9a9a9a;
			
					.reply {
						color: #5677fc;
						margin-left: 10rpx;
					}
				}
			}
			
		}
		
		.footer {
			position: fixed;
			background-color: #fff;
			left: 0rpx;
			bottom: 0rpx;
			width: 100vw;
			height: 88rpx;
			line-height: 80rpx;
			padding: 0 30rpx;
		}

		.content {
			padding: 40rpx 30rpx;
			// width: 460rpx;
			// height: 460rpx;
			background-color: #fff;
			border-radius: 14rpx;
			padding: 40rpx;

			.InputBox {
				width: 570rpx;
				min-height: 216rpx;
				margin: 48rpx 0;
				background-color: #fff;
				border-radius: 12rpx;
				padding: 0 20rpx;
			}

			.cm_time {
				margin-top: 20rpx;
			}
		}
	}
</style>
