<template>
	<view class="page">
		<web-view class="webview" :src="src"></web-view>
		<!-- <rich-text :nodes="text"></rich-text> -->
	</view>
</template>

<script>
	export default {
		data() {
			return {
				text:'',
				src:''
			};
		},
		onLoad(){
			const src = uni.getStorageSync('ys');
			this.src = src
		}
	}
</script>

<style lang="scss">
	.page{
		padding: 20rpx;
	}
</style>
