<template>

	<view>
		<view class="pages u-skeleton">
			<!-- <view> -->
			<!-- <tui-skeleton v-if="skeletonShow" backgroundColor="#f9f9f9" skeletonBgColor="#efefef" borderRadius="0rpx"></tui-skeleton> -->
			<view class="orderItemsBox">
				
				<block v-for="(item, ind) in currentOrder" :key="ind">
					<view class="cm_bdb flex  flex_center proItemTop" @click="_hrefStore(item.shop_id)">
						<u-avatar :src="item.shop_logo" :size="46"></u-avatar>
						
						<view class="cm_title f1" style="margin-left: 10rpx;">{{ item.shop_name }}</view>
						<!-- <Icon name="arrowright" :size="16"></Icon> -->
						<u-icon name="arrow-right" :size="16"></u-icon>
					</view>
					<view class="picBox">
						<view class=" flex  flex_center " style="align-items: flex-start;" >
							<!-- <view class="picBox flex  flex_center" >						 -->
							<image :src="item.project_img" mode="aspectFill" class="avatar" lazy-load="true"></image>					
							<view class="f1 u-flex u-col-top " style="height: 180rpx;">
								<view class="u-flex-1">
									<view class="    name cm_ellipsis2 text" >{{ item.project_name }}</view>
									<view class=" cm_time  cm_ellipsis2 text"  >{{ item.project_spec.difference }}</view>
								</view>
								<view class="u-flex-y u-row-right" style="align-items: flex-end;margin-left: 20rpx;">
									<text class="cm_title name text"><text style="font-size: 18rpx;">￥</text>{{ item.project_raise_price }}</text>
									<view class="u-flex text" style="height: 40rpx;" >
										<u-icon name="close" :size="24" color="#999"></u-icon>
										<view class="cm_time u-font-24">{{ item.project_num }}</view>
									</view>	
								</view>
							</view>
							
							<!-- </view> -->
						</view>
					<!-- 	<view class="flex flex_center contentBox cm_bdt">
							<view class="f1"></view>
							<u-button  size="mini" shape="circle"  @click="_refund(it)" v-if=" currentOrder.order_status!=0 && it.is_refund==0">退货退款</u-button>
							<text style="color: #E56D00;" @click="_refundDetail(it)" v-if=" currentOrder.order_status!=0 && it.is_refund!=0">{{it.is_refund | is_refundFilter}}</text>
						</view> -->
					</view>
				</block>
			
			
				<view class="msgBox">
					<u-cell-group>
						<u-cell-item title="商品金额" arrow-direction="right" :value="`￥${allPrize}`" :border-bottom="false"></u-cell-item>
						<u-cell-item title="运费" arrow-direction="right" :value="`￥${0}`" :border-bottom="false"></u-cell-item>
						<u-cell-item title="服务费用" arrow-direction="right" :value="`￥${servePay}`" :border-bottom="false"></u-cell-item>
						<u-cell-item title="支付金额" arrow-direction="right" :value="`￥${allAccount}`" :border-bottom="false"></u-cell-item>
					<!-- 	<u-cell-item title="商品金额" arrow-direction="right" :value="allPrize" :border-bottom="false"></u-cell-item>
						<u-cell-item title="商品金额" arrow-direction="right" :value="allPrize" :border-bottom="false"></u-cell-item> -->
					</u-cell-group>
				</view>
			</view>

			<view class="footer savebottom  ">
				<view class="flex flex_center " style="padding: 0 30rpx;height: 100rpx;">

					<view class=" flex flex_center">
						<view class=""><text>合计:</text></view>
						<text class="cm_price">￥{{ allAccount }}</text>
					</view>
					<view class="f1"></view>
					<button class="submit" @click="submit">提交订单</button>
				</view>
			</view>
			<u-top-tips ref="uTips" :navbar-height="0"></u-top-tips>
			<u-toast ref="uToast" />	
			<!-- </view> -->
			<!-- <tui-modal :show="modal" @click="handleClick" @cancel="hide" :title="title" :content="content" :maskClosable="false" color="#333" :size="32"></tui-modal> -->
			<PayPanel ref="payPanel" :oderId="oderId" :amout="allAccount"  @success="success"  @cancel="cancel"></PayPanel>
		</view>
		<u-skeleton :loading="pageLoading" :animation="true" bgColor="#FFF"></u-skeleton>
	</view>
</template>

<script>
	// import tuiSkeleton from '@/components/tui-skeleton/tui-skeleton';
	// import tuiListView from '@/components/list-view/list-view';
	// import tuiListCell from '@/components/list-cell/list-cell';
	import tuiNumberbox from '@/components/numberbox/numberbox';
	import PayPanel from '@/components/PayPanel/PayPanel';
	import Utils from '@/common/utils.js';
	import {
		mapState
	} from 'vuex';

	export default {
		data() {
			return {
				payWay: 0, //支付方式 0-账户余额 1-支付宝 2-微信 3-购物券
				skeletonShow: true,
				loading: false,
				currentAddress: '',
				// currentCode:'',
				 orderParams : {
					"create_order_type": "0", //下单方式 0-通常下单 1-购物车下单
					"cart_code": "", //购物车编码
					"goods_code": "", //商品编码
					"skus_code": "", //规格sku
					"goods_num": 10, //商品数量
					"user_address_code": "", //消费者地址编码
				},
				// 支付参数
				payParams: {
					pay_type: 0, //1-支付宝 2-微信
					pay_source: 0, //0-定额充值 1-聚友手续费 2-粉丝手续费 3-VIP手续费
					order_num: '' //订单号
				},
				title: '洁利来商城提醒您',
				content: '',
				allEms: 0, //运费
				modal: false,
				oderId: '',
				pageLoading: true,
				currentOrder:''
			};
		},
		onLoad(options) {
			
			this.orderParams.create_order_type = options.type;
			this.pageLoading = false

			let that = this;
			this.currentOrder  = uni.getStorageSync('creatOrder')
			console.log(333, this.currentOrder);
			// uni.$on('refresh_sureAuction', item => {
			// 	that.currentAddress = item;
			// 	that.calcEms()
			// });
			// uni.$on('refresh_addressList', item => {
			// 	that.loadAddress();
			// });	
			// this.loadAddress();

		},
		onShow() {

		},
		components: {
			// tuiListView,
			// tuiListCell,
			tuiNumberbox,
			// tuiSkeleton,
			PayPanel
		},
		computed: {
			// ...mapState(['currentOrder']),
			allPrize() {
				let s = 0;
				if(this.currentOrder.length){
					this.currentOrder.forEach(item => {
						if (item.project_parameter_type == 1) {
							s += Number(item.project_spec.price) * item.project_num;
						} else {
							s += Number(item.project_raise_price) * item.project_num;
						}
					
					
					});
					return s.toFixed(2);
				}else{
					return 0
				}
				
			},
			allAccount() {
				let s = Number(this.allEms) + Number(this.allPrize) + Number(this.servePay);
				return s.toFixed(2);
			},
			// 所有服务费
			servePay() {
				let s = 0
				if(this.currentOrder.length){
					this.currentOrder.forEach(item => {
						if (item.project_service1.service_code) {
							s += item.project_service1.service_price * item.project_num
						}
						if (item.project_service2.service_code) {
							s += item.project_service2.service_price * item.project_num
						}
						if (item.project_service3.service_code) {
							s += item.project_service3.service_price * item.project_num
						}
					})
					return s
				}else{
					return 0
				}
			},
		},
		methods: {
			// 计算邮费
			async calcEms() {
				let that = this;
				try {


					let d = {
						pjc: [],
						prc: [],
						pjn: []
					}
					this.currentOrder.forEach(item => {
						d.pjc.push(item.project_code)
						d.prc.push(item.project_spec.id)
						d.pjn.push(item.project_num)
					})
					let data = {
						"goods_code": d.pjc.join(','),
						"user_id": d.prc.join(','),
						"goods_num": d.pjn.join(','),
						"user_address_code": this.currentAddress.address_code,
					}
					// debugger
					this.$ui.showloading()
					let res = await this.$api.GetEmsPrice(data);
					this.$ui.hideloading()
					// console.log(data)
					if (res.Success) {
						that.allEms = res.Data
					} else {
						that.$ui.toast(res.Msg);
					}
				} catch (err) {
					console.log('请求结果false : ' + err);
				}
			},
			_switchWay(k) {
				this.orderParams.pay_type = k;
			},
			handleClick(e) {
				let index = e.index;
				if (index === 0) {
					// this.tui.toast("你点击了取消按钮")
				} else {
					// this.tui.toast("你点击了确定按钮")
					this._sure();
				}
				this.modal = false;
			},
			//地址列表
			async loadAddress(type, callback) {
				// alert(1)
				let that = this;
				try {
					let res = await this.$api.GetAddressList({
						pageIndex: 1,
						pageSize: 100
					});
					// console.log(res)
					if (res.Success) {
						let list = res.Data.Rows;
						if (list.length > 0) {
							// 存在地址
							that.currentAddress = list[0];
							// 计算邮费
							that.calcEms();
						} else {
							that.currentAddress = '';
						}
						that.skeletonShow = false;
					} else {
						that.$ui.toast(res.Msg);
					}
				} catch (err) {
					console.log('请求结果false : ' + err);
				}
				// this.loadModal = false;
				// this.$ui.hideloading();
				if (callback) callback();
			},
			// 切换地址
			_switchAddress() {
				uni.navigateTo({
					url: '/pages/features/adress/adress?action=switch'
				});
			},
			async submit(callback) {
				// if (!this.currentAddress) {
				// 	this.$ui.toast('请选择地址');
				// 	return;
				// }
				

				// if(this.item.is_ems>0){
				// 	this.modal =  true
				// 	return
				// }
				this._sure();
			},
			// 确认支付
			async _sure() {
				let that = this;
				// this.$ui.toast('暂未开放');
				// return;
				try {
					let d = {
						pjc: [],
						prc: [],
						pjn: [],
						cart: []
					}
					this.currentOrder.forEach(item => {
						d.pjc.push(item.project_code)
						d.prc.push(item.project_spec.id)
						d.pjn.push(item.project_num)
						d.cart.push(item.cart_code)
					})
					this.orderParams.goods_code = d.pjc.join(',')
					this.orderParams.skus_code = d.prc.join(',')
					this.orderParams.goods_num = d.pjn.join(',')
					// this.orderParams.user_address_code = this.currentAddress.address_code;
					if (this.orderParams.create_order_type == 1) {
						this.orderParams.cart_code = d.cart.join(',')
					}
					// goods_service_code
					let s = [];

					this.currentOrder.forEach(item => {
						let a = []
						a.push(item.project_service1.service_code ? item.project_service1.service_code : '')
						a.push(item.project_service2.service_code ? item.project_service2.service_code : '')
						a.push(item.project_service3.service_code ? item.project_service3.service_code : '')
						s.push(a.join(','))
					});
					this.orderParams.goods_service_code = s

					// return
					// console.log(this. orderParams )
					// this.orderParams.project_code = Object.values(s).join(',');
					this.$ui.showloading('订单生成中');
					let res = await this.$api.CreateOrder(this.orderParams , false);
					this.$ui.hideloading();
					// console.log(res);
					if (res.Success) {
						that.payParams.order_num = res.Data.order_code;
						// that.payParams.order_num ='H7280202001140330267942143'
						// that.$ui.toast('订单创建成功');
						that.$refs.uToast.show({
							title: '订单创建成功',
							type: 'success',
							position: 'bottom'
						})	

						setTimeout(() => {
							if (that.orderParams.create_order_type == 1) {
								uni.$emit('refresh_cart')
							}
							that._readyToPay(res.Data.order_code);
						}, 500)

					} else {
						that.$ui.toast(res.Msg);
						// 重定向到代付款
						uni.redirectTo({
							url: '/pages/features/order/orderList/orderList'
						});
					}
					// if (callback) callback();
				} catch (err) {
					console.log('请求结果false : ' + err);
				}
			},
			_readyToPay(ordercode) {
				this.oderId = ordercode
				let that = this;
				this.$refs.payPanel._show()
				// uni.showActionSheet({
				// 	itemList: ['微信支付'],
				// 	success: function(res) {
				// 		uni.showToast({
				// 			title:'开发中'
				// 		})
				// 		// that._pay(res.tapIndex);
				// 	},
				// 	fail: function(res) {
				// 		console.log(res.errMsg);
				// 		uni.redirectTo({
				// 			url:'/pages/features/order/order?current=1'
				// 		})
				// 	}
				// });
			},
			// 支付接口
			success(order) {
				// alert(this. orderParams )
				// console.log(this.orderParams )
				// uni.redirectTo({
				// 	url: '/pages/features/order/orderDetail/orderDetail?code=' + order
				// });
				uni.redirectTo({
					url: '/pages/features/inventory/inventory'
				});
			},
			cancel(order) {
				// uni.redirectTo({
				// 	url: '/pages/features/order/orderDetail/orderDetail?code=' + order
				// });
				uni.redirectTo({
					url: '/pages/features/inventory/inventory'
				});
			}
		}
	};
</script>

<style lang="scss" scoped>
	.pages {
		padding: 20rpx;

		.addressBox {
			background: #fff;
			border-radius: 12rpx;
			padding: 20rpx;

			.top {
				height: 54rpx;
				line-height: 54rpx;
				padding-right: 20rpx;
			}

			.adress {
				margin-top: 10rpx;
				font-size: 28rpx;
			}

			.noItems {
				line-height: 100rpx;
				text-align: center;
			}
		}
		
		.proBox{
			margin-top: 16rpx;
			border-radius: 12rpx;
			overflow: hidden;
		}
		.msgBox{
			margin-top: 20rpx;
		}
		.itemBoxTop {
			padding: 24rpx 20rpx;
			padding-bottom: 0;

			background: #fff;

			.shopu-icon {
				width: 56rpx;
				height: 56rpx;
				border-radius: 50%;
				margin-right: 14rpx;

			}
		}

		.lists {
			margin-top: 16rpx;
			border-radius: 12rpx;
			overflow: hidden;
		}

		.footer {
			position: fixed;
			width: 100%;
			min-height: 100rpx;
			left: 0;
			bottom: 0;
			background: #fff;
			z-index: 200;

			// padding: 0 30rpx;
			// padding-bottom: env(safe-area-inset-bottom);
			.submit {
				padding: 0 40rpx;
				line-height: 68rpx;
				height: 68rpx;
				border-radius: 34rpx;
				background: #da1a0f;
				color: #fff;
				margin-left: 40rpx;
				font-size: 30rpx;
			}
		}
	}
</style>
