<template>
	<view class="pages">
		<image src="../../../static/sy/sy_bg.jpg" class="bg" mode="widthFix"></image>
		<view class="u-p-20" style="margin-top:-30rpx;">
			<u-button shape="circle" @click="_detail" type="primary">立即购买</u-button>
		</view>

		<u-mask :show="show" @click="show = false">
			<view class="warp">
				<view class="rect u-flex-y" @click.stop>
					<view class="maskHeader">
						{{modalMsg.content}}
					</view>
					<view class="u-flex-1 u-flex-y">
						<image class="maskPic" :src="modalMsg.src" mode="widthFix"></image>
					</view>
				</view>
				<image src="../../../static/img/sy_gb.png" mode="scaleToFill" style="width: 100rpx;height: 100rpx;"></image>
			</view>
		</u-mask>
		<u-top-tips ref="uTips" :z-index="10100" :navbar-height="0"></u-top-tips>
		<u-toast ref="uToast" />
	</view>
</template>

<script>
	import {
		mapState
	} from 'vuex'
	const global_Set_zdjy = uni.getStorageSync('global_Set_zdjy');
	export default {
		data() {
			return {
				baseKey: 'GetCourseList',
				show: false,
				banners: [],
				iconList: [],
				tableList: [],
				list: [1],
				lists: [],
				modalMsg: {
					content: '',
					src: ''
				},
				hasRow: 'ListInfo',
				listForm: {
					date: 10
				},
				demoList: []
			}
		},
		computed: {
			// 将vuex的state中的所有变量，解构到全局混入的mixin中
			...mapState(['currentAction', 'inBunding'])
		},

		onPullDownRefresh() {
			this.listForm.date = 10;
			this.lists = [];
			this._loadList('refresh');
		},
		// 上拉加载
		onReachBottom() {
			if (this.loadStatus == 'noMore') {
				return;
			}
			this.listForm.date += 3;
			this.loadStatus = 'loading';
			this._loadList('add');
			// uni.$emit('uOnReachBottom')

		},
		onLoad(options) {
			let that = this

			uni.$on('Bunding', (msg) => {
				// console.log('111'+msg)
				uni.removeStorageSync('inBunding')
				if (msg) {
					that.$refs.uToast.show({
						title: msg ? msg : '身份错误',
						type: 'error',
						position: 'bottom',
						callback: () => {
							uni.navigateTo({
								url: `/pages/role/wxBunding/wxBunding`
							})
						}
					})
				} else {
					uni.navigateTo({
						url: `/pages/role/wxBunding/wxBunding`
					})
				}

			})
			this.banners = global_Set_zdjy.banerList
			this.iconList = global_Set_zdjy.iconList;
			this.tableList = global_Set_zdjy.coursetable;
			this._loadList('refresh');
			// #ifdef H5
			uni.preloadPage({
				url: "/pages/features/share/share"
			});
			// #endif

			this.test()
		},
		methods: {
			async test() {
				let data = [{
						name: '1',
						list: [{
								name: '1-1',
								list: [{
										name: '1-1-1',
										list: [

										]
									},
									{
										name: '1-1-2',
										list: [

										]
									},
									{
										name: '1-1-3',
										list: [

										]
									}
								]
							},
							{
								name: '1-2',
								list: [{
										name: '1-2-1',
										list: [

										]
									},
									{
										name: '1-2-2',
										list: [

										]
									}
								]
							},
						]
					},
					{
						name: '2',
						list: [{
								name: '2-1',
								list: [{
										name: '2-1-1',
										list: [

										]
									},
									{
										name: '2-1-2',
										list: [

										]
									}
								]
							},
							{
								name: '2-2',
								list: [

								]
							}
						]
					}
				]
				let that = this
				// let res = this._test(data)
				// console.log('res',this.demoList)
				let  ps = []
				let res2 = this._test2(ps,data)
				console.log('res2', ps)
				Promise.all([...ps]).then(res=>{
					console.log(res)
				})
				
				
			},
			async _test2(ps,data) {
				let that = this
				data.map(async item => {
					// console.log(0)
					if (item.list.length) {
						that._test2(ps,item.list)
					}
					let p = new Promise((resolve) => {
						setTimeout(() => {	
							console.log(1)
							item.check = true;	
							resolve(true)
						}, 1000)
					})
					ps.push(p)
				})
				// return data
			},
			async _test(data) {
				let that = this
				return new Promise((resolve) => {
					data.map(item => {
						that.demoList.push({
							name: item.name,
							index: this.demoList.length + 1
						})
						if (item.list.length) {

							return this._test(item.list)
						}
					})
				})
			},

			_detail() {

			},
			click(index) {
				// debugger
				this._config_href(this.banners[index]);

			},
			async _loadList(type) {
				let that = this;
				try {
					let res = await this.$api[this.baseKey](this.listForm)
					// console.log(res);
					if (type == 'add') {
						that.loadStatus = 'loading';
					} else {
						uni.stopPullDownRefresh();
					}
					if (res.Success) {
						if (type == 'add') {
							// 加载更多
							if (that.hasRow) {
								that.lists = that.lists.concat(res.Data[that.hasRow]);
								if (res.Data[that.hasRow].length < that.listForm.date) {
									that.loadStatus = 'noMore';
									// 没有数据了
								} else {
									that.loadStatus = 'more';
								}
							} else {
								debugger
								that.lists = that.lists.concat(res.Data);
								if (res.Data.length < that.listForm.date) {
									that.loadStatus = 'noMore';
									// 没有数据了
								} else {
									that.loadStatus = 'more';
								}
							}
						} else {
							// 刷新
							if (that.hasRow) {
								that.lists = res.Data[that.hasRow];
								if (res.Data[that.hasRow].length < that.formParams.pageSize) {
									that.loadStatus = 'noMore';
									// 没有数据了
								} else {
									that.loadStatus = 'more';
								}

							} else {
								that.lists = res.Data
								if (res.Data.length < that.formParams.pageSize) {
									that.loadStatus = 'noMore';
									// 没有数据了
								} else {
									that.loadStatus = 'more';
								}
							}
							that.refreshing = false
						}
						that.loadDataComplete(true, res.Data)
					} else {
						that.$ui.toast(res.Msg);
						that.loadDataComplete(false, res.Data)
					}
					that.pageLoading = false
				} catch (err) {
					console.log('请求结果false : ' + err);
					that.loadStatus = 'more';
					that.loadDataComplete(false)
					that.pageLoading = false
				}
			},
			// 二维码显示
			showModal(k) {
				switch (k) {
					case 1:
						if (!this.hasLogin) {
							this._login();
							break;
						}
						this.modalMsg = {
							content: '长按识别二维码，添加专属老师微信号进行报名',
							src: this.userInfo.consumer_qr_code
						}
						this.show = true
						break;
					case 2:
						this.modalMsg = {
							content: '长按识别二维码，关注微信公众号订阅开课通知',
							src: global_Set_zdjy.RQ_CodeList[0].Text
						}
						this.show = true
						break;
					default:
						break;
				}
			}
		},
	}
</script>

<style lang="scss" scoped>
	// body{
	// 	background-color: #f5e3d5;
	// }

	.pages {
		width: 100vw;
		// min-height:95vh;
		min-height: calc(100vh - 100rpx);
		// padding-bottom: 80rpx;
		background: #f5e3d5;

		.bg {
			width: 100vw;
			height: auto;
		}

		.header {
			height: 88rpx;
			width: 100vw;
			background-color: #fff;
			padding: 0 40rpx;
		}

		.banner {
			// margin-top: 20rpx;
			width: 100vw;
			height: 360rpx;
		}

		.menus {
			margin-bottom: 20rpx;
			background-color: #fff;

			.grid-text {
				font-size: 24rpx;
				color: #333;
			}
		}

		.classBox {
			padding: 20rpx;
			background-color: #fff;
			width: 100%;
			margin-bottom: 20rpx;
		}

		.listBox {
			padding: 20rpx;
			background-color: #fff;
			width: 100%;

			.title {
				line-height: 60rpx;
				text-align: center;
				font-weight: 600;
			}

			.subTitle {
				padding: 24rpx 0;
				font-size: 30rpx;
				font-weight: 600;
			}

			.listItems {
				margin-bottom: 20rpx;

				.items {
					background-color: #fff;
					margin-bottom: 16rpx;
					overflow: hidden;
					position: relative;
					height: 400rpx;

					.preBox {
						width: 100%;
						height: 288rpx;
						border-radius: 12rpx;
						overflow: hidden;
						position: relative;
						margin-bottom: 6rpx;

						.itemPre {
							width: 100%;
							height: 100%;
							border-radius: 12rpx;
						}

						.tips {
							position: absolute;
							right: 20rpx;
							top: 20rpx;
							height: 36rpx;
							line-height: 36rpx;
							color: #fff;
							border-radius: 18rpx;
							font-size: 20rpx;
							background: rgba(0, 0, 0, .4);
							padding: 0 10rpx;
						}

						.mark {
							width: 140rpx;
							height: 30rpx;
							line-height: 30rpx;
							color: #fff;
							font-size: 22rpx;
							text-align: center;
							position: absolute;
							left: -38rpx;
							top: 12rpx;
							transform: rotate(-45deg);
						}
					}


				}
			}

		}

		.warp {
			display: flex;
			flex-direction: column;
			align-items: center;
			justify-content: center;
			height: 100%;

			.rect {
				width: 90vw;
				height: 790rpx;
				border-radius: 12rpx;
				overflow: hidden;
				background-color: #fff;

				.maskHeader {
					width: 100%;
					background: linear-gradient(to top, #248EE9, #54ABF6);
					padding: 32rpx 53rpx;
					color: #fff;
				}

				.maskPic {
					width: 476rpx;
					height: 476rpx;
					margin: 30rpx auto;
				}
			}
		}



	}
</style>
