<template>
	<view class="page">
		<view class="u-menu-wrap">
			<scroll-view scroll-y scroll-with-animation class="u-tab-view menu-scroll-view" :scroll-top="scrollTop"
			 :scroll-into-view="itemId">
				<view v-for="(item,index) in tabbs" :key="index" class="u-tab-item u-flex" :class="[current == index ? 'u-tab-item-active' : '']"
				 @click.stop="swichMenu(index)">
					<text class="u-line-1 title">{{item.course_title}}</text>
				</view>
			</scroll-view>
			<scroll-view :scroll-top="scrollRightTop" scroll-y scroll-with-animation class="right-box" @scroll="rightScroll">
				<view class="page-view">
					<block v-for="(item , index) in tabbs" :key="index">
						<!-- 热门推荐 -->
						<view class="class-item" id="item0" v-if="index==0">
							<view class="item-title u-flex">
								<text class=" item-menu-name">{{item.course_title}}</text>
								<view class="u-flex-1"></view>
								<!-- <text class="cm_time">持续更新中...</text> -->
							</view>
							<view class="listItems">
								<u-row gutter="16">
									<block v-for="(it, ids) in item.list" :key="ids">
										<u-col span="4">
											<view class="items" @click="_auth_href('/pages/features/audioDetail/audioDetail?code='+ it.catalogue_code)">
												<view class="preBox">
													<image class="itemPre" :src="it.course_main_img" mode="aspectFill"></image>
													<!-- <text class="tips">{{it.watch_count}}人观看</text> -->
													<view class="mark" :class="'mark'+(ids+1)">{{ids+1}}</view>
													<view class="itemTitle">{{it.course_title}}</view>
												</view>
												<!-- <view class="u-font-28 cm_ellipsis">{{it.course_title}} </view> -->
												<text class=" u-font-22">{{it.watch_count}}人观看</text>
												<!-- <view class="cm_text u-font-24 cm_ellipsis2" style="height: 50rpx;">{{it.catalogue_name}} </view> -->
											</view>
										</u-col>
									</block>
								</u-row>
							</view>
						</view>
						<!-- 普通课程 -->
						<view class="class-item" :id="'item' + index" v-else :key="index">
							<view class="item-title u-flex">
								<text class=" item-menu-name">{{item.course_title}}</text>
								<view class="u-flex-1"></view>
								<text class="cm_time">持续更新中...</text>
							</view>
							<view class="item-container">
								<view class="u-flex" style="margin-bottom: 20rpx;" @click="_auth_href('/pages/features/audioDetail/audioDetail?code='+ item.list[0].catalogue_code)">
									<image class="clasPic" :src="item.course_main_img" mode="aspectFill"></image>
									<view class="u-flex-1  u-flex-y u-col-top" style="height: 204rpx;">
										<view class="u-flex ">
											<text class="cm_title">{{ item.course_title}} </text>
											<text class="tags" :style="{'background':item.course_label_color}">{{item.course_label}}</text>
										</view>
										<view class="text tigs" style="margin-top: 20rpx;">{{ item.learn_count}}人观看</view>
										<view class="cm_text" style="margin-top: 20rpx;">已更新至{{ item.catalogue_count}}节</view>
										<view class="u-flex-1"> </view>
									</view>
								</view>
								<view style="margin-top: 20rpx;width: 100%;">
									<view class="thumb-box" v-for="(item1, index1) in item.list" :key="index1">
										<view class="u-flex cells" hover-class="hover" @click="_auth_href('/pages/features/audioDetail/audioDetail?code='+ item1.catalogue_code)">
											<view style="width: 80rpx;">
												<text class=" zuixin" v-show="index1==0">最新</text>
											</view>
											<view class="u-flex-1  cm_ellipsis" :class="{cm_bdb:index1!=item.list.length-1}" style="height: 72rpx;width:60vw;">{{item1.catalogue_name}}</view>
										</view>
									</view>
								</view>

							</view>
						</view>
					</block>
				</view>
			</scroll-view>
		</view>
	</view>
</template>
<script>
	// import classifyData from '@/common/classify.data.js';
	export default {
		data() {
			return {
				baseKey: 'GetClassCourseDetailsList',
				hasRow: 'ListInfo',

				scrollTop: 0, //tab标题的滚动条位置
				oldScrollTop: 0,
				current: 0, // 预设当前项的值
				menuHeight: 0, // 左边菜单的高度
				menuItemHeight: 0, // 左边菜单item的高度
				itemId: '', // 栏目右边scroll-view用于滚动的id
				lists: [],
				tabbs: [],
				menuItemPos: [],
				arr: [],
				scrollRightTop: 0, // 右边栏目scroll-view的滚动条高度
				timer: null, // 定时器
				tuijianList: []
			}
		},
		onLoad() {
			// this._loadData('refresh')
			this._loadHot('refresh')
		},
		onReady() {
			this.getMenuItemTop()
		},
		methods: {
			// 加载推荐数据
			async _loadHot() {
				let that = this;
				try {
					let res = await this.$api.GetClassCourseList({
						type: 1
					});

					if (res.Success) {
						that.tuijianList = res.Data.ListInfo
						that._loadData('refresh')
					} else {

					}
				} catch (err) {
					console.log('请求结果false : ' + err)

				}
			},
			loadDataComplete() {
				this.lists.unshift({
					// catalogue_count: 0,
					// course_label: "免费",
					// course_label_color: "#FF8C00",
					// course_main_img: "http://shop.fjdmll.com/upload/cmslinkimage/308F326F881C8757EBF2CF6C6A861.jpg",
					// course_short_title: "保养 养生",
					// course_status: "1",
					course_title: "热门推荐",
					learn_count: 0,
					list: [...this.tuijianList]
				})

				// console.log(this.lists)
				this.tabbs = [...this.lists]
				// console.log(this.tabbs)
			},
			// 点击左边的栏目切换

			async swichMenu(index) {

				// alert(index)
				if (this.arr.length == 0) {
					await this.getMenuItemTop();
				}

				if (index == this.current) return;
				this.scrollRightTop = this.oldScrollTop;
				this.$nextTick(function() {
					this.scrollRightTop = this.arr[index];
					this.current = index;

					this.leftMenuStatus(index);
				})
			},
			// 获取一个目标元素的高度
			getElRect(elClass, dataVal) {
				new Promise((resolve, reject) => {
					const query = uni.createSelectorQuery().in(this);
					query.select('.' + elClass).fields({
						size: true
					}, res => {
						// 如果节点尚未生成，res值为null，循环调用执行
						if (!res) {
							setTimeout(() => {
								this.getElRect(elClass);
							}, 10);
							return;
						}
						this[dataVal] = res.height;
						resolve();
					}).exec();
				})
			},
			// 观测元素相交状态
			async observer() {
				this.tabbar.map((val, index) => {
					let observer = uni.createIntersectionObserver(this);
					// 检测右边scroll-view的id为itemxx的元素与right-box的相交状态
					// 如果跟.right-box底部相交，就动态设置左边栏目的活动状态
					observer.relativeTo('.right-box', {
						top: 0
					}).observe('#item' + index, res => {
						if (res.intersectionRatio > 0) {
							let id = res.id.substring(4);
							this.leftMenuStatus(id);
						}
					})
				})
			},
			// 设置左边菜单的滚动状态
			async leftMenuStatus(index) {
				this.current = index;
				// 如果为0，意味着尚未初始化
				if (this.menuHeight == 0 || this.menuItemHeight == 0) {
					await this.getElRect('menu-scroll-view', 'menuHeight');
					await this.getElRect('u-tab-item', 'menuItemHeight');
				}
				// 将菜单活动item垂直居中
				this.scrollTop = index * this.menuItemHeight + this.menuItemHeight / 2 - this.menuHeight / 2;
			},
			// 获取右边菜单每个item到顶部的距离
			getMenuItemTop() {
				new Promise(resolve => {
					let selectorQuery = uni.createSelectorQuery();
					selectorQuery.selectAll('.class-item').boundingClientRect((rects) => {
						// 如果节点尚未生成，rects值为[](因为用selectAll，所以返回的是数组)，循环调用执行
						if (!rects.length) {
							setTimeout(() => {
								this.getMenuItemTop();
							}, 10);
							return;
						}
						rects.forEach((rect) => {
							// 这里减去rects[0].top，是因为第一项顶部可能不是贴到导航栏(比如有个搜索框的情况)
							this.arr.push(rect.top - rects[0].top);
							resolve();
						})
					}).exec()
				})
			},
			// 右边菜单滚动
			async rightScroll(e) {
				this.oldScrollTop = e.detail.scrollTop;
				if (this.arr.length == 0) {
					await this.getMenuItemTop();
				}
				if (this.timer) return;
				if (!this.menuHeight) {
					await this.getElRect('menu-scroll-view', 'menuHeight');
				}
				// console.log(this.oldScrollTop,e.detail.scrollTop)

				setTimeout(() => { // 节流
					this.timer = null;
					// scrollHeight为右边菜单垂直中点位置
					// let scrollHeight = e.detail.scrollTop + this.menuHeight / 2;
					let scrollHeight = e.detail.scrollTop;
					// console.log(scrollHeight)
					for (let i = 0; i < this.arr.length; i++) {
						let height1 = this.arr[i];
						let height2 = this.arr[i + 1];
						// 如果不存在height2，意味着数据循环已经到了最后一个，设置左边菜单为最后一项即可
						if (!height2 || scrollHeight >= height1 && scrollHeight < height2) {

							this.leftMenuStatus(i);
							return;
						}
					}
				}, 10)
			}
		}
	}
</script>

<style lang="scss" scoped>
	.page {
		min-height: none;
		height: calc(100vh);
		/* #ifdef H5 */
		height: calc(100vh - 110rpx);
		// height: 90vh;
		/* #endif */
		display: flex;
		flex-direction: column;

		.u-search-box {
			padding: 18rpx 30rpx;
		}

		.u-menu-wrap {
			flex: 1;
			display: flex;
			overflow: hidden;
		}

		.u-search-inner {
			background-color: rgb(234, 234, 234);
			border-radius: 100rpx;
			display: flex;
			align-items: center;
			padding: 10rpx 16rpx;
		}

		.u-search-text {
			font-size: 26rpx;
			color: $u-tips-color;
			margin-left: 10rpx;
		}

		.u-tab-view {
			width: 200rpx;
			height: 100%;
		}

		.u-tab-item {
			height: 110rpx;
			background: #fff;
			box-sizing: border-box;
			display: flex;
			align-items: center;
			justify-content: center;
			font-size: 26rpx;
			color: #444;
			font-weight: 400;
			line-height: 1;
		}

		.u-tab-item-active {
			position: relative;
			color: #fff;
			font-size: 30rpx;
			font-weight: 600;
			background-color: #fafafa;

			.title {
				background: #2F96F3;
				color: #fff;
				font-size: 26rpx;
				padding: 0 20rpx;
				border-radius: 27rpx;
				height: 54rpx;
				line-height: 54rpx;
			}
		}


		.u-tab-view {
			height: 100%;
		}

		.right-box {
			background-color: rgb(250, 250, 250);
		}

		.page-view {
			padding: 16rpx;
		}

		.class-item {
			margin-bottom: 20rpx;
			background-color: #fff;
			padding: 0 20rpx;
			border-radius: 8rpx;

			.item-title {
				padding: 20rpx 0;

				.item-menu-name {
					color: $u-main-color;
					font-weight: normal;
					font-weight: bold;
					font-size: 30rpx;
					color: $u-main-color;
				}
			}

			.item-container {
				overflow: hidden;
				.clasPic {
					width: 154rpx;
					height: 204rpx;
					border-radius: 12rpx;
					margin-right: 20rpx;
				}

				.tags {
					height: 28rpx;
					line-height: 28rpx;
					border-radius: 14rpx;
					background-color: #EE7D33;
					color: #fff;
					font-size: 20rpx;
					padding: 0 20rpx;
					margin-left: 20rpx;
				}

				.text {
					font-size: 26rpx;
					line-height: 1.4;
				}

				.cm_title {
					color: #333;
					font-size: 30rpx;
					font-weight: 600;
					line-height: 1.6;
				}

				.cells {
					height: 72rpx;
					line-height: 72rpx;

					.zuixin {
						height: 24rpx;
						line-height: 24rpx;
						border-radius: 8rpx;
						background-color: #261403;
						font-size: 20rpx;
						color: #FBD6A3;
						padding: 0 10rpx;
						// margin-right: 20rpx;
					}

					&::last-child {}
				}

			}
		}

		.listItems {
			margin-bottom: 20rpx;

			.items {
				background-color: #fff;
				margin-bottom: 20rpx;
				.preBox {
					width: 100%;
					height: 204rpx;
					border-radius: 12rpx;
					overflow: hidden;
					position: relative;
					margin-bottom: 6rpx;
					.itemPre {
						width: 100%;
						height: 100%;
						border-radius: 12rpx;
					}
					.itemTitle {
						width: 100%;
						height: 42rpx;
						line-height: 42rpx;
						color: #fff;
						text-align: center;
						background: rgba(0, 0, 0, .4);
						position: absolute;
						left: 0;
						bottom: 0;
					}

					.tips {
						position: absolute;
						right: 20rpx;
						top: 20rpx;
						height: 36rpx;
						line-height: 36rpx;
						color: #fff;
						border-radius: 18rpx;
						font-size: 20rpx;
						background: rgba(0, 0, 0, .4);
						padding: 0 10rpx;
					}

					.mark {
						width: 34rpx;
						height: 38rpx;
						line-height: 30rpx;
						color: #fff;
						font-size: 22rpx;
						text-align: center;
						position: absolute;
						left: 14rpx;
						top: 0;
						// transform: rotate(-45deg);
					}
					.mark1 {
						background:url(../../../static/img/1.png) 0 0 /cover no-repeat;
					}
					.mark2 {
						background:url(../../../static/img/2.png) 0 0 /cover no-repeat;
					}
					.mark3 {
						background:url(../../../static/img/3.png) 0 0 /cover no-repeat;
					}
				}

				
			}
		}

		.class-item:last-child {
			min-height: 100vh;
		}







		.thumb-box {
			width: 100%;
			// margin-top: 20rpx;
		}

		.item-menu-image {
			width: 120rpx;
			height: 120rpx;
		}
	}
</style>
