// 此文件为uView的主题变量，这些变量目前只能通过uni.scss引入才有效，另外由于
// uni.scss中引入的样式会同时混入到全局样式文件和单独每一个页面的样式中，造成微信程序包太大，
// 故uni.scss只建议放scss变量名相关样式，其他的样式可以通过main.js或者App.vue引入

$u-main-color: #303133;
$u-content-color: #606266;
$u-tips-color: #909399;
$u-light-color: #c0c4cc;
$u-border-color: #e4e7ed;
$u-bg-color: #f3f4f6;


$u-type-primary: #DD3A30;
$u-type-primary-light: #fff9f5;	
$u-type-primary-disabled: #f5c6b0;
$u-type-primary-dark: #da642c;

// $u-type-primary: #2979ff;
// $u-type-primary-light: #ecf5ff;
// $u-type-primary-disabled: #a0cfff;
// $u-type-primary-dark: #2b85e4;
$u-type-warning: #2979ff;
$u-type-warning-disabled: #a0cfff;
$u-type-warning-dark:  #2b85e4;
$u-type-warning-light:#ecf5ff;

// $u-type-warning: #ff9900;
// $u-type-warning-disabled: #fcbd71;
// $u-type-warning-dark: #f29100;
// $u-type-warning-light: #fdf6ec;

$u-type-success: #19be6b;
$u-type-success-disabled: #71d5a1;
$u-type-success-dark: #18b566;
$u-type-success-light: #dbf1e1;




$u-type-error: #fa3534;
$u-type-error-disabled: #fab6b6;
$u-type-error-dark: #dd6161;
$u-type-error-light: #fef0f0;

$u-type-info: #909399;
$u-type-info-disabled: #c8c9cc;
$u-type-info-dark: #82848a;
$u-type-info-light: #f4f4f5;

$u-form-item-height: 70rpx;
$u-form-item-border-color: #dcdfe6;
