<template>
	<view class="pages">
		<view class="header u-flex-y">
			<u-avatar src="../../../static/img/logo.jpg" :size="200" mode="square"></u-avatar>
		</view>

		<view class="box">
			<u-form :model="registeParams" ref="uForm" label-width="50">
				<view class="inputs u-flex" title="">
					<text class="cm_text">邀请人：</text>
					<text class="u-flex-1 cm_text">{{invideMsg.consumer_nick_name?invideMsg.consumer_nick_name:'暂无邀请人'}}</text>
					<u-avatar v-if="invideMsg.consumer_head" :src="invideMsg.consumer_head" :size="60"></u-avatar>
				</view>
				<view class="inputs u-flex">
					<image src="../../../static/img/dl_sj.png" class="icons" mode="scaleToFill"></image>
					<view class="u-flex-1" style="height: 88rpx;">
						<u-form-item   prop="mobile" :border-bottom="false">
							<u-input v-model="registeParams.mobile" placeholder="请输入手机号码" @focus="_lock" @blur="_unlock" />

						</u-form-item>
					</view>

				</view>
				<view class="inputs u-flex">
					<image src="../../../static/img/dl_yzm.png" class="icons" mode="scaleToFill"></image>
					<view class="u-flex-1" style="height: 88rpx;">
						<u-form-item   prop="vilidate" :border-bottom="false">
							<u-input v-model="registeParams.vilidate" placeholder="请输入验证码" @focus="_lock" @blur="_unlock" />
							<view slot="right">
								<u-button size="mini" slot="right" shape="circle" type="primary" @click="getCode">{{codeText}}</u-button>
							</view>
						</u-form-item>
					</view>

				</view>

			</u-form>
			<u-verification-code ref="uCode" @change="codeChange"></u-verification-code>
			<!-- <view class="u-flex" style="margin-bottom: 72rpx;">
				<navigator open-type="redirect" url="/pages/role/register/register"> 注册用户</navigator>
				<view class="u-flex-1"></view>
			</view> -->
			<u-button shape="circle" @click="submit" :custom-style="{width:'100%',marginBottom:'32rpx'}" type="primary">立即注册</u-button>

			<!-- 	<view class="u-text-center">
				<navigator url="../mmLogin/mmLogin" open-type="redirect">密码登录</navigator>
			</view> -->

			<view class="footer cm_text u-flex" v-if="!lock">
				<text>注册登录代表您已同意中旦大学平台</text>
				<navigator url="../../features/aboutUs/aboutUs" style="color: #2F96F3;">《用户协议、隐私政策》</navigator>
			</view>
		</view>
		<u-top-tips ref="uTips" :navbar-height="0"></u-top-tips>
		<u-toast ref="uToast" />
	</view>
</template>

<script>
	import SET from '@/SET.js';
	export default {
		data() {
			return {
				// registeParams: {
				// 	"mobile": "", //手机号
				// 	"vilidate": "", //验证码
				// 	"openId": "", //openid
				// 	"wx_code_type": 0, //0-公众号 1-小程序(不传默认为0)
				// },
				registeParams:{
				    "mobile": "",//手机号
				    "password": "",//密码
				    "registe_type": "0",//注册类型 0-账号密码 1-手机号/微信注册 
				    "user_type": "2",//用户类型（中旦没用） 
				    "invitation": "",//推荐码
				    "vilidate": "",//手机验证码
				    "openId": "",//openid
				    "wx_code_type": "0",//0-公众号 1-小程序(不传默认为0)
				    "nickname": "",// 微信昵称
				    "headimgurl": "",// 微信头像
				},
				invideMsg: '',
				codeText: '',
				rules: {
					mobile: [{
							required: true,
							message: '请输入电话',
							// 可以单个或者同时写两个触发验证方式 
							trigger: ['blur'],
						},
						{
							validator: (rule, value, callback) => {
								return this.$u.test.mobile(value);
							},
							message: '请输入正确的电话号码',
							trigger: ['blur'],
						}
					],
					vilidate: [{
							required: true,

							message: '请输入有效验证码',
							// 可以单个或者同时写两个触发验证方式 
							trigger: ['blur'],
						},
						{
							min: 6,
							message: '长度在6位以上',
							trigger: ['blur'],
						},
					]
				}
			};
		},
		onReady() {
			this.$refs.uForm.setRules(this.rules);
		},
		onLoad() {
			let that = this
			const inviCode = uni.getStorageSync('inviCode')		
			const opId = uni.getStorageSync(SET.opIdName)
			const wxaccount = uni.getStorageSync('zdjy_miniAccount');
			this.registeParams.openId = opId;
			this.registeParams.nickname = wxaccount.nickName;
			this.registeParams.headimgurl = wxaccount.avatarUrl;
			
			// #ifdef H5
				this.registeParams.wx_code_type = 0;
			// #endif
			// #ifdef MP
				this.registeParams.wx_code_type = 1;
			// #endif
			
			if (inviCode) {
				this.registeParams.invitation = inviCode
				this.$nextTick(function() {
					that.$refs.uTips.show({
						title: `发现邀请码：${inviCode}`,
						type: 'primary',
						duration: '1000'
					})
					that.loadInvide(inviCode)
				})
				
			}
		},
		methods: {
			async loadInvide(inviCode) {
				let that = this
				try {
					that.$ui.showloading()
					let res = await this.$api.GetParentInfo({
						invitation: inviCode
					});
					that.$ui.hideloading()
					console.log(res)
					if (res.Success) {
						that.invideMsg = res.Data

					} else {
						this.$refs.uToast.show({
							title: res.Msg ? res.Msg : '未找到邀请人',
							type: 'error',
							position: 'bottom'
						})
					}
				} catch (err) {
					that.$ui.hideloading()
					console.log('请求结果false : ' + err)

				}
			},
			_nav() {
				uni.redirectTo({
					url: '../mmLogin/mmLogin'
				})
			},
			submit() {
				// debugger
				let that = this
				// const inviCode = uni.getStorageSync('inviCode')
				// const inviCode = 'b7351d93'
				if (!this.registeParams.invitation) {
					that.$refs.uToast.show({
						title: '未发现邀请人',
						type: 'error'
					})
					return;
				} 
				this.$refs.uForm.validate(async valid => {
					that.registeParams.mobile = this.registeParams.mobile;
					// that.registeParams.mobile = this.registeParams.mobile;
					try {
						that.$ui.showloading()
						let res = await that.$api.userRegiste(that.registeParams)
						that.$ui.hideloading()
						if (res.Success) {			
							// that.autoLogin(this.registeParams.openId)	
							uni.setStorageSync(SET.tokenName, res.Data)
							that.$store.commit('userLogin');
							that.$store.dispatch('refreshUser');
							that.$refs.uToast.show({
								title: '注册成功',
								type: 'success',
								back: true,
							})
						} else {
							that.$ui.toast(res.Msg)
							that.loading = false
						}
						// console.log( '请求结果success : ' + JSON.stringify(res))
					} catch (err) {
						console.log('请求结果false : ' + err)
						that.loading = false
					}
				});
			},
			
			codeChange(text) {
				this.codeText = text;
			},
			async getCode() {
				let that = this
				if (this.$refs.uCode.canGetCode) {
					// 模拟向后端请求验证码
					uni.showLoading({
						title: '正在获取验证码'
					})
					if (!this.registeParams.mobile || !this.$u.test.mobile(this.registeParams.mobile)) {
						// this.$ui.toast('请输入正确的手机号码')
						this.$refs.uToast.show({
							title: '请输入正确的手机号码',
							type: 'warning',
							position: 'bottom'
						})
						uni.hideLoading()
						return;
					}
					let data = {
						mobile: this.registeParams.mobile,
						type: 1 //1,注册 2,登录 3,找回 4.银行卡 8-提现
					};
					try {
						let res = await this.$api.getVerificateCode(data);

						if (res.Success) {
							that.$refs.uCode.start();
							uni.hideLoading();
							that.$refs.uCode.start();
							that.$refs.uTips.show({
								title: '验证码发送成功',
								type: 'success',
								duration: '1000'
							})
						} else {
							uni.showToast({
								icon: 'none',
								title: res.Msg ? res.Msg : '发送失败',
							});
						}
					} catch (err) {
						console.log('请求结果false : ' + err)

					}

				} else {
					this.$u.toast('倒计时结束后再发送');
				}
			}
		}
	}
</script>

<style lang="scss" scoped>
	.pages {
		background-color: #fff;
		width: 100vw;

		.invideBox {
			height: 88rpx;
			line-height: 88rpx;
			border-radius: 156rpx;
			margin-bottom: 40rpx;
			background-color: #f1f1f1;
		}

		.header {
			height: 500rpx;
			width: 100vw;
		}

		.box {
			padding: 0 50rpx;

		}

		.inputs {
			height: 88rpx;
			line-height: 88rpx;
			border-radius: 44rpx;
			background-color: #F7F7F7;
			margin-bottom: 32rpx;
			padding: 0 20rpx;
		}

		.icons {
			width: 36rpx;
			height: 36rpx;
			margin-right: 10rpx;
			margin-left: 10rpx;
		}

		.footer {
			position: fixed;
			left: 0;
			bottom: 32rpx;
			width: 100vw;
			font-size: 22rpx;
		}
	}
</style>
